#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  53000, "Buscar texto"
  53001, "Texto a &buscar"
  53002, "Opciones"
  53003, "&Diferente may./minus."
  53004, "Buscar desde"
  53005, "&1ª página"
  53006, "&Página actual"
;--- PreviewForm resources ---------------------------------------------------
  53020, "Ancho de &Página"
  53021, "Página &completa"
  53022, "&Dos páginas"
  53023, "Cerrar vista previa"
  53024, "Zoom"
  53025, "Abrir informe"
  53026, "Grabar informe"
  53027, "Imprimir informe"
  53028, "Buscar texto"
  53029, "Editar página"
  53030, "Añadir página"
  53031, "Borrar página"
  53032, "Mostrar ayuda"
;--- PrintForm resources ---------------------------------------------------
  53040, "Imprimir"
  53041, "Impresora"
  53042, "Propiedades"
  53043, "&Copias:"
  53044, "Rango de páginas"
  53045, "&Todo"
  53046, "&Página actual"
  53047, "P&áginas:"
  53048, "Introduzca los números de página y/o rangos, separados por comas. Por ejemplo, 1,3,5-12"
;--- Strings resources -------------------------------------------------------
  SOk, "Ok"
  SCancel, "Cancelar"
  SYes, "Si"
  SNo, "No"
  SPg, "Página"
  SNotAssigned, "[Ninguno]"
  SBand1, "Titulo del informe"
  SBand2, "Sumario del informe"
  SBand3, "Cabecera de página"
  SBand4, "Pie de página"
  SBand5, "Cabecera maestra"
  SBand6, "Datos maestros"
  SBand7, "Pie maestro"
  SBand8, "Cabecera de detalle"
  SBand9, "Datos de detalle"
  SBand10, "Pie de detalle"
  SBand11, "Cab. subdetalle"
  SBand12, "Datos subdetalle"
  SBand13, "Pie subdetalle"
  SBand14, "Superpuesto"
  SBand15, "Cabecera columna"
  SBand16, "Pie de columna"
  SBand17, "Cabecera de grupo"
  SBand18, "Pie de grupo"
  SBand19, "Cab. inf. cruzado"
  SBand20, "Datos inf. cruzado"
  SBand21, "Pie informe cruzado"
  SBand22, "Ninguno"
  SCateg1, "Texto"
  SCateg2, "Número"
  SCateg3, "Fecha"
  SCateg4, "Hora"
  SCateg5, "Lógico"
  SFormat11, "[Ninguno]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1.234,5"
  SFormat24, "1.234,50"
  SFormat25, "Personalizado"
  SFormat31, "15/05/98"
  SFormat32, "15/05/1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 noviembre 1998"
  SFormat35, "Personalizado"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personalizado"
  SFormat51, "0;1"
  SFormat52, "No;Si"
  SFormat53, "-;x"
  SFormat54, "Falso;Verdadero"
  SFormat55, "Personalizado"
  SDateFormat1, "mm-dd-yy"
  SDateFormat2, "mm-dd-yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "desde"
  SErrorOccured, "Ha ocurrido un error en el cálculo"
  SDoc, "Informe:"
  SBand, "Banda:"
  SReportPreparing, "Preparando informe"
  SFirstPass, "Ejecutando 1er. paso:"
  SPagePreparing, "Procesando página:"
  SError, "Error"
  SPreview, "Vista previa"
  SPagePrinting, "Imprimiendo página:"
  SUntitled, "Sin título"
  SPrinterError, "La impresora seleccionada no es válida"
  SRepFile, "Fichero de informe"
  STextFile, "Fichero de texto ASCII"
  SRTFFile, "Fichero RTF"
  SCSVFile, "Fichero CSV"
  SHTMFile, "Fichero HTML"
  SFilter, "Propiedades del filtro"
  SFilterParam, "Altura media de letra:"
  SFont, "Tipo de letra..."
  SCharset, "0"
  SBarcodeError, "Error in barcode"
  SFRFError, "Unsupported FRF format"
}
