<HTML>
  <HEAD>
    <TITLE>ICS WebServ - Template demo</TITLE>
  </HEAD>
  <BODY>
    The server time is <#TIME><BR>
    The server version is <#PROGVER><BR>
    <BR>
    The source of this page is <#SOURCE>. If you open it using your favorite 
    text editor, such as notepad, you'll see that is contains special tags such as
    &lt;#TIME&gt; and &lt;#PROGVER&gt; which are replaced at runtime by values
    computed by the server program. To see how it work at the source code level,
    look into WebServ1.pas and search for CreateVirtualDocument_template_htm.<BR>
    <BR>
    <A HREF="/demo.html">Back to demo menu</A><BR>
  </BODY>
</HTML>
