/****************************************************************************

vgWPRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgWPRes.pas"

STRINGTABLE
{
  SBookmarkNotFound     , "Textmarke '%s' nicht gefunden"
  SConnectError         , "Kann Microsoft Word nicht starten"
  SNotConnected         , "Microsoft Word läuft nicht"
  SInvalidChar          , "Ungültiges Sonderzeichen"
  SPrinting             , "Operation kann nicht während des Druckens ausgeführt werden"
  SFileNotFound         , "Datei '%s' nicht gefunden"
  SInvalidFileName      , "Ungültiger Dateiname: '%s'"
  SNewDocError          , "Microsoft Word kann neues Dokument nicht erzeugen\n%s"
  SOpenDocError         , "Microsoft Word kann Dokument nicht öffnen\n%s"
  SBookmarksNotFound    , "Keine Textmarken im Dokument definiert"
  SGroupsNotFound       , "Keine Gruppen im Dokument definiert"
  SBookmarkSQLNotFound  , "SQL Textmarke in Gruppe '%s' nicht gefunden"
  SInvalidBookmark      , "Ungültiger Textmarkenname '%s'"
  SInvalidBookmarkText  , "Ungültiger Textmarkentext '%s'"
  SInvalidNesting       , "Ungültige Textmarkenüberschneidung '%s' und '%s'"
  SDuplicateSQL         , "Mehr als eine SQL Textmarke in Gruppe %s"
  SFieldNotFound        , "Feld '%s' für Textmarke '%s' nicht gefunden"
  SDataSetClassEmpty    , "DataSetClass nicht definiert"
}

