#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  53640, "Report Datenmenge"
  53641, "&Eigenschaften..."
  53642, "Neue &Tabelle..."
  53643, "Neue &Abfrage..."
  53644, "&Entfernen"
  53645, "&Schließen"
  53646, "Neue &Datenbank..."
;--- TablePropForm resources -------------------------------------------------
  53660, "Allgemein"
  53661, "&Name"
  53662, "&Felder"
  53663, "&Felder Editor..."
  53664, "Andere"
  53665, "&Index"
  53666, "Filter&ausdruck"
  53667, "&Haupt"
  53668, "Haupt&felder"
;--- feldsEditorForm resources ----------------------------------------------
  53680, "Feld &hinzu..."
  53681, "&Lookup hinzu..."
  53682, "Alle &selektieren"
  53683, "&Löschen"
  53684, "&Verlassen"
;--- feldsListForm resources ------------------------------------------------
  53700, "verfügbare Felder"
;--- LookupfeldForm resources -----------------------------------------------
  53710, "Neues Lookupfeld"
  53711, "Feld"
  53712, "&Name"
  53713, "&Art"
  53714, "&Größe"
  53715, "Lookup Definition"
  53716, "&Schlüsselfeld"
  53717, "&Datenmenge"
  53718, "&Lookup Schlüssel"
  53719, "&Ergebnisfeld"
;--- QueryPropForm resources -------------------------------------------------
  53730, "Abfrageeigenschaften"
  53731, "andere"
  53732, "&Haupt Datenmenge"
  53733, "Allgemein"
  53734, "&Name"
  53735, "&Alias oder Pfad"
  53736, "&SQL"
  53737, "&Feldereditor..."
  53738, "&Parametereditor..."
  53739, "&Lade SQL aus Datei"
  53740, "S&peicher SQL in Datei"
;--- ParamsForm resources ----------------------------------------------------
  53750, "Parameter"
  53751, "&Datentyp"
  53752, "&Name"
  53753, "&Wert:"
  53754, "&Wert vor dem Ausdruck nachfragen"
  53755, "Ordne Wert aus Hauptdatenmenge zu"
  53756, "Va&riable:"
;--- feldsLinkForm resources ------------------------------------------------
  53770, "&Detail Feld"
  53771, "&Hauptfeld"
  53772, "&Verbundene Felder"
  53773, "&Hinzu"
  53774, "&Löschen"
;--- ParamsDialogForm resources ----------------------------------------------
  53790, "Parameter"
  53791, "4 Punkte"
  53792, "8 Punkte"
  53793, "Gitter verwenden"
  53794, "Schließen"
;--- PropForm resources ------------------------------------------------------
  53810, "Eigenschaften"
  53811, "&Text"
  53812, "&Zeichensatz..."
  53813, "Lookup"
  53814, "&Datamenge"
  53815, "&Schlüsselfeld"
  53816, "&Listenfeld"
  53817, "Sorte"
  53818, "&Bearbeiten"
  53819, "&Combo"
  53820, "Look&up"
  53821, "Combo"
  53822, "&Autom.Größe"
;--- DBPropForm resources ----------------------------------------------------
  53840, "Datenbankeigenschaften"
  53841, "Allgemein"
  53842, "Parameter"
  53843, "&Name"
  53844, "&Verbindungsstring"  ; for ADO
  53845, "&Dateiname"          ; for IBX
  53846, "&Aliasname"         ; for BDE
  53847, "&Driver Name"
  53848, "&Loginhinweis"
;--- SelectTblForm resources -------------------------------------------------
  53860, "Tabelle auswählen"
  53861, "Aus Datenbank wählen"
  53862, "Aus Datei wählen"
  53863, "&Datenbank"
  53864, "&Tabelle"
  53865, "&Blättern..."        
;--- Strings resources -------------------------------------------------------
  SFields, "Felder"
  SPath, "Pfad"
  SRemoveDS, "Komponente löschen ?"
  STables, "Tabellen"
  SFieldType1, "Stringfeld"
  SFieldType2, "Smallintfeld"
  SFieldType3, "Integerfeld"
  SFieldType4, "Wordfeld"
  SFieldType5, "Booleanfeld"
  SFieldType6, "Floatfeld"
  SFieldType7, "Währungsfeld"
  SFieldType8, "Datumsfeld"
  SFieldType9, "Zeitfeld"
  SFieldType10, "Blobfeld"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Währung"
  SParamType4, "Datum"
  SParamType5, "Datum/Zeit"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Zeit"
  SParamType11, "Word"
  SDataManager, "Datenmanager"
  SParams, "Parameter"
  SQueryError, "ungültiges SQL-Statement oder Parameter"
  STableProps, "Tabelleneigenschaften"
  SParamDialog, "Parameterdialog"
  SInvalidParamValue, "ungültiger Parameterwert"
  SDatabase, "Datenbanken"
  SFieldSizeError, "Invalid field size"
}
