#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  53050, "Objekt Inspektor"
;--- EditorForm resources ----------------------------------------------------
  53060, "Texteditor"
  53061, "&Memo"
  53062, "&Script"
  53063, "&Großer Zeichensatz"
  53064, "&Wortumbruch"
  53065, "S&cript"
  53066, "&Variablen"
  53067, "&DB Feld"
  53068, "&Format"
;--- FRDesignerForm resources ------------------------------------------------
  53080, "Designer"
  53081, "Rechteck"
  53082, "Standard"
  53083, "Text"
  53084, "Objekte"
  53085, "Ausrichtung"
  53086, "Werkzeuge"
  53087, "Neuer Report"
  53088, "Öffne Report"
  53089, "Speicher Report"
  53090, "Reportvorschau"
  53091, "Aussschneiden"
  53092, "Kopieren"
  53093, "Einfügen"
  53094, "Letzte Aktion zurück"
  53095, "Wiederhole letzte Aktion"
  53096, "nach Vorne"
  53097, "nach Hinten"
  53098, "Alles auswählen"
  53099, "Neue Seite"
  53100, "Lösche Seite"
  53101, "Seitenoptionen"
  53102, "Gitter"
  53103, "am Gitter ausrichten"
  53104, "An Gitter anpassen"
  53105, "Schließen"
  53106, "Schließe Designer"
  53107, "Linksbündig"
  53108, "Rechtsbündig"
  53109, "Zentriert"
  53110, "Normaler Text / 90 Grad"
  53111, "vertikal zentrieren"
  53112, "oberer Rand"
  53113, "unterer Rand"
  53114, "optimale Breite"
  53115, "Fett"
  53116, "Kursiv"
  53117, "Unterstrichen"
  53118, "Zeichsatzfarbe"
  53119, "Hervorhebungseigenschaften"
  53120, "Zeichensatzgröße"
  53121, "Zeichsatz"
  53122, "Rahmenlinie oberer Rand"
  53123, "Rahmenlinie linker Rand"
  53124, "Rahmenlinie unterer Rand"
  53125, "Rahmenlinie rechter Rand"
  53126, "komplett umrahmt"
  53127, "kein Rahmen"
  53128, "Hintergrundfarbe"
  53129, "Rahmenfarbe"
  53130, "Rahmenbreite"
  53131, "Rahmenbreite"
  53132, "Objekt auswählen"
  53133, "Rechteckobjekt einfügen"
  53134, "Bereich einfügen"
  53135, "Bild einfügen"
  53136, "Unterreport einfügen"
  53137, "Linien malen"
  53138, "Am linken Rand ausrichten"
  53139, "Am horizontalen Zentrum ausrichten"
  53140, "Horizontal im Fenster zentrieren"
  53141, "Gleicher horizontaler Abstand"
  53142, "Am Rechten Rand ausrichten"
  53143, "Oben ausrichten"
  53144, "Am vertikalen Zentrum ausrichten"
  53145, "Vertikal im Fenster zentrieren"
  53146, "Gleicher vertikaler Abstand"
  53147, "Am unteren Rand ausrichten"
  53148, "A&usschneiden"
  53149, "K&opieren"
  53150, "&Einfügen"
  53151, "&Löschen"
  53152, "&Alles auswählen"
  53153, "&Bearbeiten..."
  53154, "&Datei"
  53155, "&Neu..."
  53156, "&Öffnen..."
  53157, "&Speichern"
  53158, "Variablen&liste..."
  53159, "&Report Optionen..."
  53160, "&Seitenoptionen..."
  53161, "&Vorschau"
  53162, "B&eenden"
  53163, "&Bearbeiten"
  53164, "&Rückgängig"
  53165, "&Wiederholen"
  53166, "A&usschneiden"
  53167, "K&opieren"
  53168, "&Einfügen"
  53169, "&Löschen"
  53170, "&Alles auswählen"
  53171, "&Bearbeiten..."
  53172, "&Neue Seite"
  53173, "&Seite löschen"
  53174, "nach &vorne bringen"
  53175, "nach &hinten bringen"
  53176, "&Werkzeuge"
  53177, "&Symbolleisten"
  53178, "Werk&zeuge"
  53179, "&Optionen..."
  53180, "&Rechteck"
  53181, "&Standard"
  53182, "&Text"
  53183, "&Objekte"
  53184, "Objekt &Inspektor"
  53185, "&Ausrichtungsleiste"
  53186, "Werk&zeuge"
  53187, "&Über..."
  53188, "Speichern &unter..."
  53189, "&Hilfe Inhalt"
  53190, "Hilfe &Tools"
  53191, "Linienarten"
;--- DesOptionsForm resources ------------------------------------------------
  53280, "Optionen"
  53281, "Designer"
  53282, "Gitter"
  53283, "Objekte bewegen"
  53284, "Report Einheiten"
  53285, "Gittergröße"
  53286, "&Zeige Gitter"
  53287, "am &Gitter ausrichten"
  53288, "farbige &Knöpfe"
  53289, "&4 Pixel"
  53290, "&8 Pixel"
  53291, "&18 Pixel (5mm)"
  53292, "&Rahmen"
  53293, "&Inhalt"
  53294, "&Pixel"
  53295, "&mm"
  53296, "&Inch"
  53297, "Andere"
  53298, "&Bearbeiten nach Einfügen"
  53299, "Zeige Bereich&überschriften"
;--- TemplForm resources -----------------------------------------------------
  53310, "Neuer Report"
  53311, "Beschreibung"
;--- TemplNewForm resources --------------------------------------------------
  53320, "Neue Reportvorlage"
  53321, "&Kommentar"
  53322, "Symbol"
  53323, "&Datei..."
;--- EvForm resources --------------------------------------------------------
  53340, "Variableneditor"
  53341, "&Variable"
  53342, "&Wert"
  53343, "&Ausdruck"
  53344, "Variablen kopieren"
  53345, "Variablen einfügen"
  53346, "Va&riablen..."
;--- VaredForm resources -----------------------------------------------------
  53360, "Variablenliste"
  53361, "&Kategorien und Variable"
;--- DocOptForm resources ----------------------------------------------------
  53370, "Report Optionen"
  53371, "Drucker"
  53372, "&Auswählen wenn Report geladen"
  53373, "Andere"
  53374, "&2 Durchläufe Report"
;--- PgoptForm resources -----------------------------------------------------
  53390, "Seitenoptionen"
  53391, "Papier"
  53392, "Ausrichtung"
  53393, "&Hochformat"
  53394, "&Querformat"
  53395, "Größe"
  53396, "&Breite, mm"
  53397, "&Höhe, mm"
  53398, "Ränder"
  53399, "Seitenränder"
  53400, "&Links, mm"
  53401, "&Oben, mm"
  53402, "&Rechts, mm"
  53403, "&Unten, mm"
  53404, "&nicht benutzen"
  53405, "Optionen"
  53406, "Optionen"
  53407, "&Auf vorherige Seite drucken"
  53408, "Spalten"
  53409, "&Zahlen"
  53410, "&Spaltenabstand, mm"
;--- FmtForm resources -------------------------------------------------------
  53420, "Variablenformatierung"
  53421, "Variablenformat"
  53422, "&Dezimalstellen"
  53423, "Nachkomma&symbol"
  53424, "&Format"
;--- VarForm resources -------------------------------------------------------
  53440, "Variablen"
  53441, "&Kategorie:"
;--- FieldsForm resources ----------------------------------------------------
  53450, "DB-Feld einfügen"
  53451, "&verfügbare Datenbanken"
;--- GEditorForm resources ---------------------------------------------------
  53460, "Bild"
  53461, "&Dehnen"
  53462, "&Laden..."
  53463, "&Löschen"
  53464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  53480, "Bereich Datenquelle"
  53481, "&Datenquelle"
  53482, "&Datensatzanzahl"
;--- VBandEditorForm resources ------------------------------------------------
  53485, "Bereich Datenquellen"
  53486, "Bereiche"
  53487, "Datenquelle"
  53488, "&Datensatzanzahl"
;--- GroupEditorForm resources -----------------------------------------------
  53490, "Gruppe"
  53491, "&Bedingung"
  53492, "DB-Feld einfügen"
;--- BandTypesForm resources -------------------------------------------------
  53510, "Neuen Bereich einfügen"
  53511, "Bereichsart"
;--- HilightForm resources ---------------------------------------------------
  53520, "Hervorhebungen"
  53521, "&Bedingung"
  53522, "Zeichensatz"
  53523, "F&arbe..."
  53524, "&Fett"
  53525, "&Kursiv"
  53526, "&Unterstrichen"
  53527, "Hintergrund"
  53528, "Fa&rbe..."
  53529, "&Transparent"
  53530, "An&dere"
;--- AboutForm resources -----------------------------------------------------
  53540, "Über FastReport"
;--- OleForm resources -------------------------------------------------------
  53550, "OLE Objekt"
  53551, "&Einfügen..."
  53552, "&Bearbeiten..."
  53553, "&Schließen"
;--- RichForm resources ------------------------------------------------------
  53560, "RTF-Objekt"
  53561, "Öffnen..."
  53562, "Speichern..."
  53563, "Rückgängig"
  53564, "Fett"
  53565, "Kursiv"
  53566, "Linksbündig"
  53567, "Zentriert"
  53568, "Rechtsbündig"
  53569, "Unterstrichen"
  53570, "Liste"
  53571, "Zeichensatz"
  53572, "Abbruch"
  53573, "Speichern und Ende"
  53574, "Var"
  53575, "Variable einfügen"
  53576, "Zeichensatz"
  53577, "Zeichensatzgröße"
;--- ChartForm resources -----------------------------------------------------
  53590, "Diagramm Objekt"
  53591, "Art"
  53592, "Daten"
  53593, "Art"
  53594, "Objektname"
  53595, "Optionen"
  53596, "&3D"
  53597, "&Einfach"
  53598, "&Legende anzeigen"
  53599, "A&xen zeigen"
  53600, "&Markierungen zeigen"
  53601, "Mehrfarbig"
  53602, "für Legenden"
  53603, "Für Werte"
  53604, "Markierungen"
  53605, "Stil"
  53606, "Wert"
  53607, "Prozent"
  53608, "Bezeichnung"
  53609, "Bezeichnung und Prozent"
  53610, "Bezeichnung und Wert"
  53611, "Top10 Gruppe"
  53612, "&Zeige Top"
  53613, "Bezeichnung"
  53614, "Werte"
;--- ShapeForm resources -----------------------------------------------------
  53620, "Figur"
  53621, "Figurart"
;--- InsertFieldsForm resources ----------------------------------------------
  53630, "Feld einfügen"
  53631, "&verfügbare Datenmengen"
  53632, "Plazierung"
  53633, "&Horizontal"
  53634, "&Vertikal"
  53635, "&mit Spaltenkopf"
  53636, "mit &Bereichen"
;--- BarCodeForm resources ---------------------------------------------------
  53650, "Barcode Editor"
  53651, "&Code"
  53652, "&Barcodeart"
  53653, "Optionen"
  53654, "Check&summe"
  53655, "&Lesbar"
  53656, "DB-Feld einfügen"
  53657, "Variable einfügen"
  53658, "Drehen"
;--- RoundRectForm resources -------------------------------------------------
  53670, "Property editor"
  53671, "Sample :"
  53672, "Variables ..."
  53673, "Data .."
  53674, "Gradian"
  53675, "Shadow width"
  53676, "Color"
  53677, "Curve"
  53678, "Framed zone"
  53679, "End Color"
  53680, "Begin color"
  53681, "Style"
  53682, "Vertical,Horizontal,Elliptic,Rectangle,Horiz._Center,Vert._Center"
  53683, "Click here to define the shadow color or gradian colors"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Diese Seite löschen?"
  SConfirm, "Bestätigen"
  SDefaultPrinter, "Standarddrucken"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Benutzerdefiniert"
  SSpecVal, "Andere"
  SVar1, "Seite#"
  SVar2, "Ausdruck"
  SVar3, "Datum"
  SVar4, "Zeit"
  SVar5, "Zeile#"
  SVar6, "durchgehende Zeile#"
  SVar7, "Spalte#"
  SVar8, "aktuelle Zeile#"
  SVar9, "Seitenzahl"
  SStretched, "gedehnt"
  SVarFormat, "Variablenformat..."
  SWordWrap, "Zeilenubruch"
  SWordBreak, "Worttrennung (nur Russisch!)"
  SFormNewPage, "Immer neue Seite"
  SPrintIfSubsetEmpty, "Drucke wenn Detailmenge leer"
  SBreaked, "Unterbrochen"
  SPictureCenter, "Bild zentrieren"
  SKeepAspectRatio, "Erhalte Proportionen"
  SFormFile, "FastReport Formular"
  STemplFile, "FastReport Vorlage"
  SPictFile, "Bilddatei"
  SBMPFile, "Bitmapdate"
  SAllFiles, "Alle Dateien"
  SInsOLEObject, "Füge OLE-Objekt ein"
  SInsRichObject, "Füge RTF-Objekt ein"
  SInsRich2Object, "Füge RX-RTF Objekt ein"
  SInsCheckBox, "Füge Kreuzkästchen ein"
  SInsChart, "Füge Diagramm ein"
  SInsShape, "Füge Figur ein"
  SInsBarcode, "Füge Barcode ein"
  SInsRoundRect, "Insert an RoundRect with shadow area"
  SSubReportOnPage, "Unterbericht auf dieser Seite"
  SPicture, "[Bild]"
  STransparent, "Transparent"
  SOther, "Andere..."
  SOnFirstPage, "Auf erster Seite"
  SOnLastPage, "Auf letzter Seite"
  SRepeatHeader, "Zeige alle Seiten"
  SDesignReport, "Report entwerfen"
  SInsertFields, "DB Feld einfügen"
  SSaveChanges, "Speicher Änderungen"
  STo, "bis"
  SShape1, "Rechteck"
  SShape2, "Abgerundetes Rechteck"
  SShape3, "Ellipse"
  SShape4, "Dreieck"
  SPixels, "Pixel"
  SMM, "MM"
  SInches, "Inch"
  SVirtualDataset, "virtuelle Datenmenge"
  SAutoSize, "Autom.Größe"
  SFRVariables, "FR Variablen"
}
