#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  56000, "Sources de données de l'état"
  56001, "&Propriétés..."
  56002, "Nouvelle &table..."
  56003, "Nouvelle &requette..."
  56004, "&Supprimer"
  56005, "&fermer"
  56006, "Nouvelle &base de données..."
;--- TablePropForm resources -------------------------------------------------
  56020, "Générale"
  56021, "&Nom"
  56022, "&Champs"
  56023, "&Editeur de champs..."
  56024, "Autre"
  56025, "&Index"
  56026, "&Expression de filtre"
  56027, "&Maître"
  56028, "&Champs Maître"
;--- FieldsEditorForm resources ----------------------------------------------
  56040, "&jouter des champs..."
  56041, "Ajouter un &lien de référence..."
  56042, "&Selectionner tout"
  56043, "&Supprimer"
  56044, "&Fermer"
;--- FieldsListForm resources ------------------------------------------------
  56060, "Champs disponibles"
;--- LookupFieldForm resources -----------------------------------------------
  56070, "Nouveau champ référence"
  56071, "Champ"
  56072, "&Nom"
  56073, "&Type"
  56074, "&Taille"
  56075, "Définition de la référence"
  56076, "&Champ clé"
  56077, "&Source"
  56078, "Clé de &référence"
  56079, "Champ &resultat"
;--- QueryPropForm resources -------------------------------------------------
  56090, "Propriété de la requette"
  56091, "Autre"
  56092, "Source &maître"
  56093, "Global"
  56094, "&Nom"
  56095, "&Alias ou répertoire"
  56096, "&SQL"
  56097, "&Editeur de champs..."
  56098, "Editeur de &paramètres..."
  56099, "&Ouvrir un fichier SQL"
  56100, "Enregistrer dans un fichier SQL"
;--- ParamsForm resources ----------------------------------------------------
  56110, "Paramètres"
  56111, "Type de données"
  56112, "&Nom"
  56113, "&Valeur:"
  56114, "&Demander une valeur avant d'imprimer"
  56115, "aAffecter la valeur de la source maître"
  56116, "Va&riable:"
;--- FieldsLinkForm resources ------------------------------------------------
  56130, "Champs de &Détail"
  56131, "Champs &maîtres"
  56132, "Champs &rattachés"
  56133, "&Ajouter"
  56134, "&effacer"
;--- ParamsDialogForm resources ----------------------------------------------
  56150, "Paramètres"
  56151, "4 points"
  56152, "8 points"
  56153, "Alliger sur la grille"
  56154, "Fermer"
;--- PropForm resources ------------------------------------------------------
  56170, "Propriétés"
  56171, "&Texte"
  56172, "&Police..."
  56173, "Référence"
  56174, "&Source de données"
  56175, "Champ &clé"
  56176, "Champ &affiché"
  56177, "Type"
  56178, "&Zone d'édition"
  56179, "&Combo"
  56180, "&Liste de référence"
  56181, "Combo"
  56182, "&Taille auto."
;--- DBPropForm resources ----------------------------------------------------
  56200, "Propriétés de la base de données"
  56201, "Globales"
  56202, "Paramètres"
  56203, "&Nom"
  56204, "&Chaîne de Connexion"  ; for ADO
  56205, "&Nom du fichier"       ; for IBX
  56206, "Nom de l'&Alias"       ; for BDE
  56207, "Nom du &Driver"
  56208, "Demande les infos de &Login"
;--- SelectTblForm resources -------------------------------------------------
  56220, "Selection d'une table"
  56221, "Depuis une base de données"
  56222, "Depuis le fichier"
  56223, "&Base"
  56224, "&Table"
  56225, "&Parcourir..."
;--- Strings resources -------------------------------------------------------
  SFields, "Champs"
  SPath, "Chemin"
  SRemoveDS, "Supprimer ce composant ?"
  STables, "Les tables"
  SFieldType1, "StringField"
  SFieldType2, "SmallintField"
  SFieldType3, "IntegerField"
  SFieldType4, "WordField"
  SFieldType5, "BooleanField"
  SFieldType6, "FloatField"
  SFieldType7, "CurrencyField"
  SFieldType8, "DateField"
  SFieldType9, "TimeField"
  SFieldType10, "BlobField"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Data manager"
  SParams, "paramètres"
  SQueryError, "Instruction SQL ou paramètre invalide"
  STableProps, "Propriétés d'un table"
  SParamDialog, "Editeur de boite de dialogue pour les paramètres"
  SInvalidParamValue, "Valeur d'un paramètre invalide"
  SDatabase, "Base de données"
  SFieldSizeError, "Invalid field size"
}
