#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  53000, "Rechercher"
  53001, "Texte à &trouver"
  53002, "Options"
  53003, "&Sensibilité à la case"
  53004, "Page d'origine"
  53005, "&Première"
  53006, "&Courante"
;--- PreviewForm resources ---------------------------------------------------
  53020, "Largeur de &page"
  53021, "Page &entière"
  53022, "&Deux pages"
  53023, "Fermer la prévisualisation"
  53024, "Echelle"
  53025, "Ouvrir un état"
  53026, "Enregistrer un état"
  53027, "Imprimer un état"
  53028, "Rechercher"
  53029, "Editer la page"
  53030, "Ajouter une page"
  53031, "Supprimer la page"
  53032, "Voir l'aide"
;--- PrintForm resources ---------------------------------------------------
  53040, "Imprimer"
  53041, "Imprimante"
  53042, "Propriétés"
  53043, "&Copies:"
  53044, "Intervalle de pages"
  53045, "&Tout"
  53046, "&Page courante"
  53047, "&Nombre:"
  53048, "Entrez les numéros de pages et/ou les intervals de pages, séparés par des vigules. Par exemple, 1,3,5-12"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Annuler"
  SYes, "Oui"
  SNo, "Non"
  SPg, "Page"
  SNotAssigned, "[Aucun]"
  SBand1, "Titre de l'état"
  SBand2, "Résumé de l'état"
  SBand3, "Entête de page"
  SBand4, "Pied de page"
  SBand5, "Entête maitre"
  SBand6, "Données maitre"
  SBand7, "Pied maitre"
  SBand8, "Entête de détail"
  SBand9, "Données de détail"
  SBand10, "Pied de détail"
  SBand11, "Entête de sous détail"
  SBand12, "Données de sous détail"
  SBand13, "Pied de sous détail"
  SBand14, "Couverture"
  SBand15, "Entête de colonne"
  SBand16, "Pied de colonne"
  SBand17, "Entête de groupe"
  SBand18, "Pied de groupe"
  SBand19, "Entête tableau croisé"
  SBand20, "Donnée tableau croisé"
  SBand21, "Pied tableau croisé"
  SBand22, "Aucune"
  SCateg1, "Texte"
  SCateg2, "Nombre"
  SCateg3, "Date"
  SCateg4, "Heure"
  SCateg5, "Logique"
  SFormat11, "[Aucun]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Personnalisé"
  SFormat31, "11/15/98"
  SFormat32, "11/15/1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 novembre 1998"
  SFormat35, "Personnalisé"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personnalisé"
  SFormat51, "0;1"
  SFormat52, "Oui;Non"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Personnalisé"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "sur"
  SErrorOccured, "Une erreur s'est produite durant la préparation"
  SDoc,  "Etat  :"
  SBand, "Bande :"
  SReportPreparing, "Préparation de l'état"
  SFirstPass, "Première passe en cours"
  SPagePreparing, "Préparation de la Page :"
  SError, "Erreur"
  SPreview, "Previsualiser"
  SPagePrinting, "Impression de la page :"
  SUntitled, "Sans_nom"
  SPrinterError, "L'imprimante sélectionnée est non valide"
  SRepFile, "Fichier d'état"
  STextFile, "Fichier text ASCII"
  SRTFFile, "Fichier texte enrichie (RTF)"
  SCSVFile, "Fichier CSV"
  SHTMFile, "Fichier HTML"
  SFilter, "Propriété filtre"
  SFilterParam, "Hauteur moyenne de la police :"
  SFont, "Police..."
  SCharset, "0"
  SBarcodeError, "Erreur sur le code barre"
  SFRFError, "Unsupported FRF format"
}
