// Fichier Ressource RC pour Res_HiA
TEXTCOLORCOMBO BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\composants\TExtColorCombo.bmp"
TEXTDBCOLORCOMBO BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\composants\TExtDBColorCombo.bmp"
