#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  53050, "Object inspector"
;--- EditorForm resources ----------------------------------------------------
  53060, "Редактор текста"
  53061, "&Мемо"
  53062, "&Скрипт"
  53063, "&Крупный шрифт"
  53064, "&Перенос слов"
  53065, "С&крипт"
  53066, "&Переменная"
  53067, "Поле из &БД"
  53068, "&Формат"
;--- FRDesignerForm resources ------------------------------------------------
  53080, "Дизайнер"
  53081, "Прямоугольник"
  53082, "Стандартная"
  53083, "Текст"
  53084, "Объекты"
  53085, "Выравнивание"
  53086, "Мастера"
  53087, "Новый отчет"
  53088, "Открыть отчет"
  53089, "Сохранить отчет"
  53090, "Предварительный просмотр"
  53091, "Вырезать"
  53092, "Копировать"
  53093, "Вставить"
  53094, "Отменить последнее действие"
  53095, "Повторить отмененное действие"
  53096, "Переместить объект наверх"
  53097, "Переместить объект вниз"
  53098, "Выделить все"
  53099, "Добавить страницу"
  53100, "Удалить страницу"
  53101, "Опции страницы"
  53102, "Координатная сетка"
  53103, "Выравнивать объекты по сетке"
  53104, "Расположить объекты по сетке"
  53105, "Закрыть"
  53106, "Закрыть окно"
  53107, "Выровнять текст влево"
  53108, "Выровнять текст вправо"
  53109, "Центровка текста"
  53110, "Горизонтальное/вертикальное расположение текста"
  53111, "Равномерно по высоте"
  53112, "Выровнять по верхнему краю"
  53113, "Выровнять по нижнему краю"
  53114, "Выровнять по ширине"
  53115, "Утолщение"
  53116, "Курсив"
  53117, "Подчеркивание"
  53118, "Цвет текста"
  53119, "Атрибуты выделения"
  53120, "Размер шрифта"
  53121, "Шрифт"
  53122, "Верхняя линия прямоугольника"
  53123, "Левая линия прямоугольника"
  53124, "Нижняя линия прямоугольника"
  53125, "Правая линия прямоугольника"
  53126, "Все линии рамки"
  53127, "Без рамки"
  53128, "Фон прямоугольника"
  53129, "Цвет рамки"
  53130, "Толщина рамки"
  53131, "Толщина рамки"
  53132, "Выбрать объект"
  53133, "Вставить прямоугольник с текстом"
  53134, "Вставить секцию"
  53135, "Вставить рисунок"
  53136, "Вставить вложенный отчет"
  53137, "Рисовать линии"
  53138, "Выровнять левые края"
  53139, "Центрировать по горизонтали"
  53140, "Центрировать по горизонтали в окне"
  53141, "Расположить равномерно по ширине"
  53142, "Выровнять правые края"
  53143, "Выровнять верхние края"
  53144, "Центрировать по вертикали"
  53145, "Центрировать по вертикали в окне"
  53146, "Расположить равномерно по высоте"
  53147, "Выровнять нижние края"
  53148, "&Вырезать"
  53149, "&Копировать"
  53150, "Вс&тавить"
  53151, "&Удалить"
  53152, "Выделить в&се"
  53153, "&Редактор..."
  53154, "&Файл"
  53155, "&Создать..."
  53156, "&Открыть..."
  53157, "&Сохранить"
  53158, "Список &переменных..."
  53159, "Параметры от&чета..."
  53160, "Параметры ст&раницы..."
  53161, "Предварительный прос&мотр"
  53162, "Вы&ход"
  53163, "&Правка"
  53164, "&Отменить"
  53165, "&Повторить"
  53166, "&Вырезать"
  53167, "&Копировать"
  53168, "Вс&тавить"
  53169, "&Удалить"
  53170, "Выделить в&се"
  53171, "&Редактировать..."
  53172, "До&бавить страницу"
  53173, "У&далить страницу"
  53174, "Объект &наверх"
  53175, "Объект вни&з"
  53176, "&Сервис"
  53177, "&Панели инструментов"
  53178, "&Мастера"
  53179, "&Опции..."
  53180, "&Прямоугольник"
  53181, "&Стандартная"
  53182, "&Текст"
  53183, "&Объекты"
  53184, "&Инспектор"
  53185, "&Выравнивание"
  53186, "&Мастера"
  53187, "О &программе..."
  53188, "Сохранить &как..."
  53189, "&Вызов справки"
  53190, "&Подсказка"
  53191, "Стиль линии"
;--- DesOptionsForm resources ------------------------------------------------
  53280, "Опции"
  53281, "Дизайнер"
  53282, "Сетка"
  53283, "Перемещение объекта"
  53284, "Единицы измерения"
  53285, "Шаг сетки"
  53286, "Показать &сетку"
  53287, "&Выравнивать объекты"
  53288, "&Цветные кнопки"
  53289, "&4 точки"
  53290, "&8 точек"
  53291, "&18 точек (5мм)"
  53292, "&Контур"
  53293, "Содер&жимое"
  53294, "&Пикселы"
  53295, "&Миллиметры"
  53296, "&Дюймы"
  53297, "Прочее"
  53298, "&Редактирование после вставки"
  53299, "Показывать &заголовки бэндов"
;--- TemplForm resources -----------------------------------------------------
  53310, "Новый отчет"
  53311, "Описание"
;--- TemplNewForm resources --------------------------------------------------
  53320, "Новый шаблон"
  53321, "&Комментарий"
  53322, "Картинка"
  53323, "&Обзор..."
;--- EvForm resources --------------------------------------------------------
  53340, "Редактор значений переменных"
  53341, "&Переменная"
  53342, "&Значение"
  53343, "&Выражение"
  53344, "Копировать переменные в буфер обмена"
  53345, "Вставить переменные из буфера обмена"
  53346, "Пере&менные..."
;--- VaredForm resources -----------------------------------------------------
  53360, "Список переменных"
  53361, "&Категории и переменные"
;--- DocOptForm resources ----------------------------------------------------
  53370, "Параметры отчета"
  53371, "Принтер"
  53372, "&Выбирать при открытии отчета"
  53373, "Прочие"
  53374, "Делать два &прохода"
;--- PgoptForm resources -----------------------------------------------------
  53390, "Параметры страницы"
  53391, "Бумага"
  53392, "Ориентация"
  53393, "&Портретная"
  53394, "&Альбомная"
  53395, "Размер"
  53396, "&Ширина, мм"
  53397, "&Высота, мм"
  53398, "Поля"
  53399, "Поля страницы"
  53400, "&Левое, мм"
  53401, "&Верхнее, мм"
  53402, "&Правое, мм"
  53403, "&Нижнее, мм"
  53404, "Не &использовать"
  53405, "Параметры"
  53406, "Параметры"
  53407, "Печать &вплотную к пред.листу"
  53408, "Колонки"
  53409, "&Количество"
  53410, "&Промежуток, мм"
;--- FmtForm resources -------------------------------------------------------
  53420, "Формат переменной"
  53421, "Формат переменной"
  53422, "&Дес. знаков"
  53423, "&Разделитель дроби"
  53424, "&Формат:"
;--- VarForm resources -------------------------------------------------------
  53440, "Переменные"
  53441, "&Категория:"
;--- FieldsForm resources ----------------------------------------------------
  53450, "Вставка поля БД"
  53451, "&Базы данных"
;--- GEditorForm resources ---------------------------------------------------
  53460, "Рисунок"
  53461, "&Растянуть"
  53462, "&Загрузить"
  53463, "&Очистить"
  53464, "&Мемо"
;--- BandEditorForm resources ------------------------------------------------
  53480, "Источник данных"
  53481, "&Источник"
  53482, "&Количество записей"
;--- VBandEditorForm resources ------------------------------------------------
  53485, "Источники данных"
  53486, "Секции"
  53487, "Источник"
  53488, "&Количество записей"
;--- GroupEditorForm resources -----------------------------------------------
  53490, "Группа"
  53491, "&Условие"
  53492, "Выбор поля БД"
;--- BandTypesForm resources -------------------------------------------------
  53510, "Новая секция"
  53511, "Тип секции"
;--- HilightForm resources ---------------------------------------------------
  53520, "Атрибуты выделения"
  53521, "Условие"
  53522, "Текст"
  53523, "&Цвет..."
  53524, "&Утолщенный"
  53525, "&Курсив"
  53526, "Под&черкивание"
  53527, "Фон"
  53528, "Ц&вет..."
  53529, "&Прозрачный"
  53530, "&Другой"
;--- AboutForm resources -----------------------------------------------------
  53540, "О программе"
;--- OleForm resources -------------------------------------------------------
  53550, "OLE объект"
  53551, "&Вставить"
  53552, "&Редактировать"
  53553, "&Закрыть"
;--- RichForm resources ------------------------------------------------------
  53560, "Редактор Rich Edit"
  53561, "Открыть файл"
  53562, "Сохранить в файле"
  53563, "Отменить"
  53564, "Утолщение"
  53565, "Наклон"
  53566, "Выравнивание влево"
  53567, "Выравнивание по центру"
  53568, "Выравнивание вправо"
  53569, "Подчеркивание"
  53570, "Список"
  53571, "Шрифт"
  53572, "Отменить"
  53573, "Запомнить"
  53574, "Var"
  53575, "Вставить переменную"
  53576, "Выбор шрифта"
  53577, "Размер шрифта"
;--- ChartForm resources -----------------------------------------------------
  53590, "Диаграмма"
  53591, "Тип"
  53592, "Данные"
  53593, "Тип диаграммы"
  53594, "Имя объекта"
  53595, "Опции"
  53596, "&Объемная"
  53597, "О&диночная"
  53598, "С &подписью"
  53599, "С о&сями"
  53600, "С по&метками"
  53601, "Разно&цветная"
  53602, "Для &подписи"
  53603, "Для &данных"
  53604, "Пометки"
  53605, "Стиль"
  53606, "&Значение"
  53607, "&Процент"
  53608, "&Название"
  53609, "Название и про&цент"
  53610, "Название и зна&чение"
  53611, "Top10 группировка"
  53612, "&Отображать"
  53613, "&Подпись"
  53614, "значений"
;--- ShapeForm resources -----------------------------------------------------
  53620, "Фигура"
  53621, "Тип фигуры"
;--- InsertFieldsForm resources ----------------------------------------------
  53630, "Вставка полей БД"
  53631, "&Базы данных"
  53632, "Расположение"
  53633, "По &горизонтали"
  53634, "По &вертикали"
  53635, "Включая &заголовки"
  53636, "Включая бэн&ды"
;--- BarCodeForm resources ---------------------------------------------------
  53650, "Редактор штрих-кода"
  53651, "&Код"
  53652, "&Тип штрихкода"
  53653, "Опции"
  53654, "Контрольная &сумма"
  53655, "&Подпись"
  53656, "Вставить поле БД"
  53657, "Вставить переменную"
  53658, "Ориентация"
;--- RoundRectForm resources -------------------------------------------------
  53670, "Прямоугольник с тенью"
  53671, "Образец:"
  53672, "Переменная..."
  53673, "Поле БД..."
  53674, "Градиент"
  53675, "Размер тени"
  53676, "Цвет"
  53677, "Закругление"
  53678, "Обрамить"
  53679, "Конечный цвет"
  53680, "Начальный цвет"
  53681, "Стиль"
  53682, "Вертикальный,Горизонтальный,Эллипс,Прямоугольный,Гориз._центр,Верт._центр"
  53683, "Щелкните здесь для выбора цвета"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Удалить страницу?"
  SConfirm, "Подтверждение"
  SDefaultPrinter, "Принтер по умолчанию"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 мм"
  SPaper9, "A4 210 x 297 мм"
  SPaper10, "A4 small sheet, 210 x 297 мм"
  SPaper11, "A5 148 x 210 мм"
  SPaper12, "B4 250 x 354 мм"
  SPaper13, "B5 182 x 257 мм"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 мм"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 мм"
  SPaper28, "C5 Envelope, 162 x 229 мм"
  SPaper29, "C3 Envelope,  324 x 458 мм"
  SPaper30, "C4 Envelope,  229 x 324 мм"
  SPaper31, "C6 Envelope,  114 x 162 мм"
  SPaper32, "C65 Envelope, 114 x 229 мм"
  SPaper33, "B4 Envelope,  250 x 353 мм"
  SPaper34, "B5 Envelope,  176 x 250 мм"
  SPaper35, "B6 Envelope,  176 x 125 мм"
  SPaper36, "Italy Envelope, 110 x 230 мм"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 мм"
  SPaper43, "Japanese Postcard 100 x 148 мм"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 мм"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 мм"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 мм"
  SPaper58, "SuperBSuperBA3 305 x 487 мм"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 мм"
  SPaper61, "A5 Transverse 148 x 210 мм"
  SPaper62, "B5 (JIS) Transverse 182 x 257 мм"
  SPaper63, "A3 Extra 322 x 445 мм"
  SPaper64, "A5 Extra 174 x 235 мм"
  SPaper65, "B5 (ISO) Extra 201 x 276 мм"
  SPaper66, "A2 420 x 594 мм"
  SPaper67, "A3 Transverse 297 x 420 мм"
  SPaper68, "A3 Extra Transverse 322 x 445 мм"
  SPaper256, "Другой"
  SSpecVal, "Прочие переменные"
  SVar1, "Страница"
  SVar2, "Выражение"
  SVar3, "Дата"
  SVar4, "Время"
  SVar5, "Line#"
  SVar6, "Line through#"
  SVar7, "Column#"
  SVar8, "Current line#"
  SVar9, "Всего страниц"
  SStretched, "Растягиваемый"
  SVarFormat, "Формат переменной..."
  SWordWrap, "Перенос слов"
  SWordBreak, "Перенос по слогам"
  SFormNewPage, "Формировать новую страницу"
  SPrintIfSubsetEmpty, "Печатать, если Detail пуст"
  SBreaked, "Разрываемый"
  SPictureCenter, "Центрировать"
  SKeepAspectRatio, "Сохранять пропорции"
  SFormFile, "Форма FastReport"
  STemplFile, "Шаблон FastReport"
  SPictFile, "Графические файлы"
  SBMPFile, "Рисунок ВМР"
  SAllFiles, "Все файлы"
  SInsOLEObject, "Вставить OLE объект"
  SInsRichObject, "Вставить RichText объект"
  SInsRich2Object, "Вставить RX RichText объект"
  SInsCheckBox, "Вставить CheckBox объект"
  SInsChart, "Вставить диаграмму"
  SInsShape, "Вставить фигуру"
  SInsBarcode, "Вставить штрихкод"
  SInsRoundRect, "Вставить прямоугольник с тенью"
  SSubReportOnPage, "SubReport на странице"
  SPicture, "[Рисунок]"
  STransparent, "Прозрачный"
  SOther, "Другой..."
  SOnFirstPage, "На первой странице"
  SOnLastPage, "На последней странице"
  SRepeatHeader, "Выводить на всех страницах"
  SDesignReport, "Дизайнер"
  SInsertFields, "Вставка полей БД в отчет"
  SSaveChanges, "Сохранить изменения"
  STo, "в"
  SShape1, "Прямоугольник"
  SShape2, "Закругленный прямоугольник"
  SShape3, "Эллипс"
  SShape4, "Треугольник"
  SPixels, "Пикселы"
  SMM, "Миллиметры"
  SInches, "Дюймы"
  SVirtualDataset, "Виртуальный"
  SAutoSize, "Авторазмер"
  SFRVariables, "Переменные FR"
}
