#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  53000, "Find text"
  53001, "Text to &find"
  53002, "Options"
  53003, "&Case sensitive"
  53004, "Origin"
  53005, "&1st page"
  53006, "Current &page"
;--- PreviewForm resources ---------------------------------------------------
  53020, "&Page width"
  53021, "&Whole page"
  53022, "&Two pages"
  53023, "Close preview"
  53024, "Scale"
  53025, "Open report"
  53026, "Save report"
  53027, "Print report"
  53028, "Find text"
  53029, "Edit page"
  53030, "Add page"
  53031, "Delete page"
  53032, "Show help"
;--- PrintForm resources ---------------------------------------------------
  53040, "Print"
  53041, "Printer"
  53042, "Properties"
  53043, "&Copies:"
  53044, "Page range"
  53045, "&All"
  53046, "Current &page"
  53047, "&Numbers:"
  53048, "Enter page numbers and/or page ranges, separated by commas. For example, 1,3,5-12"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Cancel"
  SYes, "Yes"
  SNo, "No"
  SPg, "Page"
  SNotAssigned, "[None]"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "None"
  SCateg1, "Text"
  SCateg2, "Number"
  SCateg3, "Date"
  SCateg4, "Time"
  SCateg5, "Boolean"
  SFormat11, "[None]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Custom"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 november 1998"
  SFormat35, "Custom"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Custom"
  SFormat51, "0;1"
  SFormat52, "No;Yes"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Custom"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "from"
  SErrorOccured, "An error occured during calculating"
  SDoc, "Report:"
  SBand, "Band:"
  SReportPreparing, "Report preparing"
  SFirstPass, "Performing 1st pass:"
  SPagePreparing, "Processing page:"
  SError, "Error"
  SPreview, "Preview"
  SPagePrinting, "Printing page:"
  SUntitled, "Untitled"
  SPrinterError, "Printer selected is not valid"
  SRepFile, "Report file"
  STextFile, "ASCII Text file"
  SRTFFile, "Rich Text file"
  SCSVFile, "CSV File"
  SHTMFile, "HTML file"
  SFilter, "Filter properties"
  SFilterParam, "Average font height:"
  SFont, "Font..."
  SCharset, "0"
  SBarcodeError, "Error in barcode"
  SFRFError, "Unsupported FRF format"
}
