#include "sstrings.pas"
LANGUAGE LANG_UKRAINIAN,1
STRINGTABLE
{
  s_MsgDlgWarning, "Увага"
  s_MsgDlgError, "Помилка"
  s_MsgDlgInformation, "Інформація"
  s_MsgDlgConfirm, "Підтвердження"
  s_MsgDlgYes, "&Так"
  s_MsgDlgNo, "&Ні"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Відмінити"
  s_MsgDlgHelp, "&Допомога"
  s_MsgDlgHelpNone, "Довідка відсутня"
  s_MsgDlgHelpHelp, "Допомога"
  s_MsgDlgAbort, "&Аварійне завершення"
  s_MsgDlgRetry, "&Повторити"
  s_MsgDlgIgnore, "&Ігнорувати"
  s_MsgDlgAll, "&Всі"
  s_MsgDlgNoToAll, "Н&і для всіх"
  s_MsgDlgYesToAll, "Так д&ля всіх"

  s_RestoreStr, "Відновити"
  s_MoveStr, "Перемістити"
  s_SizeStr, "Розмір"
  s_MinimizeStr, "Згорнути"
  s_MaximizeStr, "На все вікно"
  s_CloseStr, "Закрити"

  s_HintClose, "Закрити"
  s_HintMaximize, "Розгорнути"
  s_HintMinimize, "Згорнути"
  s_HintRestore, "Відновити"
  s_HintHelp, "Допомога"

  s_FileOpen, "Відкриття файла"

  s_Calculator, "Калькулятор"
  s_GradBuilder, "&Побудова градієнта..."
  s_HotGradBuilder, "&Побудова <активного> градієнта..."
  s_Panels, "&Панелі..."

  s_AvailSkins, "Доступні скіни"
  s_InternalSkin, "(вбудований)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"

  // Color dialog
  s_ColorDlgAdd, "Додати в свій набір"
  s_ColorDlgDefine, "Визначити кольори"
  s_ColorDlgMainPal, "Основна палітра:"
  s_ColorDlgAddPal, "Додатковий набір кольорів:"
  s_ColorDlgTitle, "Колір"
  s_ColorDlgRed, "Червоний :"
  s_ColorDlgGreen, "Зелений :"
  s_ColorDlgBlue, "Синій :"
  s_ColorDlgDecimal, "Десяткове - "
  s_ColorDlgHex, "Hex - "  
 
  // Frame adapter
  s_FrameAdapterError1, "Компонент TsFrameAdapter должен быть положен на соответствующий фрейм";

  // Hint designer
  s_HintDsgnTitle, "Дизайнер підказок"
  s_HintDsgnPreserved, "Стд. установки:"
  s_HintDsgnStyle, "Стиль :"
  s_HintDsgnBevelWidth, "Ширина края"
  s_Blur, "Розмиття"
  s_HintDsgnArrowLength, "Довж. указ."
  s_HintDsgnHorizMargin, "Гориз. відступ"
  s_HintDsgnVertMargin, "Верт. відступ"
  s_HintDsgnRadius, "Округлення"
  s_HintDsgnMaxWidth, "Макс. шир."
  s_HintDsgnPauseHide, "Затримка (мс)"
  s_Percent, "Процент"
  s_HintDsgnOffset, "Зміщення"
  s_HintDsgnTransparency, "Прозорість"
  s_HintDsgnNoPicture, "Немає доступного зображення"
  s_Font, "Шрифт"
  s_Texture, "Текстура"
  s_HintDsgnLoad, "Загрузити файл"
  s_HintDsgnSave, "Зберегти..."
  s_HintDsgnColor, "Колір"
  s_HintDsgnBorderTop, "Верхн. край"
  s_HintDsgnBorderBottom, "Нижній край"
  s_Shadow, "Тінь"
  s_Background, "Фон"
  s_Gradient, "Градиент"
  s_PreviewHint, "Вікно попереднього перегляду"
  
  // File dialogs
  s_Folder, "Папка:"
  s_FileName, "Імя файла:"
  s_FileType, "Тип файлів:"
  s_ReadOnly, "Тільки читання"
  s_ViewStyleList, "Список"
  s_ViewStyleReport, "Таблиця"
  s_ViewStyleIcons, "Значки"
  s_ViewStyleSmallIcons, "Маленькі значки"
  s_OpenFile, "Відкрити"
  s_SaveFile, "Зберегти як..."
  s_BtnOpen, "Відкрити"
  s_BtnSave, "Зберегти"
  s_SelectDir, "Вибрати каталог"
  s_Create, "Створити..."
    
}