.stTitle {
	color: #1e4274;
	background-color: #c4C8D0;
	font-family: Arial, helvatica, geneva;
	font-size: 10pt;
	font-weight: bold
}

.stOdd {
	color: #1e4274;
	background-color: #c4d4e9;
	font-family: Arial, helvatica, geneva;
	font-size: 10pt;
	font-weight: normal
}

.stEven {
	color:#1e4274;
	background-color: #eaf1fa;
	font-family: Arial, helvatica, geneva;
	font-size: 10pt;
	font-weight: normal
}
