#include "..\sstrings.pas"
LANGUAGE LANG_DANISH,4
STRINGTABLE
{
  s_MsgDlgWarning, "Advarsel"
  s_MsgDlgError, "Fejl"
  s_MsgDlgInformation, "Information"
  s_MsgDlgConfirm, "Bekræft"
  s_MsgDlgYes, "&Ja"
  s_MsgDlgNo, "&Nej"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Fortryd"
  s_MsgDlgHelp, "&Hjælp"
  s_MsgDlgHelpNone, "Der er ingen hjælp"
  s_MsgDlgHelpHelp, "Hjælp"
  s_MsgDlgAbort, "&Afbryd"
  s_MsgDlgRetry, "&Prøv igen"
  s_MsgDlgIgnore, "&Ignorer"
  s_MsgDlgAll, "&Alle"
  s_MsgDlgNoToAll, "N&ej til Alle"
  s_MsgDlgYesToAll, "Ja til &Alle"

  s_RestoreStr, "Gendan"
  s_MoveStr, "Flyt"
  s_SizeStr, "Størrelse"
  s_MinimizeStr, "Minimer"
  s_MaximizeStr, "Maksimer"
  s_CloseStr, "Luk"

  s_HintClose, "Luk"
  s_HintMaximize, "Maksimer"
  s_HintMinimize, "Minimer"
  s_HintRestore, "Gendan"
  s_HintHelp, "Hjælp"

  s_FileOpen, "Åbn fil"

  s_Calculator, "Regnemaskine"
  s_GradBuilder, "&Gradient builder..."
  s_HotGradBuilder, "&Hot gradient builder..."
  s_Panels, "&Panels..."

  s_AvailSkins, "Skind"
  s_InternalSkin, "(indbygget)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"
}