.leftmenu {
	BACKGROUND: #009999; COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.leftmenuheading {
	BACKGROUND: #006666; COLOR: #ccffff; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.leftmenulink {
	BACKGROUND: #009999; COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.leftmenunewslink {
        COLOR: #006666; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.fontmain {
	FONT-FAMILY: Verdana,Arial; FONT-SIZE: 10pt;
}
.fontmainbig {
	FONT-FAMILY: Verdana,Arial; FONT-SIZE: 18pt;
}
.fontsmall {
	FONT-FAMILY: Verdana,Arial; FONT-SIZE: 7pt;
}

.fontcaption {
	FONT-FAMILY: Verdana,Arial; FONT-SIZE: 15pt;
}
.fontcode {
	FONT-FAMILY: Courier New; FONT-SIZE: 10pt;
}