#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  56000, "Orígenes de datos del informe"
  56001, "&Propiedades..."
  56002, "Nueva &tabla..."
  56003, "C&onsulta (SQL)..."
  56004, "&Borrar"
  56005, "&Cerrar"
  56006, "New &database..."
;--- TablePropForm resources -------------------------------------------------
  56020, "General"
  56021, "&Nombre"
  56022, "&Campos"
  56023, "&Editor de campos..."
  56024, "Otros"
  56025, "&Índice"
  56026, "&Expresión de filtro"
  56027, "Tabla &maestra"
  56028, "Campos mae&stro"
;--- FieldsEditorForm resources ----------------------------------------------
  56040, "&Añadir campos..."
  56041, "Añadir &lookup..."
  56042, "Seleccionar &todo"
  56043, "&Borrar"
  56044, "&Salir"
;--- FieldsListForm resources ------------------------------------------------
  56060, "Campos disponibles"
;--- LookupFieldForm resources -----------------------------------------------
  56070, "Nuevo campo lookup"
  56071, "Campo"
  56072, "&Nombre"
  56073, "&Tipo"
  56074, "T&amaño"
  56075, "Definición lookup"
  56076, "&Campo clave"
  56077, "&Origen de datos"
  56078, "Clave &lookup"
  56079, "Campo &resultado"
;--- QueryPropForm resources -------------------------------------------------
  56090, "Propiedades de la consulta"
  56091, "Otros"
  56092, "Datos &maestros"
  56093, "General"
  56094, "&Nombre"
  56095, "&Alias/ruta de acceso"
  56096, "&SQL"
  56097, "Editor de &campos ..."
  56098, "Editor de &parámetros ..."
  56099, "&Leer SQL de archivo"
  56100, "&Guardar SQL en archivo"
;--- ParamsForm resources ----------------------------------------------------
  56110, "Parámetros"
  56111, "Tipo de &dato"
  56112, "&Nombre"
  56113, "&Valor:"
  56114, "¿&Solicitar valor antes de imprimir?"
  56115, "Asignar valor desde origen de datos &maestro"
  56116, "Va&riable:"
;--- FieldsLinkForm resources ------------------------------------------------
  56130, "&Detalle"
  56131, "&Maestra"
  56132, "Campos &unión"
  56133, "&Añadir"
  56134, "&Borrar"
;--- ParamsDialogForm resources ----------------------------------------------
  56150, "Parámetros"
  56151, "4 puntos"
  56152, "8 puntos"
  56153, "Alinear a rejilla"
  56154, "Cerrar"
;--- PropForm resources ------------------------------------------------------
  56170, "Propiedades"
  56171, "&Texto"
  56172, "&Fuente..."
  56173, "Lookup"
  56174, "&Dataset"
  56175, "&Key field"
  56176, "&List field"
  56177, "Clase"
  56178, "&Edit"
  56179, "&Combo"
  56180, "Look&up"
  56181, "Combo"
  56182, "&Tamaño auto."
;--- DBPropForm resources ----------------------------------------------------
  56200, "Database properties"
  56201, "General"
  56202, "Parameters"
  56203, "&Name"
  56204, "&Connection string"  ; for ADO
  56205, "&File name"          ; for IBX
  56206, "&Alias name"         ; for BDE
  56207, "&Driver name"
  56208, "&Login prompt"
;--- SelectTblForm resources -------------------------------------------------
  56220, "Select table"
  56221, "Select from database"
  56222, "Select from file"
  56223, "&Database"
  56224, "&Table"
  56225, "&Browse..."
;--- Strings resources -------------------------------------------------------
  SFields, "campos"
  SPath, "Path"
  SRemoveDS, "Delete this component?"
  STables, "Tablas"
  SFieldType1, "StringField"
  SFieldType2, "SmallintField"
  SFieldType3, "IntegerField"
  SFieldType4, "WordField"
  SFieldType5, "BooleanField"
  SFieldType6, "FloatField"
  SFieldType7, "CurrencyField"
  SFieldType8, "DateField"
  SFieldType9, "TimeField"
  SFieldType10, "BlobField"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Origen de datos"
  SParams, "parámetros"
  SQueryError, "Sentencia SQL o parámetros incorrectos"
  STableProps, "Propiedades de la tabla"
  SParamDialog, "Dialogo de parámetros"
  SInvalidParamValue, "Invalid parameter value"
  SDatabase, "Databases"
  SFieldSizeError, "Invalid field size"
}
