#include "..\sstrings.pas"
LANGUAGE LANG_PORTUGUESE,SUBLANG_NEUTRAL
STRINGTABLE
{
  s_MsgDlgWarning, "Aviso"
  s_MsgDlgError, "Erro"
  s_MsgDlgInformation, "Informação"
  s_MsgDlgConfirm, "Confirmação"
  s_MsgDlgYes, "&Sim"
  s_MsgDlgNo, "&Não"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Cancelar"
  s_MsgDlgHelp, "&Ajuda"
  s_MsgDlgHelpNone, "Nenhuma ajuda disponível"
  s_MsgDlgHelpHelp, "Ajuda"
  s_MsgDlgAbort, "&Abortar"
  s_MsgDlgRetry, "&Tentar novamente"
  s_MsgDlgIgnore, "&Ignorar"
  s_MsgDlgAll, "&Todos"
  s_MsgDlgNoToAll, "N&ão para Todos"
  s_MsgDlgYesToAll, "Sim para &Todos"

  s_RestoreStr, "Restaurar"
  s_MoveStr, "Mover"
  s_SizeStr, "Tamanho"
  s_MinimizeStr, "Minimizar"
  s_MaximizeStr, "Maximizar"
  s_CloseStr, "Fechar"

  s_HintClose, "Fechar"
  s_HintMaximize, "Maximizar"
  s_HintMinimize, "Minimizar"
  s_HintRestore, "Restaurar"
  s_HintHelp, "Ajuda"

  s_FileOpen, "Abrir arquivo"

  s_Calculator, "Calculadora"
  s_GradBuilder, "Construtor de &gradiente..."
  s_HotGradBuilder, "Construtor de gradiente &quente..."
  s_Panels, "&Painéis..."

  s_AvailSkins, "Skins disponíveis"
  s_InternalSkin, "(interno)"

  s_ErrorSettingCount, "Erro ao atribuir %s.Count"
  s_ListBoxMustBeVirtual, "Estilo do Listbox (%s) deve ser virtual para poder atribuir Count"

  // Color dialog
  s_ColorDlgAdd, "Adicionar ao conjunto de cores customizadas"
  s_ColorDlgDefine, "Definir cores"
  s_ColorDlgMainPal, "Paleta principal :"
  s_ColorDlgAddPal, "Cores adicionais :"
  s_ColorDlgTitle, "Cor"
  s_ColorDlgRed, "Vermelho :"
  s_ColorDlgGreen, "Verde :"
  s_ColorDlgBlue, "Azul :"
  s_ColorDlgDecimal, "Decimal - "
  s_ColorDlgHex, "Hexadecimal - "  
  
  // Frame adapter
  s_FrameAdapterError1, "Adaptador TsFrameAdapter deve ser colocado no frame manipulado";

  // Hint designer
  s_HintDsgnTitle, "Janela de Configuração de Hints"
  s_HintDsgnPreserved, "     Configs. padrão: "
  s_HintDsgnStyle, "Estilo: "
  s_HintDsgnBevelWidth, "Largura de chanfro"
  s_Blur, "Borrão"
  s_HintDsgnArrowLength, "Comprim. da seta"
  s_HintDsgnHorizMargin, "Margem horizontal"
  s_HintDsgnVertMargin, "Margem vertical"
  s_HintDsgnRadius, "Raio dos cantos"
  s_HintDsgnMaxWidth, "Largura máx."
  s_HintDsgnPauseHide, "Tempo visível (ms)"
  s_Percent, "Percent."
  s_HintDsgnOffset, "Desloc."
  s_HintDsgnTransparency, "Transparência"
  s_HintDsgnNoPicture, "Nenhuma imagem disponível"
  s_Font, "Fonte"
  s_Texture, "Textura"
  s_HintDsgnLoad, "Carregar"
  s_HintDsgnSave, "Salvar como..."
  s_HintDsgnColor, "Cor"
  s_HintDsgnBorderTop, "Borda do topo"
  s_HintDsgnBorderBottom, "Borda da base"
  s_Shadow, "Sombra"
  s_Background, "Fundo"
  s_Gradient, "Gradiente"
  s_PreviewHint, "Visualização da futura janela de hint"

  // File dialogs
  s_Folder, "Pasta"
  s_FileName, "Nome do arq.:"
  s_FileType, "Tipo do arq.:"
  s_ReadOnly, "Somente leitura"
  s_ViewStyleList, "Lista"
  s_ViewStyleReport, "Detalhes"
  s_ViewStyleIcons, "Ícones"
  s_ViewStyleSmallIcons, "Ícones pequenos"
  s_OpenFile, "Abrir"
  s_SaveFile, "Salvar"
  s_BtnOpen, "Abrir"
  s_BtnSave, "Salvar"
  s_SelectDir, "Selecionar diretório"
  s_Create, "Criar"


}
