/* Compile this file with (16-bit): delphi\bin\brc -r BITMAPS.RC
   or                     (32-bit): delphi3.0\bin\brc32 -r BITMAPS.RC
   That will create a BITMAPS.RES file which should be included in the
   main unit of your project.
*/
Firefish TCOMPRESS "Firefish.arc"
