#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  53000, "Поиск"
  53001, "Искать &текст"
  53002, "Опции поиска"
  53003, "Различать &регистр"
  53004, "Искать"
  53005, "С &начала"
  53006, "&Продолжить"
;--- PreviewForm resources ---------------------------------------------------
  53020, "По ширине страницы"
  53021, "Страница целиком"
  53022, "Две страницы"
  53023, "Выход"
  53024, "Масштаб"
  53025, "Открыть отчет"
  53026, "Сохранить отчет в файле"
  53027, "Печать отчета"
  53028, "Поиск"
  53029, "Редактировать страницу"
  53030, "Добавить страницу"
  53031, "Удалить страницу"
  53032, "Показать справку"
;--- PrintForm resources ---------------------------------------------------
  53040, "Печать"
  53041, "Принтер"
  53042, "Свойства..."
  53043, "&Копии:"
  53044, "Страницы"
  53045, "&Все"
  53046, "&Текущая"
  53047, "&Номера:"
  53048, "Введите номера и/или диапазоны страниц, разделенные запятыми. Например, 1,3,5-12"
;--- Strings resources -------------------------------------------------------
  SOk, "ОК"
  SCancel, "Отмена"
  SYes, "Да"
  SNo, "Нет"
  SPg, "Стр."
  SNotAssigned, "[Нет]"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Нет"
  SCateg1, "Текст"
  SCateg2, "Число"
  SCateg3, "Дата"
  SCateg4, "Время"
  SCateg5, "Логическая"
  SFormat11, "[Нет]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Другой"
  SFormat31, "05.11.98"
  SFormat32, "05.11.1998"
  SFormat33, "5 ноя 1998"
  SFormat34, "5 ноября 1998"
  SFormat35, "Другой"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Другой"
  SFormat51, "0;1"
  SFormat52, "Нет;Да"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Другой"
  SDateFormat1, "dd.mm.yy"
  SDateFormat2, "dd.mm.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "из"
  SErrorOccured, "Возникла ошибка при обработке выражения"
  SDoc, "Документ:"
  SBand, "Секция:"
  SReportPreparing, "Подготовка отчета"
  SFirstPass, "Выполняется 1-й проход:"
  SPagePreparing, "Формируется страница:"
  SError, "Ошибка"
  SPreview, "Предварительный просмотр"
  SPagePrinting, "Печатается страница:"
  SUntitled, "Untitled"
  SPrinterError, "Возникли проблемы с настройкой выбранного принтера."
  SRepFile, "Файл отчета"
  STextFile, "Текстовый файл"
  SRTFFile, "Файл Rich Text"
  SCSVFile, "Файл CSV"
  SHTMFile, "Файл HTML"
  SFilter, "Параметры фильтра"
  SFilterParam, "Средняя высота шрифта:"
  SFont, "Шрифт..."
  SCharset, "204"
  SBarcodeError, "Ошибка в коде"
  SFRFError, "Неверный FRF формат"
}
