/****************************************************************************

vgVCLRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgVCLRes.pas"

STRINGTABLE
{
  SRegSystem           , "VG System"
  SRegTools            , "VG Tools"
  SRegControls         , "VG Controls"
  SRegExplorer         , "VG Explorer"
  SRegReports          , "VG Reports"
  SRegDataAccess       , "VG Data Access"
  SRegDataControls     , "VG Data Controls"
  SRegMultiTier        , "VG Multi-tier"
  SRegMisc             , "VG Misc"
  SRegVGServer         , "VG Server"

  SRegIniFile          , "VGLib"
  SRegIniSection       , "Defaults"

  SCannotDeleteFile    , "Impossible d''éffacer '%s'";
  SCannotRenameFile    , "Impossible de renommer '%s' en '%s'";
  STlsCannotAlloc      , "Ne peux allouer de TLS";
  SUknownCompressorSign, "Signature de compresseur inconnue: %s"
  SBadVariantType      , "Type de variant invalide: %s";
  SNA                  , "Operation not applicable";
  SNIA                 , "No information available";
  SNotSupported        , "Capability not supported";
  SNIY                 , "Not implemented yet";

  SParameterNotFound   , "Le paramètre %s est introuvable";
  SParamTooBig         , "Le paramètre %s est plus grand que %d octets";
  SFieldUndefinedType  , "Le paramètre %s est d''un type indéfini";
  SFieldUnsupportedType, "Le type du paramètre %s n''est pas supporté";
  STextTrue            , "0=0";
  STextFalse           , "0=1";
  SCircularLink        , "Les liens circulaires ne sont pas autoris©s";
  SItemNotFound        , "El©ment %s non-troub©"; 
  SDuplicateItem       , "El©ment dupliqu© %s";

  SsrCurrency          , "dollar\ndollars\ndollars\n"
  SsrCurrencySub       , "centime\ncentimes\ncentimes\n"
  SsrMaleOne           , "un\ndeux\ntrois\nquatre\ncinq\nsix\nsept\nhuit\nneuf\n"
  SsrFemaleOne         , "un\ndeux\ntrois\nquatre\ncinq\nsix\nsept\nhuit\nneuf\n"
  SsrTen               , "dix\nvingt\ntrente\nquarant\ncinquante\nsoixante\nseptante\nquatre-vingt\nnonante\n"
  SsrFirstTen          , "onze\ndouze\ntreize\nquatorze\nquinze\nseize\ndix-sept\ndix-huit\ndix-neuf\n"
  SsrHundred           , "cent\ndeux cent\ntrois cent\nquatre cent\ncinq cent\nsix cent\nsept cent\nhuit cent\nneuf cent\n"
  SsrThousand          , "mille\nmille\nmille\n"
  SsrMillion           , "million\nmillion\nmillion\n"
  SsrBillion           , "billion\nbillion\nbillion\n"
  SsrZero              , "zéro"

  SLoginDialogCaption,   "Entrez votre nom d''utilisateur et mot de passe"
  SLoginCaption,         "&Nom d''utilisateur:"
  SLoginPassword         "&Mot de passe:"

}

