/****************************************************************************

vgWPRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgWPRes.pas"

STRINGTABLE
{
  SBookmarkNotFound     , "Le signet '%s' n''a pas été trouvé"
  SConnectError         , "Ne peut lancer Microsoft Word"
  SNotConnected         , "Microsoft Word n''est pas en cours d''éxécution"
  SInvalidChar          , "Caractère spécial invalide"
  SPrinting             , "Ne peut effectuer cette opération en cours d''impression"
  SFileNotFound         , "Le fichier '%s' est introuvable"
  SInvalidFileName      , "Nom de fichier invalide: '%s'"
  SNewDocError          , "Microsoft Word ne peut créer le nouveau document\n%s"
  SOpenDocError         , "Microsoft Word peut ouvrir le document\n%s"
  SBookmarksNotFound    , "Il n''y a pas de signets de définis dans ce document"
  SGroupsNotFound       , "Il n''y a pas de groupes définis dans ce document"
  SBookmarkSQLNotFound  , "Le signet SQL dans le groupe '%s' n''a pas été trouvé"
  SInvalidBookmark      , "Nom de signet invalide '%s'"
  SInvalidBookmarkText  , "Texte de signet invalide '%s'"
  SInvalidNesting       , "signets '%s' et '%s' invalides"
  SDuplicateSQL         , "Il y a deux ou plusieurs signets SQL trouvés dans le groupe %s"
  SFieldNotFound        , "Le champ '%s' pour le signet '%s' non-trouvé"
  SDataSetClassEmpty    , "DataSetClass non défini"
}

