#include "..\sstrings.pas"
LANGUAGE LANG_DUTCH,5
STRINGTABLE
{
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Terug"
  s_MsgDlgHelp, "&Hulp"

  s_RestoreStr, "Terughalen"
  s_MoveStr, "Verplaatsen"
  s_SizeStr, "Grootte"
  s_MinimizeStr, "Minimaal"
  s_MaximizeStr, "Maximaal"
  s_CloseStr, "Sluiten"

  s_FileOpen, "Bestand openen"

  s_AvailSkins, "Beschikbare Skins"
  s_InternalSkin, "(intern)"
  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"

  // Color dialog
  s_ColorDlgAdd, "Toevoegen aan eigen kleurenpalet"
  s_ColorDlgDefine, "Definieer kleuren"
  s_ColorDlgMainPal, "Hoofdpalet :"
  s_ColorDlgAddPal, "Bijkomende kleuren :"
  s_ColorDlgTitle, "Kleur"
  s_ColorDlgRed, "Rood :"
  s_ColorDlgGreen, "Groen :"
  s_ColorDlgBlue, "Blauw :"
  s_ColorDlgDecimal, "Decimaal - "
  s_ColorDlgHex, "Hex - "  
  
  // Frame adapter
  s_FrameAdapterError1, "TsFrameAdapter adapter must be placed on the handled frame";

  // Hint designer
  s_HintDsgnTitle, "Hint Designer Form"
  s_HintDsgnPreserved, "Preserved settings :"
  s_HintDsgnStyle, "Style :"
  s_HintDsgnBevelWidth, "Bevel width"
  s_Blur, "Blur"
  s_HintDsgnArrowLength, "Arrow length"
  s_HintDsgnHorizMargin, "Horiz. margin"
  s_HintDsgnVertMargin, "Vert. margin"
  s_HintDsgnRadius, "Corners radius"
  s_HintDsgnMaxWidth, "Max width"
  s_HintDsgnPauseHide, "Pause hide (ms)"
  s_Percent, "Percent"
  s_HintDsgnOffset, "Offset"
  s_HintDsgnTransparency, "Transparency"
  s_HintDsgnNoPicture, "No picture available"
  s_Font, "Font"
  s_Texture, "Texture"
  s_HintDsgnLoad, "Load from file"
  s_HintDsgnSave, "Save to file as..."
  s_HintDsgnColor, "Color"
  s_HintDsgnBorderTop, "Top border"
  s_HintDsgnBorderBottom, "Bottom border"
  s_Shadow, "Shadow"
  s_Background, "Background"
  s_Gradient, "Gradient"
  s_PreviewHint, "Preview of the future hint window"

  // File dialogs
  s_SelectDir, "Selecteer map"
  s_Create, "Creëren"


}
