#include "..\sstrings.pas"
LANGUAGE LANG_SWEDISH,10
STRINGTABLE
{
  s_MsgDlgWarning, "Varning"
  s_MsgDlgError, "Fel"
  s_MsgDlgInformation, "Information"
  s_MsgDlgConfirm, "Bekräfta"
  s_MsgDlgYes, "&Ja"
  s_MsgDlgNo, "&Nej"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Avbryt"
  s_MsgDlgHelp, "&Hjälp"
  s_MsgDlgHelpNone, "Ingen hjälp tillgänglig"
  s_MsgDlgHelpHelp, "Hjälp"
  s_MsgDlgAbort, "&Avbryt"
  s_MsgDlgRetry, "&Försök igen"
  s_MsgDlgIgnore, "&Ignorera"
  s_MsgDlgAll, "&Alla"
  s_MsgDlgNoToAll, "N&ej till alla"
  s_MsgDlgYesToAll, "Ja till &alla"

  s_RestoreStr, "Återställ"
  s_MoveStr, "Flytta"
  s_SizeStr, "Storlek"
  s_MinimizeStr, "Minimera"
  s_MaximizeStr, "Maximera"
  s_CloseStr, "Stäng"

  s_HintClose, "Stäng"
  s_HintMaximize, "Maximera"
  s_HintMinimize, "Minimera"
  s_HintRestore, "Återställ"
  s_HintHelp, "Hjälp"

  s_FileOpen, "Ö&ppna"

  s_Calculator, "Räknare"
  s_GradBuilder, "&Gradient editor..."
  s_HotGradBuilder, "&Hot gradient builder..."
  s_Panels, "&Paneler..."

  s_AvailSkins, "Tillgängliga skin"
  s_InternalSkin, "(interna)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"
}
