#include "..\sstrings.pas"
LANGUAGE LANG_BULGARIAN,7
STRINGTABLE
{
  s_MsgDlgWarning, "Внимание"
  s_MsgDlgError, "Грешка"
  s_MsgDlgInformation, "Информация"
  s_MsgDlgConfirm, "Потвърждение"
  s_MsgDlgYes, "&Да"
  s_MsgDlgNo, "&Не"
  s_MsgDlgOK, "Добре"
  s_MsgDlgCancel, "Отказ"
  s_MsgDlgHelp, "&Помощ"
  s_MsgDlgHelpNone, "Помощ невъзможна"
  s_MsgDlgHelpHelp, "Помощ"
  s_MsgDlgAbort, "&Откажи"
  s_MsgDlgRetry, "&Повтори"
  s_MsgDlgIgnore, "&Остави"
  s_MsgDlgAll, "&Всички"
  s_MsgDlgNoToAll, "Н&е за Всички"
  s_MsgDlgYesToAll, "Да за В&сички"

  s_RestoreStr, "Възстанови"
  s_MoveStr, "Премести"
  s_SizeStr, "Размер"
  s_MinimizeStr, "Умали"
  s_MaximizeStr, "Увеличи"
  s_CloseStr, "Затвори"

  s_HintClose, "Затвори"
  s_HintMaximize, "Увеличи"
  s_HintMinimize, "Умали"
  s_HintRestore, "Възстанови"
  s_HintHelp, "Помощ"

  s_FileOpen, "Отвори файл"

  s_Calculator, "Калкулатор"
  s_GradBuilder, "&Изготвяне на градиент..."
  s_HotGradBuilder, "И&зготвяне на горещ градиент..."
  s_Panels, "&Панели..."

  s_AvailSkins, "Налични кожи"
  s_InternalSkin, "(вградени)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"
}