1001 BITMAP CLOSE.BMP
1002 BITMAP PIN.BMP
1003 BITMAP PINDOWN.BMP
1004 BITMAP CHEVUP.BMP
1005 BITMAP CHEVDOWN.BMP
1006 BITMAP ARROWLEFT.BMP
1007 BITMAP ARROWRIGHT.BMP
1008 BITMAP ARROWUP.BMP
1009 BITMAP ARROWDOWN.BMP
1010 BITMAP ARROWLEFTDISABLED.BMP
1011 BITMAP ARROWRIGHTDISABLED.BMP
1012 BITMAP ARROWUPDISABLED.BMP
1013 BITMAP ARROWDOWNDISABLED.BMP
1014 BITMAP ELLIPSE.BMP
1015 BITMAP QUESTION.BMP