TAUTOCOMPLETION BITMAP AUTOCOMPLETION
TBACKGROUND BITMAP BACKGROUND
TBALLOONHINT BITMAP BALLOONHINT
TBRUSHBUTTON BITMAP BRUSHBUTTON
TBUTTONEDIT BITMAP BUTTONEDIT
TCAPTIONBOX BITMAP CAPTIONBOX
TCHECKLISTEDIT BITMAP CHECKLISTEDIT
TCOLORGRIDBUTTON BITMAP COLORGRIDBUTTON
TDATEPOPUPEDIT BITMAP DATEPOPUPEDIT
TDBDRAWLIST BITMAP DBDRAWLIST
TDBREPORTVIEW BITMAP DBREPORTVIEW
TDRAWLIST BITMAP DRAWLIST
TEXPANDABLEBOX BITMAP EXPANDABLEBOX
TFOLDERVIEW BITMAP FOLDERVIEW
TIMAGEBUTTON BITMAP IMAGEBUTTON
TIMAGELISTEDIT BITMAP IMAGELISTEDIT
TINSPECTOR BITMAP INSPECTOR
TINTEGEREDIT BITMAP INTEGEREDIT
TLARGESHELLIMAGES BITMAP LARGESHELLIMAGES
TLISTEDIT BITMAP LISTEDIT
TMONEYEDIT BITMAP MONEYEDIT
TPANECONTROL BITMAP PANECONTROL
TPENBUTTON BITMAP PENBUTTON
TSHELLBUBBLES BITMAP SHELLBUBBLES
TSHELLEDIT BITMAP SHELLEDIT
TSHELLTREE BITMAP SHELLTREE
TSHELLVIEW BITMAP SHELLVIEW
TSLIDEBAR BITMAP SLIDEBAR
TSMALLSHELLIMAGES BITMAP SMALLSHELLIMAGES
TTHEMEGLYPHBUTTON BITMAP THEMEGLYPHBUTTON