#include "users_res.pas"

STRINGTABLE

{

  strErrorDatabaseDir ,                                           "Falta la propiedad DatabaseDir en %s"
  strErrorOpenTables ,                                            "No fue posible abrir las tablas en %s"
  strErrorPassword ,                                              "Nombre de usuario o contraseña inválida"
  strErrorUserName ,                                              "Nombre de usuario o contraseña inválida"
  strPasswordChanged ,                                            "Efectuado el cambio de contraseña"
  strErrorChangePassword ,                                        "No fue posible cambiar la contraseña"
  strErrorPwdsDiffers ,                                           "La contraseña nueva difiere de la antigua"
  strNewUserOk ,                                                  "Se ha creado un nuevo usuario"
  strUserExists ,                                                 "Ya existe el usuario"
  strImpAddNewUser ,                                              "Imposible agregar un nuevo usuario"
  strConfirmDeleteUser ,                                          "¿Desea realmente eliminar al usuario %s?"
  strUserDeleted ,                                                "El usuario fue eliminado"
  strConfirmDeleteProfile ,                                       "¿Desea realmente eliminar el perfil de usuario %s?"
  strProfileDeleted ,                                             "El perfil de usuario fue eliminado"
  strConfirm ,                                                    "Confirme"
  strChangePassword ,                                             "Cambiar contraseña"
  strCancelChangingPassword ,                                     "¿Desea cancelar el cambio de contraseña?"
  strNewUserMainForm ,                                            "Nuevo Usuario"
  strNewUser_lblUserName ,                                        "Nombre de &usuario:"
  strNewUser_lblPassword ,                                        "&Contraseña:"
  strNewUser_lblRealName ,                                        "Nombre &real:"
  strNewUser_OKBtn ,                                              "Ok"
  strNewUser_CancelBtn ,                                          "Cancelar"
  strNewUser_lblEXPIRATION_DATE ,                                 "Fecha de Expiración"
  strNewUser_lblPROFILE ,                                         "Perfil"
  strNewUser_cbxUSER_EXPIRE ,                                     "El Usuario Expira"
  strNewUser_cbxUSER_ACTIVE ,                                     "Activo"
  strUsersAdministrationMainForm ,                                "Administración de Usuarios"
  strUsersAdministration_tsUsers ,                                "Usuarios"
  strUsersAdministration_tsUsersList ,                            "Lista de Usuarios"
  strUsersAdministration_DBGridUsersColUSER_NAME ,                "Nombre de Usuario"
  strUsersAdministration_DBGridUsersColREAL_NAME ,                "Nombre Real"
  strUsersAdministration_DBGridUsersColPROFILE ,                  "Perfil"
  strUsersAdministration_DBGridUsersColUSER_ACTIVE ,              "Activo"
  strUsersAdministration_tsUsersData ,                            "Datos del Usuario"
  strUsersAdministration_lblLAST_PWD_CHANGE ,                     "Ultimo cambio de contraseña"
  strUsersAdministration_lblUserName ,                            "Nombre del Usuario"
  strUsersAdministration_lblRealName ,                            "Nombre Real"
  strUsersAdministration_lblPassword ,                            "Contraseña (Codificada)"
  strUsersAdministration_lblEXPIRATION_DATE ,                     "Fecha de Expiración"
  strUsersAdministration_lblPROFILE ,                             "Perfil"
  strUsersAdministration_cbxUSER_EXPIRE ,                         "El Usuario Expira"
  strUsersAdministration_cbxUSER_ACTIVE ,                         "Activo"
  strUsersAdministration_btnChangePassword ,                      "Cambiar Contraseña"
  strUsersAdministration_btnChangePasswordHint ,                  "Cambiar la contraseña del usuario actual"
  strUsersAdministration_PanelPwdHistory ,                        "Histórico de Contraseñas"
  strUsersAdministration_DBGridPwdHistoryColPASSWORD ,            "Contraseña"
  strUsersAdministration_DBGridPwdHistoryColCHANGE_DATE ,         "Cambiada el"
  strUsersAdministration_sbNewUser ,                              "Nuevo usuario"
  strUsersAdministration_sbNewUserHint ,                          "Crear un nuevo usuario"
  strUsersAdministration_sbChangeUserData ,                       "Cambiar Datos"
  strUsersAdministration_sbChangeUserDataHint ,                   "Cambiar los datos del usuario seleccionado"
  strUsersAdministration_sbUserAccess ,                           "Permisos"
  strUsersAdministration_sbUserAccessHint ,                       "Muestra los permisos del usuario seleccionado"
  strUsersAdministration_sbDeleteUser ,                           "Eliminar usuario"
  strUsersAdministration_sbDeleteUserHint ,                       "Eliminar al usuario seleccionado"
  strUsersAdministration_tsProfiles ,                             "Perfiles del Usuario"
  strUsersAdministration_tsProfilesList ,                         "Lista de Perfiles"
  strUsersAdministration_DBGridProfilesColPROF_DESCRIPTION ,      "Descripción"
  strUsersAdministration_DBGridProfilesColMUST_CHANGE_PWD ,       "Debe cambiar la contraseña"
  strUsersAdministration_DBGridProfilesColINTERVAL_CHANGE_PWD ,   "Intervalo para el cambio de contraseña"
  strUsersAdministration_DBGridProfilesColHIDE_DISABLE_MENU ,     "Elemento no autorizado"
  strInvisible ,                                                  "Invisible"
  strDisabled ,                                                   "Deshabilitado"
  strUsersAdministration_tsProfilesData ,                         "Datos del Perfil"
  strUsersAdministration_lblPROF_DESCRIPTION  ,                   "Descripción"
  strUsersAdministration_cbxMUST_CHANGE_PWD ,                     "Debe cambiar la contraseña"
  strUsersAdministration_lblINTERVAL_CHANGE_PWD ,                 "Intervalo para el cambio de contraseña"
  strUsersAdministration_rgpHIDE_DISABLE_MENU ,                   "Elemento no autorizado"
  strUsersAdministration_sbNewProfile ,                           "Nuevo Perfil"
  strUsersAdministration_sbNewProfileHint ,                       "Crear un nuevo perfil"
  strUsersAdministration_sbProfileAccess ,                        "Permisos"
  strUsersAdministration_sbProfileAccessHint ,                    "Mostrar los permisos del perfil seleccionado"
  strUsersAdministration_sbChangeProfileData ,                    "Cambiar datos"
  strUsersAdministration_sbChangeProfileDataHint ,                "Mostrar los permisos del perfil seleccionado"
  strUsersAdministration_sbDeleteProfile ,                        "Eliminar Perfil"
  strUsersAdministration_sbDeleteProfileHint ,                    "Eliminar el perfil seleccionado"
  strUsersAdministration_tsPrograms ,                             "Control de Permisos"
  strUsersAdministration_tsUsersProgs ,                           "Usuarios"
  strUsersAdministration_DBGridUsersProgsColUSER_NAME ,           "Usuario"
  strUsersAdministration_DBGridUsersProgsColPROFILE ,             "Perfil"
  strUsersAdministration_tsProfilesProgs ,                        "Perfiles de Usuario"
  strUsersAdministration_DBGridProfilesProgsColPROF_DESCRIPTION , "Perfil"
  strUsersAdministration_sbApply ,                                "Aplicar"
  strUsersAdministration_sbApplyHintUser ,                        "Aplicar los cambios de permisos para el usuario"
  strUsersAdministration_sbApplyHintProfile ,                     "Aplicar los cambios de permisos para el perfil"
  strUsersAdministration_sbRestore ,                              "Restaurar"
  strUsersAdministration_sbRestoreHintUser ,                      "Restaurar los cambios de permisos para el usuario"
  strUsersAdministration_sbRestoreHintProfile ,                   "Restaurar los cambios de permisos para el perfil"
  strUsersAdministration_sbRestoreProfile ,                       "Restaurar del Perfil"
  strUsersAdministration_sbRestoreProfileHint ,                   "Restaurar los cambios de permisos para el usuario desde su prefil"
  strUsersAdministration_sbUpdateUsers ,                          "Actualizar Usuarios"
  strUsersAdministration_sbUpdateUsersHint ,                      "Actualizar los permisos de todos los usuarios con ese perfil"
  strUsersAdministration_PanelAboveProgs1 ,                       "Permisos para el usuário %s"
  strUsersAdministration_PanelAboveProgs2 ,                       "Permisos para el perfil %s"
  strUserAdministrationMsgChangeUserPwd ,                         "Propocione la nueva contraseña del usuario:"
  strLoginMainForm ,                                              "Acceso al sistema"
  strLogin_lblUserName ,                                          "Proporcione su &nombre de usuario:"
  strLogin_lblPassword ,                                          "Proporcione su &contraseña:"
  strLogin_OKBtn ,                                                "Ok"
  strLogin_CancelBtn ,                                            "Cancelar"
  strChangePwdMainForm ,                                          "Cambio de Contraseña"
  strChangePwd_lblOldPassword ,                                   "Proporcione su contraseña &antigua:"
  strChangePwd_lblNewPassword ,                                   "Proporcione su &nueva contraseña:"
  strChangePwd_lblPasswordAgain ,                                 "Proporcione nue&vamente su nueva contraseña:"
  strChangePwd_OKBtn ,                                            "Ok"
  strChangePwd_CancelBtn ,                                        "Cancelar"
  strNoProfile ,                                                  "Sin Perfil"
  strUserIsInactive ,                                             "El usuario %s no está autorizado para utilizar esta aplicación, contacte al administrador."
  strPasswordExpired ,                                            "Su contraseña ha expirado. Por favor, cambie su contraseña ahora."
  strTryChangePasswordAgain ,                                     "Para continuar utilizando este sistema, usted debe cambiar su contraseña. ¿Desea hacerlo de nuevo?"
  strPasswordUsedBefore ,                                         "La contraseña fue utilizada antes. Escoja otra contraseña"
  strNewProfileMainForm ,                                         "Nuevo Perfil"
  strNewProfile_lblPROF_DESCRIPTION ,                             "Descripción"
  strNewProfile_lblINTERVAL_CHANGE_PWD ,                          "Intervalo para el cambio"
  strNewProfile_OKBtn ,                                           "Ok"
  strNewProfile_CancelBtn ,                                       "Cancelar"
  strNewProfile_cbxMUST_CHANGE_PWD ,                              "Debe cambiar la contraseña"
  strNewProfile_rgpHIDE_DISABLE_MENU ,                            "Elemento no autorizado"
  strNewProfile_rgpHIDE_MENU ,                                    "Invisible"
  strNewProfile_rgpDISABLE_MENU ,                                 "Deshabilitado"
  strYes ,                                                        "Si"
  strNo ,                                                         "No"
  strINTERVAL_CHANGE_PWD_DisplayFormat ,                          "cada 00 dias"
  strcbxAUDIT_MODE ,                                              "Modo de Auditoria"
  strUsersAdministration_tsAudit ,                                "Auditar"
  strUsersAdministration_tsLoginActivity ,                        "Actividad de la conexión de los Usuários"
  strUsersAdministration_tsAudProgs ,                             "Programas"
  strUsersAdministration_lblUser                    ,             "Usuario"
  strUsersAdministration_lblProgram                    ,          "Programa"
  strUsersAdministration_gbxPeriodActivities ,                    "Periodo de Actividades"
  strUsersAdministration_lblFrom                    ,             "Desde"
  strUsersAdministration_lblTo ,                                  "Hasta"
  strUsersAdministration_COMPUTER_NAME ,                          "Computadora"
  strUsersAdministration_dbgLoginActivityColLOGIN_DATE_TIME ,     "Conexión"
  strUsersAdministration_dbgLoginActivityColLOGOUT_DATE_TIME ,    "Fin de Conexión"
  strConfirmDeleteAudit ,                                         "¿Eliminar la información de auditoria de %s en el período seleccionado?"
  strstrDelete ,                                                  "Eliminar"
  strUsersAdministration_cbxUSER_IS_ADMIN ,                       "El usuario es Administrador"
  strUsersAdministration_gbxFormList ,                            "Lista de Formas"
  strUsersAdministration_DBGridAudUsersCOMP_CAPTION ,             "Componente"
  strUsersAdministration_DBGridAudUsersDATE_UTIL ,                "Fecha/Hora"
  strUsersAdministration_tsCompUtilization ,                      "Utilización de los Componentes"
  strUsersAdministration_tsUserActivity ,                         "Actividades de los Usuarios"
  strUsersAdministration_gbxAddInfo1 ,                            "Información Adicionales"
  strMustBeAdmin ,                                                "Usted debe ser un Administrador para tener acceso al Módulo de Administración de Usuarios"
  strMinPwdSizeMSG ,                                              "El tamaño mínimo para la contraseña es de %d caracteres."
  strPressF2MSG ,                                                 "Presione F2 para buscar"
  strUserSearch ,                                                 "Búsqueda de Usuarios"
  strProfileSearch ,                                              "Búsqueda de Perfiles"
  strUsersAdministration_tabAdditionalInfo ,                      "Información Adicional"
  strUsersAdministration_pnlTopLegenda ,                          "Leyenda"
  strUsersAdministratoin_pnlLegendaEnabled ,                      "Habilitado"
  strUsersAdministration_pnlLegendaOnlyVisible ,                  "Visible, pero Deshabiltado"
  strUsersAdministration_pnlLegendaInvisible ,                    "Invisible"
  strUsersAdministration_btnLegenda ,                             "Cerrar Leyenda"
  strUserAdministration_menuAllEnabled ,                          "Todos Habilitados"
  strUserAdministration_menuAllDisabled ,                         "Todos Deshabilitados, pero Visibles"
  strUserAdministration_menuAllInvisible ,                        "Todos Invisibles"
  strUsersAdministration_ShowLengenda ,                           "Ver las Leyendas"
  strErrorMultipleLoginsNoAllowed ,                               "El usuario %s ya está utilizando la aplicación"
  strCurrentUsers ,                                               "Usuarios utilizando la aplicación"
  strbtnRefreshCurrenUsersList ,                                  "Actualizar Lista de Usuarios"
  strsbPrintUserList ,                                            "Imprimir Listado"
  strsbPrintUserAccess ,                                          "Imprimir Permisiones"
  strtabAppConfig ,                                               "Configuración Generales de la Aplicación"
  strlblTimeOut ,                                                 "Sin Actividad (en minutos)"
  strlblMaxBadLogins ,                                            "No. Máximo de conexiones sin éxito"
  strdbcbxDisableUser ,                                           "Deshabilitar al usuario después de exceder los intentos de conexión"
  strlblInativeDays ,                                             "Número Máximo de días inactivo"
  strlblMaxPwdHistory ,                                           "Número Máximo de Contraseñas en el Histórico"
  strdbcbxMultipleLogins ,                                        "Permiter multiple conexiones para un mismo usuario"
  strqrModule ,                                                   "Módulo"
  strLegend01 ,                                                   "Leyenda: H - Habilitado"
  strLegend02 ,                                                   "         D - Deshabilitado"
  strLegend03 ,                                                   "         I - Invisible"
  strtvEnabled ,                                                  "(H)"
  strtvDisabled ,                                                 "(D)"
  strtvInvisible ,                                                "(I)"
  strrep_TitlePermissions ,                                       "Permisos de Acceso"
  strrep_TitleUserList ,                                          "Listado de Usuarios"
  strqrlExpires ,                                                 "Expira"
  strqrlExpirationDate ,                                          "Expira el"
  strqrlAdmin ,                                                   "Admin"
  strrep_TitleProfList ,                                          "Listado de Perfiles"
  strrep_TitleUserLoginActivity ,                                 "Actividad de Conexión de los Usuarios"
  strpre_TitleUserActivity ,                                      "Actividades del Usuario"
  strqrlItem ,                                                    "Elemento/Componente"
  strqrlDate ,                                                    "Fecha"
  strrepTitleCompUtil ,                                           "Utilización de Componentes"
  strbtnPrint ,                                                   "Imprimir"
  strMaxCurrentUsersReached ,                                     " El número máximo de usuarios que ejecutan esta aplicación fue alcanzado. "

}
