<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <title>Overbyte ICS Web Application Server Demo - Configuration</title>
  </head>

  <body>
    <form action="<#DoConfig>" method="POST" enctype="multipart/form-data">
      <table>
        <tr>
          <td>Port</td>
          <td><input type="TEXT"   name="port"   value="<#Port>"></td>
        </tr>
        <tr>
          <td>Logo</td>
          <td><input type="FILE"   name="logo"></td>
        </tr>
        <tr>
          <td><input type="SUBMIT" name="submit" value="Cancel"></td>
          <td><input type="SUBMIT" name="submit" value="Save"></td>
        </tr>
      </table>
    </form>
  </body>
</html>

