#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  53050, "Inspector de objetos"
;--- EditorForm resources ----------------------------------------------------
  53060, "Editor de texto"
  53061, "&Memo"
  53062, "&Script"
  53063, "&Tipo de letra grande"
  53064, "Ajuste &linea"
  53065, "S&cript"
  53066, "&Variable"
  53067, "Campo &DB"
  53068, "&Formato"
;--- FRDesignerForm resources ------------------------------------------------
  53080, "Editor"
  53081, "Marco"
  53082, "Estandar"
  53083, "Texto"
  53084, "Objetos"
  53085, "Alineación"
  53086, "Datos"
  53087, "Nuevo informe"
  53088, "Abrir informe"
  53089, "Guardar informe"
  53090, "Vista previa"
  53091, "Cortar"
  53092, "Copiar"
  53093, "Pegar"
  53094, "Deshacer última acción"
  53095, "Rehacer acción cancelada"
  53096, "Traer al frente"
  53097, "Enviar atrás"
  53098, "Seleccionar todo"
  53099, "Añadir página"
  53100, "Eliminar página"
  53101, "Opciones de página"
  53102, "Rejilla"
  53103, "Alinear a rejilla"
  53104, "Ajustar a rejilla"
  53105, "Cerrar"
  53106, "Cerrar editor"
  53107, "Ajuste izquierda"
  53108, "Ajuste derecha"
  53109, "Centrado"
  53110, "Texto normal / 90º"
  53111, "Centrado vertical"
  53112, "Ajuste arriba"
  53113, "Ajuste abajo"
  53114, "Justificado"
  53115, "Negrita"
  53116, "Cursiva"
  53117, "Subrayado"
  53118, "Color de texto"
  53119, "Resaltar"
  53120, "Tamaño de letra"
  53121, "Tipo de letra"
  53122, "Linea superior de marco"
  53123, "Linea izquierda de marco"
  53124, "Linea inferior de marco"
  53125, "Linea derecha de marco"
  53126, "Todas las lineas del marco"
  53127, "Sin marco"
  53128, "Color de fondo"
  53129, "Color del marco"
  53130, "Grosor lineas"
  53131, "Grosor lineas"
  53132, "Seleccionar objeto"
  53133, "Insertar cuadro de texto"
  53134, "Insertar banda"
  53135, "Insertar imagen"
  53136, "Insertar subinforme"
  53137, "Dibujar lineas"
  53138, "Alinear al borde izquierdo"
  53139, "Centrado horizontal"
  53140, "Centrado horizontal en la ventana"
  53141, "Espaciado igualmente, horizontal"
  53142, "Alinear al borde derecho"
  53143, "Alinear al borde superior"
  53144, "Centrado verticalmente"
  53145, "Centrado verticalmente en la ventana"
  53146, "Espaciado igualmente, vertical"
  53147, "Alinear al borde inferior"
  53148, "Cor&tar"
  53149, "&Copiar"
  53150, "&Pegar"
  53151, "&Borrar"
  53152, "&Seleccionar todo"
  53153, "&Editar..."
  53154, "&Archivo"
  53155, "&Nuevo..."
  53156, "&Abrir..."
  53157, "&Guardar"
  53158, "&Lista de variables..."
  53159, "Opciones del &informe..."
  53160, "Opciones de &página..."
  53161, "&Vista previa"
  53162, "&Salir"
  53163, "&Editar"
  53164, "&Deshacer"
  53165, "&Repetir"
  53166, "Cor&tar"
  53167, "&Copiar"
  53168, "&Pegar"
  53169, "&Borrar"
  53170, "&Seleccionar todo"
  53171, "&Editar..."
  53172, "&Añadir página"
  53173, "E&liminar página"
  53174, "Traer al &frente"
  53175, "Enviar &atras"
  53176, "&Herramientas"
  53177, "&Barras de herramientas"
  53178, "&Herramientas de datos"
  53179, "&Opciones..."
  53180, "&Marco"
  53181, "&Estandar"
  53182, "&Texto"
  53183, "&Objetos"
  53184, "&Inspector de objetos"
  53185, "Paleta de &alineación"
  53186, "&Datos"
  53187, "&Acerca de..."
  53188, "Guardar &como..."
  53189, "&Contenido"
  53190, "Ayuda"
  53191, "Line style"
;--- DesOptionsForm resources ------------------------------------------------
  53280, "Opciones"
  53281, "Editor"
  53282, "Rejilla"
  53283, "Object moving"
  53284, "Unidades de medida"
  53285, "Tamaño de rejilla"
  53286, "&Mostrar rejilla"
  53287, "Alinear a &rejilla"
  53288, "&Botones en color"
  53289, "&4 pixels"
  53290, "&8 pixels"
  53291, "&18 pixels (5mm)"
  53292, "&Contorno"
  53293, "Co&ntents"
  53294, "&Pixels"
  53295, "&mm"
  53296, "&Pulgadas"
  53297, "Otros"
  53298, "&Editar al insertar"
  53299, "Show band &titles"
;--- TemplForm resources -----------------------------------------------------
  53310, "Nuevo informe"
  53311, "Descripción"
;--- TemplNewForm resources --------------------------------------------------
  53320, "Nueva plantilla de informe"
  53321, "&Comentarios"
  53322, "Icono"
  53323, "&Archivo..."
;--- EvForm resources --------------------------------------------------------
  53340, "Editor de variables"
  53341, "&Variable"
  53342, "Va&lor"
  53343, "&Expresión"
  53344, "Copiar variable"
  53345, "Pegar variable"
  53346, "Va&riables..."
;--- VaredForm resources -----------------------------------------------------
  53360, "Lista de variables"
  53361, "&Categorías y variables"
;--- DocOptForm resources ----------------------------------------------------
  53370, "Opciones del informe"
  53371, "Impresora"
  53372, "&Escoger en ejecución"
  53373, "Otros"
  53374, "&Doble pasada"
;--- PgoptForm resources -----------------------------------------------------
  53390, "Opciones de página"
  53391, "Papel"
  53392, "Orientación"
  53393, "&Vertical"
  53394, "&Horizontal"
  53395, "Tamaño"
  53396, "&Ancho, mm"
  53397, "A&lto, mm"
  53398, "Márgenes"
  53399, "Márgenes del papel"
  53400, "&Izquierda, mm"
  53401, "&Superior, mm"
  53402, "&Derecha, mm"
  53403, "&Inferior, mm"
  53404, "&No usar"
  53405, "Opciones"
  53406, "Opciones"
  53407, "&Imprimir en página anterior"
  53408, "Columnas"
  53409, "&Número"
  53410, "Sep. entre &columnas (mm)"
;--- FmtForm resources -------------------------------------------------------
  53420, "Formato de variables"
  53421, "Formato"
  53422, "&Decimales"
  53423, "&Separador decimal"
  53424, "&Formato"
;--- VarForm resources -------------------------------------------------------
  53440, "Variables"
  53441, "&Categoría:"
;--- FieldsForm resources ----------------------------------------------------
  53450, "Insertar campo DB"
  53451, "&Bases de datos disponibles"
;--- GEditorForm resources ---------------------------------------------------
  53460, "Imagen"
  53461, "&Ajustar"
  53462, "&Leer..."
  53463, "&Borrar"
  53464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  53480, "Origen de datos"
  53481, "&Origen de datos"
  53482, "&Número de registros"
;--- VBandEditorForm resources ------------------------------------------------
  53485, "Origen de datos"
  53486, "Bandas"
  53487, "Origen de datos"
  53488, "&Número de registros"
;--- GroupEditorForm resources -----------------------------------------------
  53490, "Grupo"
  53491, "&Condición"
  53492, "Insertar campo DB"
;--- BandTypesForm resources -------------------------------------------------
  53510, "Insertar nueva banda"
  53511, "Tipo de banda"
;--- HilightForm resources ---------------------------------------------------
  53520, "Atributos de acentuado"
  53521, "&Condición"
  53522, "Tipo de letra"
  53523, "C&olor..."
  53524, "&Negrita"
  53525, "Curs&iva"
  53526, "&Subrayado"
  53527, "Fondo"
  53528, "Co&lor..."
  53529, "&Transparente"
  53530, "Ot&ro"
;--- AboutForm resources -----------------------------------------------------
  53540, "Acerca de FastReport"
;--- OleForm resources -------------------------------------------------------
  53550, "Objeto OLE"
  53551, "&Insertar..."
  53552, "&Editar..."
  53553, "&Cerrar"
;--- RichForm resources ------------------------------------------------------
  53560, "Rich Edit"
  53561, "Abrir..."
  53562, "Guardar..."
  53563, "Deshacer"
  53564, "Negrita"
  53565, "Cursiva"
  53566, "Ajuste izquierda"
  53567, "Centrado"
  53568, "Ajuste derecha"
  53569, "Subrayado"
  53570, "Lista"
  53571, "Fuente"
  53572, "Cancelar"
  53573, "Guardar y salir"
  53574, "Var"
  53575, "Insertar variable"
  53576, "Tipo de letra"
  53577, "Tamaño de letra"
;--- ChartForm resources -----------------------------------------------------
  53590, "Objeto gráfico"
  53591, "Tipo"
  53592, "Datos"
  53593, "Tipo"
  53594, "Nombre del objeto"
  53595, "Opciones"
  53596, "&3D"
  53597, "&Serie simple"
  53598, "Mostrar &leyenda"
  53599, "Mostrar &ejes"
  53600, "Mostrar &rótulos"
  53601, "Multi-colo&r"
  53602, "&Leyenda"
  53603, "&Valores"
  53604, "Rótulos"
  53605, "Estilo"
  53606, "Valor"
  53607, "Porcentaje"
  53608, "Etiqueta"
  53609, "Etiqueta y porcentaje"
  53610, "Etiqueta y valor"
  53611, "Grupo Top10"
  53612, "&Mostrar los"
  53613, "&Etiqueta"
  53614, "más altos"
;--- ShapeForm resources -----------------------------------------------------
  53620, "Autoforma"
  53621, "Tipo de autoforma"
;--- InsertFieldsForm resources ----------------------------------------------
  53630, "Insertar campos"
  53631, "&Bases de datos disponibles"
  53632, "Posicionamiento"
  53633, "&Horizontal"
  53634, "&Vertical"
  53635, "&Incluir cabeceras"
  53636, "Include &bands"
;--- BarCodeForm resources ---------------------------------------------------
  53650, "Barcode editor"
  53651, "&Code"
  53652, "&Type of barcode"
  53653, "Options"
  53654, "Check&sum"
  53655, "&Human readable"
  53656, "Insert DB field"
  53657, "Insert variable"
  53658, "Rotation"
;--- RoundRectForm resources -------------------------------------------------
  53670, "Property editor"
  53671, "Sample :"
  53672, "Variables ..."
  53673, "Data .."
  53674, "Gradian"
  53675, "Shadow width"
  53676, "Color"
  53677, "Curve"
  53678, "Framed zone"
  53679, "End Color"
  53680, "Begin color"
  53681, "Style"
  53682, "Vertical,Horizontal,Elliptic,Rectangle,Horiz._Center,Vert._Center"
  53683, "Click here to define the shadow color or gradian colors"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "¿Elimiar esta página?"
  SConfirm, "Confirme"
  SDefaultPrinter, "Impresora por defecto"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Personalizado"
  SSpecVal, "Otros"
  SVar1, "Página#"
  SVar2, "Expresión"
  SVar3, "Fecha"
  SVar4, "Hora"
  SVar5, "Linea#"
  SVar6, "Linea global#"
  SVar7, "Columna#"
  SVar8, "Linea actual#"
  SVar9, "Total páginas"
  SStretched, "Ajustado"
  SVarFormat, "Formato de variable..."
  SWordWrap, "Corte automático de palabras"
  SWordBreak, ""
  SFormNewPage, "Forzar nueva página"
  SPrintIfSubsetEmpty, "Imprimir si detalle en blanco"
  SBreaked, "Partido"
  SPictureCenter, "Centrar imagen"
  SKeepAspectRatio, "Mantener relación de aspecto"
  SFormFile, "Informe FastReport"
  STemplFile, "Plantilla FastReport"
  SPictFile, "Fichero de imagen"
  SBMPFile, "Fichero de bitmap"
  SAllFiles, "Cualquier archivo"
  SInsOLEObject, "Insertar objeto OLE"
  SInsRichObject, "Insertar objeto RichText"
  SInsRich2Object, "Insertar objeto RX RichText"
  SInsCheckBox, "Insertar objeto cuadro de verificación"
  SInsChart, "Insertar objeto gráfico"
  SInsShape, "Insertar objeto de dibujo"
  SInsBarcode, "Insert Barcode object"
  SInsRoundRect, "Insert an RoundRect with shadow area"
  SSubReportOnPage, "Subinforme en página"
  SPicture, "[Imagen]"
  STransparent, "Transparente"
  SOther, "Otros..."
  SOnFirstPage, "En la primera página"
  SOnLastPage, "En la última página"
  SRepeatHeader, "Mostrar en todas las páginas"
  SDesignReport, "Diseñar informe"
  SInsertFields, "Insertar campos DB"
  SSaveChanges, "¿Guardar cambios?"
  STo, "en"
  SShape1, "Rectángulo"
  SShape2, "Rectángulo redondeado"
  SShape3, "Elipse"
  SShape4, "Triángulo"
  SPixels, "Pixels"
  SMM, "mm"
  SInches, "Pulgadas"
  SVirtualDataset, "Conjunto de datos virtual"
  SAutoSize, "Tamaño automático"
  SFRVariables, "FR variables"
}
