#include "users_res.pas"

STRINGTABLE

{
  strErrorDatabaseDir , "Mist de eigenschap DatabaseDir in %s"
  strErrorOpenTables , "Kan tabel niet openen in %s"
  strErrorPassword , "Ongeldige gebruikersnaam of wachtwoord"
  strErrorUserName , "Ongeldige gebruikersnaam of wachtwoord"
  strPasswordChanged , "Het wachtwoord is veranderd"
  strErrorChangePassword , "Het was niet mogelijk om het wachtwoord te veranderen"
  strErrorPwdsDiffers , "Wachtwoord komt niet overeen met de 1e keer"
  strNewUserOk , "Nieuwe gebruiker is aangemaakt"
  strUserExists , "Gebruiker bestaat al"
  strImpAddNewUser , "Niet mogelijk om nieuwe gebruiker toe te voegen"
  strConfirmDeleteUser , "Weet u zeker dat de gebruiker in %s verwijderd moet worden?"
  strUserDeleted , "Gebruiker was verwijderd"
  strConfirmDeleteProfile , "Weet u zeker dat profiel %s verdwijderd moet worden?"
  strProfileDeleted , "Profiel was verwijderd"
  strConfirm , "Bevestigen"
  strChangePassword , "Verander wachtwoord"
  strCancelChangingPassword , "Wilt u het gewijzigde wachtwoord afbreken?"
  strNewUserMainForm , "Nieuwe gebruiker"
  strNewUser_lblUserName , "&Gebruikersnaam:"
  strNewUser_lblPassword , "&Wachtwoord:"
  strNewUser_lblRealName , "&Naam:"
  strNewUser_OKBtn , "&OK"
  strNewUser_CancelBtn , "Afbreken"
  strNewUser_lblEXPIRATION_DATE , "Vervaldatum"
  strNewUser_lblPROFILE , "Profiel"
  strNewUser_cbxUSER_EXPIRE , "Gebruiker is vervallen"
  strNewUser_cbxUSER_ACTIVE , "Actief"
  strUsersAdministrationMainForm , "Gebruikers administratie"
  strUsersAdministration_tsUsers , "Gebruikers"
  strUsersAdministration_tsUsersList , "Gebruikerslijst"
  strUsersAdministration_DBGridUsersColUSER_NAME , "Gebruikersnaam"
  strUsersAdministration_DBGridUsersColREAL_NAME , "Naam"
  strUsersAdministration_DBGridUsersColPROFILE , "Profiel"
  strUsersAdministration_DBGridUsersColUSER_ACTIVE , "Actief"
  strUsersAdministration_tsUsersData , "Gebruikers data"
  strUsersAdministration_lblLAST_PWD_CHANGE , "Laatste verandering van wachtwoord"
  strUsersAdministration_lblUserName , "Gebruikersnaam"
  strUsersAdministration_lblRealName , "Naam"
  strUsersAdministration_lblPassword , "Password (Encrypted)"
  strUsersAdministration_lblEXPIRATION_DATE , "Vervaldatum"
  strUsersAdministration_lblPROFILE , "Profiel"
  strUsersAdministration_cbxUSER_EXPIRE , "Gebruiker is vervallen"
  strUsersAdministration_cbxUSER_ACTIVE , "Actief"
  strUsersAdministration_btnChangePassword , "Verander wachtwoord"
  strUsersAdministration_btnChangePasswordHint , "Verander het wachtwoord van de geselecteerde gebruiker"
  strUsersAdministration_PanelPwdHistory , "Geschiedenis van het wachtwoord"
  strUsersAdministration_DBGridPwdHistoryColPASSWORD , "Wachtwoord"
  strUsersAdministration_DBGridPwdHistoryColCHANGE_DATE , "Veranderd in"
  strUsersAdministration_sbNewUser , "Nieuwe gebruiker"
  strUsersAdministration_sbNewUserHint , "Maak een nieuwe gebruiker aan"
  strUsersAdministration_sbChangeUserData , "Verander data"
  strUsersAdministration_sbChangeUserDataHint , "Verander de geselecteerde gebruikersdata"
  strUsersAdministration_sbUserAccess , "Rechten"
  strUsersAdministration_sbUserAccessHint , "Toon geselecteerde gebruikersrechten"
  strUsersAdministration_sbDeleteUser , "Verwijder gebruiker"
  strUsersAdministration_sbDeleteUserHint , "Verwijder de geselecteerde gebruiker"
  strUsersAdministration_tsProfiles , "Gebruikers profielen"
  strUsersAdministration_tsProfilesList , "Profiellijst"
  strUsersAdministration_DBGridProfilesColPROF_DESCRIPTION , "Beschrijving"
  strUsersAdministration_DBGridProfilesColMUST_CHANGE_PWD , "U moet het wachtwoord veranderen"
  strUsersAdministration_DBGridProfilesColINTERVAL_CHANGE_PWD , "Ruimte om wachtwoord te wijzigen"
  strUsersAdministration_DBGridProfilesColHIDE_DISABLE_MENU , "Niet geautoriseerd onderwerp"
  strInvisible , "Onzichtbaar"
  strDisabled , "Niet toegankelijk"
  strUsersAdministration_tsProfilesData , "Profieldata"
  strUsersAdministration_lblPROF_DESCRIPTION  , "Beschrijving"
  strUsersAdministration_cbxMUST_CHANGE_PWD , "U moet het wachtwoord veranderen"
  strUsersAdministration_lblINTERVAL_CHANGE_PWD , "Ruimte om wachtwoord te wijzigen"
  strUsersAdministration_rgpHIDE_DISABLE_MENU , "Niet geautoriseerd onderwerp"
  strUsersAdministration_sbNewProfile , "Nieuw Profiel"
  strUsersAdministration_sbNewProfileHint , "Maak een nieuw profiel aan"
  strUsersAdministration_sbProfileAccess , "Rechten"
  strUsersAdministration_sbProfileAccessHint , "Toon geselecteerde profielrechten"
  strUsersAdministration_sbChangeProfileData , "Verander de data"
  strUsersAdministration_sbChangeProfileDataHint , "Verander de geselecteerde profieldata"
  strUsersAdministration_sbDeleteProfile , "Verwijder Profiel"
  strUsersAdministration_sbDeleteProfileHint , "Verwijder het geselecteerde profiel"
  strUsersAdministration_tsPrograms , "Rechten"
  strUsersAdministration_tsUsersProgs , "Gebruikers"
  strUsersAdministration_DBGridUsersProgsColUSER_NAME , "Gebruiker"
  strUsersAdministration_DBGridUsersProgsColPROFILE , "Profiel"
  strUsersAdministration_tsProfilesProgs , "Gebruikers profiel"
  strUsersAdministration_DBGridProfilesProgsColPROF_DESCRIPTION , "Profiel"
  strUsersAdministration_sbApply , "Vastleggen"
  strUsersAdministration_sbApplyHintUser , "Leg de veranderingen in de rechten voor de gebruiker vast"
  strUsersAdministration_sbApplyHintProfile , "Leg de verandering in de profielrechten vast"
  strUsersAdministration_sbRestore , "Terughalen"
  strUsersAdministration_sbRestoreHintUser , "Zet de veranderde gebruikersrechten terug"
  strUsersAdministration_sbRestoreHintProfile , "Zet de veranderde profielrechten terug"
  strUsersAdministration_sbRestoreProfile , "Terughalen profiel"
  strUsersAdministration_sbRestoreProfileHint , "Terughalen van de wijzigingen van de gebruikersrechten van hun profiel"
  strUsersAdministration_sbUpdateUsers , "Gebruikers verversen"
  strUsersAdministration_sbUpdateUsersHint , "Verversen van de gebruikersrechten van alle gebruikers van dit profiel"
  strUsersAdministration_PanelAboveProgs1 , "Gebruikersrechten %s"
  strUsersAdministration_PanelAboveProgs2 , "Profielrechten %s"
  strUserAdministrationMsgChangeUserPwd , "Tik het nieuwe wachtwoord van de gebruiker in:"
  strLoginMainForm , "Toegang tot het systeem"
  strLogin_lblUserName , "Tik uw gebruikersnaam in:"
  strLogin_lblPassword , "Tik uw wachtwoord"
  strLogin_OKBtn , "&OK"
  strLogin_CancelBtn , "Afbreken"
  strChangePwdMainForm , "Verander het wachtwoord"
  strChangePwd_lblOldPassword , "Tik uw oude wachtwoord:"
  strChangePwd_lblNewPassword , "Tik uw nieuwe wachtwoord"
  strChangePwd_lblPasswordAgain , "Tik nogmaals uw nieuwe wachtwoord"
  strChangePwd_OKBtn , "&OK"
  strChangePwd_CancelBtn , "Afbreken"
  strNoProfile , "Geen profiel"
  strUserIsInactive , "De gebruiker heeft geen rechten om deze applicatie te gebruiken, neem contact op met systeembeheer"
  strPasswordExpired , "Uw wachtwoord is vervallen. Verander nu a.u.b. uw wachtwoord."
  strTryChangePasswordAgain , "Om in het programma te kunnen blijven werken moet u uw wachtwoord veranderen. Wilt u het opnieuw proberen?"
  strPasswordUsedBefore , "Wachtwoord is al eerder gebruikt. Kies een ander wachtwoord."
  strNewProfileMainForm , "Nieuw Profiel"
  strNewProfile_lblPROF_DESCRIPTION , "Beschrijving"
  strNewProfile_lblINTERVAL_CHANGE_PWD , "Ruimte om te veranderen"
  strNewProfile_OKBtn , "&OK"
  strNewProfile_CancelBtn , "Afbreken"
  strNewProfile_cbxMUST_CHANGE_PWD , "U moet het wachtwoord veranderen"
  strNewProfile_rgpHIDE_DISABLE_MENU , "Niet geautoriseerd onderwerp"
  strNewProfile_rgpHIDE_MENU , "Onzichtbaar"
  strNewProfile_rgpDISABLE_MENU , "Niet toegankelijk"
  strYes , "Ja"
  strNo , "Nee"
  strINTERVAL_CHANGE_PWD_DisplayFormat , "Iedere 00 dag"
  strcbxAUDIT_MODE , "Onderzoekstand"
  strUsersAdministration_tsAudit , "Onderzoek"
  strUsersAdministration_tsLoginActivity , "Login activiteiten van gebruiker"
  strUsersAdministration_tsAudProgs , "Programma's"
  strUsersAdministration_lblUser                    , "Gebruiker"
  strUsersAdministration_lblProgram                    , "Programma"
  strUsersAdministration_gbxPeriodActivities , "Period of Activities"
  strUsersAdministration_lblFrom                    , "Van"
  strUsersAdministration_lblTo , "    Tot"
  strUsersAdministration_COMPUTER_NAME , "Computer"
  strUsersAdministration_dbgLoginActivityColLOGIN_DATE_TIME , "Inloggen"
  strUsersAdministration_dbgLoginActivityColLOGOUT_DATE_TIME , "Uitloggen"
  strConfirmDeleteAudit , "Verwijder audit information from %s on the selected period"
  strstrDelete , "Verwijder"
  strUsersAdministration_cbxUSER_IS_ADMIN , "Gebruiker is beheerder"
  strUsersAdministration_gbxFormList , "Lijst formeren"
  strUsersAdministration_DBGridAudUsersCOMP_CAPTION , "Component"
  strUsersAdministration_DBGridAudUsersDATE_UTIL , "Datum/Tijd"
  strUsersAdministration_tsCompUtilization , "Gebruik van het component"
  strUsersAdministration_tsUserActivity , "Gebruikersactiviteiten"
  strUsersAdministration_gbxAddInfo1 , "Overige informatie"
  strMustBeAdmin , "U moet beheerder zijn om toegang te hebben tot de beheerdersmodule."
  strMinPwdSizeMSG , "Minimaal aantal karakters voor wachtwoord is %d"
  strPressF2MSG , "Druk op F2 om te zoeken"
  strUserSearch , "Zoek naar gebruikers"
  strProfileSearch , "Zoek naar profielen"
  strUsersAdministration_tabAdditionalInfo , "Overige informatie"
  strUsersAdministration_pnlTopLegenda , "Legenda"
  strUsersAdministratoin_pnlLegendaEnabled , "Toegankelijk"
  strUsersAdministration_pnlLegendaOnlyVisible , "Zichtbaar, maar niet toegankelijk"
  strUsersAdministration_pnlLegendaInvisible , "Onzichtbaar"
  strUsersAdministration_btnLegenda , "Gesloten legenda"
  strUserAdministration_menuAllEnabled , "Alles toegankelijk"
  strUserAdministration_menuAllDisabled , "Niets toegankelijk, maar wel zichtbaar"
  strUserAdministration_menuAllInvisible , "Alles onzichtbaar"
  strUsersAdministration_ShowLengenda , "Zie legenda"
  strErrorMultipleLoginsNoAllowed , "De gebruiker %s gebruikt het programma reeds"
  strCurrentUsers , "Actuele gebruikers"
  strbtnRefreshCurrenUsersList , "Opschonen gebruikerslijst"
  strsbPrintUserList , "Print Lijst"
  strsbPrintUserAccess , "Print rechten"
  strtabAppConfig , "Algemene programmainstellingen"
  strlblTimeOut , "Time Out (in minuten)"
  strlblMaxBadLogins , "Maximum aantal niet succesvolle login pogingen"
  strdbcbxDisableUser , "Niet toegankelijk maken van gebruiker na het overschijden van login pogingen"
  strlblInativeDays , "Maximale aantal niet actieve dagen"
  strlblMaxPwdHistory , "Maximale wachtwoord geschiedenis"
  strdbcbxMultipleLogins , "Toestaan van meedere logins voor dezelfde gebruiker"
  strqrModule , "Module"
  strLegend01 , "Legenda: T - toegankelijk  "
  strLegend02 , "         N - niet toegankelijk "
  strLegend03 , "         O - Onzichtbaar"
  strtvEnabled , "(T)"
  strtvDisabled , "(N)"
  strtvInvisible , "(O)"
  strrep_TitlePermissions , "Rechten"
  strrep_TitleUserList , "Gebruikerslijst"
  strqrlExpires , "Vervalt"
  strqrlExpirationDate , "Vervalt op"
  strqrlAdmin , "Admin"
  strrep_TitleProfList , "Profiellijst"
  strrep_TitleUserLoginActivity , "Login activiteiten van gebruiker"
  strpre_TitleUserActivity , "Gebruikersactiviteiten"
  strqrlItem , "Onderdeel/Component"
  strqrlDate , "Datum"
  strrepTitleCompUtil , "Componentgebruik"
  strbtnPrint , "Print"
  strMaxCurrentUsersReached , "Het maximum aantal gebruikers die met dit programma werken is bereikt."
}