#include "..\sstrings.pas"
LANGUAGE LANG_ENGLISH,0
STRINGTABLE
{
  s_MsgDlgWarning, "אזהרה"
  s_MsgDlgError, "שגיאה"
  s_MsgDlgInformation, "מידע"
  s_MsgDlgConfirm, "אישור"
  s_MsgDlgYes, "&כן"
  s_MsgDlgNo, "&לא"
  s_MsgDlgOK, "אישור"
  s_MsgDlgCancel, "ביטול"
  s_MsgDlgHelp, "&עזרה"
  s_MsgDlgHelpNone, "עזרה לא זמינה"
  s_MsgDlgHelpHelp, "עזרה"
  s_MsgDlgAbort, "&בטל"
  s_MsgDlgRetry, "&נסה שוב"
  s_MsgDlgIgnore, "&התעלם"
  s_MsgDlgAll, "&הכל"
  s_MsgDlgNoToAll, "לא להכל"
  s_MsgDlgYesToAll, "כן להכל"

  s_RestoreStr, "החזר"
  s_MoveStr, "הזז"
  s_SizeStr, "גודל"
  s_MinimizeStr, "מיזעור"
  s_MaximizeStr, "הגדלה"
  s_CloseStr, "סגירה"

  s_HintClose, "סגירה"
  s_HintMaximize, "הגדלה"
  s_HintMinimize, "מיזעור"
  s_HintRestore, "החזר"
  s_HintHelp, "עזרה"

  s_FileOpen, "פתח קובץ"

  s_Calculator, "מחשבון"
  s_GradBuilder, "בניית הדרגה..."
  s_HotGradBuilder, "בניית הדרגה חמה..."
  s_Panels, "&פאנלים..."

  s_AvailSkins, "מעטפות זמינות"
  s_InternalSkin, "(פנימי)"

  s_ErrorSettingCount, "שגיאת הגדרה %s.Count"
  s_ListBoxMustBeVirtual, "עיצוב Listbox (%s) חייב להיות וירטואלי על מנת להגדיר ספירה"

  // Color dialog
  s_ColorDlgAdd, "הוספה לצבעים מוגדרים אישית"
  s_ColorDlgDefine, "הגדרת צבעים"
  s_ColorDlgMainPal, "פלטת צבעים ראשית :"
  s_ColorDlgAddPal, "צבעים נוספים :"
  s_ColorDlgTitle, "צבע"
  s_ColorDlgRed, "אדום :"
  s_ColorDlgGreen, "ירוק :"
  s_ColorDlgBlue, "כחול :"
  s_ColorDlgDecimal, "עשרוני - "
  s_ColorDlgHex, "הקסה - "  
  
  // Frame adapter
  s_FrameAdapterError1, "מתאם TsFrameAdapter חייב להיות ממוקם במסגרת המטופלת";

  // Hint designer
  s_HintDsgnTitle, "כיתובית לחלון השירטוט"
  s_HintDsgnPreserved, "הגדרות שמורות :"
  s_HintDsgnStyle, "עיצוב :"
  s_HintDsgnBevelWidth, "עומק שיפוע"
  s_Blur, "טישטוש"
  s_HintDsgnArrowLength, "אורך חץ"
  s_HintDsgnHorizMargin, "שוליים אופקיים"
  s_HintDsgnVertMargin, "שוליים אנכיים"
  s_HintDsgnRadius, "רדיוס פינות"
  s_HintDsgnMaxWidth, "רוחב מקסימלי"
  s_HintDsgnPauseHide, "(הפוגה להחבאה (מילי שניות"
  s_Percent, "אחוזים"
  s_HintDsgnOffset, "קיזוז"
  s_HintDsgnTransparency, "שקיפות"
  s_HintDsgnNoPicture, "תמונה לא זמינה"
  s_Font, "גופן"
  s_Texture, "מרקם"
  s_HintDsgnLoad, "טעינה מקובץ"
  s_HintDsgnSave, "שמירת קובץ בשם..."
  s_HintDsgnColor, "צבע"
  s_HintDsgnBorderTop, "גבול עליון"
  s_HintDsgnBorderBottom, "גבול תחתון"
  s_Shadow, "צל"
  s_Background, "רקע"
  s_Gradient, "הדרגתיות"
  s_PreviewHint, "תצוגה מקדימה של חלון הכיתובית"

  // File dialogs
  s_Folder, "תיקייה"
  s_FileName, "שם קובץ"
  s_FileType, "סוג קובץ"
  s_ReadOnly, "קריאה בלבד"
  s_ViewStyleList, "רשימה"
  s_ViewStyleReport, "פרטים"
  s_ViewStyleIcons, "צלמיות"
  s_ViewStyleSmallIcons, "צלמיות קטנות"
  s_OpenFile, "פתיחה"
  s_SaveFile, "שמירה"
  s_BtnOpen, "פתיחה"
  s_BtnSave, "שמירה"
  s_SelectDir, "בחירת תיקייה"
  s_Create, "יצירה"


}
