/****************************************************************************

vgVCLRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgVCLRes.pas"

STRINGTABLE
{
  SRegSystem           , "VG System"
  SRegTools            , "VG Tools"
  SRegControls         , "VG Controls"
  SRegExplorer         , "VG Explorer"
  SRegReports          , "VG Reports"
  SRegDataAccess       , "VG Data Access"
  SRegDataControls     , "VG Data Controls"
  SRegMultiTier        , "VG Multi-tier"
  SRegMisc             , "VG Misc"
  SRegVGServer         , "VG Server"

  SRegIniFile          , "VGLib"
  SRegIniSection       , "Defaults"

  SCannotDeleteFile    , "Kan '%s' niet wissen";
  SCannotRenameFile    , "Kan '%s' niet hernoemen naar '%s'";
  STlsCannotAlloc      , "Kan TLS niet alloceren";
  SUknownCompressorSign, "Ongeldige compressor signatuur: %s"

  SBadVariantType      , "Niet toegestaan variant type: %s";
  SNA                  , "Bewerking niet toepasbaar";
  SNIA                 , "Geen informatie beschikbaar";
  SNotSupported        , "Capability not supported";
  SNIY                 , "Nog niet ge¯mplementeerd";

  SParameterNotFound   , "Parameter %s niet gevonden";
  SParamTooBig         , "Parameter %s is groter dan %d bytes";
  SFieldUndefinedType  , "Parameter %s is van een niet gedefinieerd type";
  SFieldUnsupportedType, "Parameter %s van een niet ondersteund type";
  STextTrue            , "0=0";
  STextFalse           , "0=1";
  SCircularLink        , "Circulaire referenties niet toegestaan";
  SItemNotFound        , "Item %s niet gevonden";
  SDuplicateItem       , "Dubbel item %s";

  SsrCurrency          , "gulden\nguldens\nguldens\n"
  SsrCurrencySub       , "cent\ncent\ncent\n"
  SsrMaleOne           , "een\ntwee\ndrie\nvier\nvijf\nzes\nzeven\nacht\nnegen\n"
  SsrFemaleOne         , "een\ntwee\ndrie\nvier\nvijf\nzes\nzeven\nacht\nnegen\n"
  SsrTen               , "tien\ntwintig\ndertig\nveertig\nvijtig\nzestig\nzeventig\ntachtig\nnegentig\n"
  SsrFirstTen          , "elf\ntwaalf\ndertien\nveerteen\nvijftien\nzestien\nzeventien\nachtien\nnegentien\n"
  SsrHundred           , "honderd\ntweehonderd\ndriehonderd\nvierhonderd\nvijfhonderd\nzeshonderd\nzevenhonderd\nachthonderd\nnegenhonderd\n"
  SsrThousand          , "duizend\nduizend\nduizend\n"
  SsrMillion           , "miljoen\nmiljoen\nmiljoen\n"
  SsrBillion           , "miljard\nmiljard\nmiljard\n"
  SsrZero              , "nul"

  SLoginDialogCaption,   "Voer gebruikersnaam en wachtwoord in"
  SLoginCaption,         "&Gebruikersnaam:"
  SLoginPassword         "&Wachtwoord:"

}
