<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <title>Overbyte ICS Web Application Server Demo - Home Page</title>
  </head>

  <body>
     This is the home page !<br>
	 <a href="<#CONFIG>">Configuration</a> (Data entry)<br>
	 <a href="<#COUNTERVIEW>">Counter view</a> (AJAX)<br>
	 <a href="mailer.html?testing">Send Email Form</a><br>
	 <a href="HeadForm.html">Send HEAD request</a><br>
	 <br><br>
     Your are not <#USERCODE> ? <a href="<#LOGIN>">Change</a> user.
     <hr>
     <div align="center">
       <img src="<#COUNTER>?ref=HomePage">
     </div>
  </body>
</html>

