<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta content="en-gb" http-equiv="Content-Language">
<title>Mail Sent OK</title>
</head>
<body bgcolor="#4fffff" bgproperties="fixed">
<table border="0" cellpadding="6" width="100%">
    <tr>
        <td valign="top" width="20%">
      <P align=center>&nbsp;</P>
        </td>

        <td width="80%"><h1 align="center"><strong>Mail Sent OK</strong></h1>
        </td>
    </tr>
    <tr>
        <td valign="top" width="20%">
            <a href="HomePage.html">Return to Home Page</a></td>

        <td valign="top" width="80%">

      <P>Your email has already been
      sent and, internet permitting, you should receive a copy delivered
      to your mailbox within a few minutes.</P>
      <P>If the email does not arrive, this is probably because
      you have entered an incorrect email address, so you should return to the
      Email Form and check the address.</P>
        </td>
    </tr>
</table>

</body>
</html>
