#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  53050, "Inspecteur d'objet"
;--- EditorForm resources ----------------------------------------------------
  53060, "Editeur de texte"
  53061, "&Memo"
  53062, "&Script"
  53063, "&Grande police"
  53064, "&Mots entiers"
  53065, "S&cript"
  53066, "&Variable"
  53067, "&Données"
  53068, "&Format"
;--- FRDesignerForm resources ------------------------------------------------
  53080, "Editeur"
  53081, "Rectangle"
  53082, "Standard"
  53083, "Texte"
  53084, "Objets"
  53085, "Alignement"
  53086, "Outils"
  53087, "Nouvel état"
  53088, "Ouvrir un état"
  53089, "Enregistrer un état"
  53090, "Previsualisation d'un état"
  53091, "Couper"
  53092, "Copier"
  53093, "Coller"
  53094, "Annuler la dernière action"
  53095, "Refaire l'action annulée"
  53096, "Mettre en avant-plan"
  53097, "Mettre en arrière-plan"
  53098, "Selectionner tout"
  53099, "Ajouter une page"
  53100, "Supprimer la page"
  53101, "Options de la Page"
  53102, "Grille"
  53103, "Aligner sur la grille"
  53104, "Accord avec la grille"
  53105, "Fermer"
  53106, "Fermer l'éditeur"
  53107, "Aligner à gauche"
  53108, "Aligner à droite"
  53109, "Centrer"
  53110, "Texte normal / 90 degrées"
  53111, "Centrer verticalement"
  53112, "Aligner en haut"
  53113, "Aligner en bas"
  53114, "Aligner en largeur"
  53115, "Gras"
  53116, "Italique"
  53117, "Souligner"
  53118, "Couleur de police"
  53119, "Attibut de mise en évidence"
  53120, "Taille de police"
  53121, "Nom de police"
  53122, "Trait de cadre en haut"
  53123, "Trait de cadre à gauche"
  53124, "Trait de cadre en bas"
  53125, "Trait de cadre à droite"
  53126, "Encadré"
  53127, "Sans cadre"
  53128, "Couleur de fond"
  53129, "Couleur des trait"
  53130, "Epaisseur de trait"
  53131, "Epaisseur de trait"
  53132, "Selection d'objet"
  53133, "Insertion d'un objet rectangle"
  53134, "Insertion d'une bande"
  53135, "Insertion d'une image"
  53136, "Insertion d'un sous-état"
  53137, "Dessine des lignes"
  53138, "Aligner à gauche"
  53139, "Aligner les centres horizontalement"
  53140, "Centrer horizontalement dans la fenêtre"
  53141, "Espacer régulièrement, horizontalement"
  53142, "Aligner à droite"
  53143, "Aligner en haut"
  53144, "Aligner les centre verticalement"
  53145, "Centrer verticalement dans la fenêtre"
  53146, "Espacer régulièrement, verticalement"
  53147, "Aligner en bas"
  53148, "Cou&per"
  53149, "&Copier"
  53150, "Co&ller"
  53151, "&Supprimer"
  53152, "Selectionner &tout"
  53153, "&Editer..."
  53154, "&Fichier"
  53155, "&Nouveau..."
  53156, "&Ouvrir..."
  53157, "&Enregistrer"
  53158, "&Liste des variables..."
  53159, "&Options de l'état..."
  53160, "Options de la &page..."
  53161, "Pré&visualisation"
  53162, "&Quitter"
  53163, "&Edition"
  53164, "&Défaire"
  53165, "&Refaire"
  53166, "Cou&per"
  53167, "&Copier"
  53168, "Co&ller"
  53169, "&Supprimer"
  53170, "Selectionner &tout"
  53171, "&Editer..."
  53172, "&Ajouter un page"
  53173, "&Supprimer une page"
  53174, "&Mettre en avant-plan"
  53175, "M&ettre en arrière-plan"
  53176, "&Outils"
  53177, "&Barre d'outils"
  53178, "Outi&ls"
  53179, "&Options..."
  53180, "&Rectangle"
  53181, "&Standard"
  53182, "&Texte"
  53183, "&Objets"
  53184, "&Inspecteur d'objet"
  53185, "Palette d'&alignement "
  53186, "Outi&ls"
  53187, "&A propos..."
  53188, "Enregistrer &sous..."
  53189, "&Rubriques d'aide"
  53190, "&Outil d'aide"
  53191, "Style de ligne"
;--- DesOptionsForm resources ------------------------------------------------
  53280, "Options"
  53281, "Editeur"
  53282, "Grille"
  53283, "Déplacement d'objet"
  53284, "Unité utilisée"
  53285, "Taille de grille"
  53286, "&Voir le grille"
  53287, "Aligner sur la &grille"
  53288, "&Boutons colorés"
  53289, "&4 pixels"
  53290, "&8 pixels"
  53291, "&18 pixels (5mm)"
  53292, "&Contour"
  53293, "C&ontenu"
  53294, "&Pixels"
  53295, "&MM"
  53296, "&Pouces"
  53297, "Autre"
  53298, "&Edition après insertion"
  53299, "&Voir les titres des bandes"
;--- TemplForm resources -----------------------------------------------------
  53310, "Nouvel état"
  53311, "Description"
;--- TemplNewForm resources --------------------------------------------------
  53320, "Nouveau modèle d'état"
  53321, "&Commentaire"
  53322, "Icone"
  53323, "&Fichier..."
;--- EvForm resources --------------------------------------------------------
  53340, "Editeur de variables"
  53341, "&Variable"
  53342, "Va&leur"
  53343, "&Expression"
  53344, "Copier les variables"
  53345, "Coller les variables"
  53346, "Va&riables..."
;--- VaredForm resources -----------------------------------------------------
  53360, "Liste des variables"
  53361, "&Catégories et variables"
;--- DocOptForm resources ----------------------------------------------------
  53370, "Option de l'état"
  53371, "Imprimante"
  53372, "&selectionner au chargement"
  53373, "Autre"
  53374, "Etat en &deux passes"
;--- PgoptForm resources -----------------------------------------------------
  53390, "Options de la page"
  53391, "Papier"
  53392, "Orientation"
  53393, "&Portrait"
  53394, "Pa&ysage"
  53395, "Taille"
  53396, "&Largeur, mm"
  53397, "&Hauteur, mm"
  53398, "Marges"
  53399, "Les marges de la page"
  53400, "&Gauche, mm"
  53401, "&Haute, mm"
  53402, "&Droite, mm"
  53403, "&Basse, mm"
  53404, "&Non utilisées"
  53405, "Options"
  53406, "Options"
  53407, "à la &suite de la page précédente"
  53408, "Colonnes"
  53409, "&Numbre"
  53410, "Entre &Colonne, mm"
;--- FmtForm resources -------------------------------------------------------
  53420, "Formatage de variable"
  53421, "Format"
  53422, "&Nombre de décimales"
  53423, "&Symbol"
  53424, "&Format"
;--- VarForm resources -------------------------------------------------------
  53440, "Variables"
  53441, "&Categorie:"
;--- FieldsForm resources ----------------------------------------------------
  53450, "Insérer un champ de données"
  53451, "&Bases disponibles"
;--- GEditorForm resources ---------------------------------------------------
  53460, "Image"
  53461, "&Etirer"
  53462, "&Ouvrir..."
  53463, "&Vider"
  53464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  53480, "Source de données de bande"
  53481, "&Source"
  53482, "&Nombre d'enregistrement"
;--- VBandEditorForm resources ------------------------------------------------
  53485, "Source de données de bande"
  53486, "Bandes"
  53487, "Source de données"
  53488, "&Nombre d'enregistrement"
;--- GroupEditorForm resources -----------------------------------------------
  53490, "Groupe"
  53491, "&Condition"
  53492, "Insérer un champ de données"
;--- BandTypesForm resources -------------------------------------------------
  53510, "Insérer une nouvelle bande"
  53511, "Type de bande"
;--- HilightForm resources ---------------------------------------------------
  53520, "Attibut de mise ne évidence"
  53521, "&Condition"
  53522, "Police"
  53523, "C&ouleur..."
  53524, "&Gras"
  53525, "&Italique"
  53526, "&Souligner"
  53527, "Fond"
  53528, "Co&leur..."
  53529, "&Transparent"
  53530, "&Autre"
;--- AboutForm resources -----------------------------------------------------
  53540, "A propos de FastReport"
;--- OleForm resources -------------------------------------------------------
  53550, "Objet OLE"
  53551, "&Insérer..."
  53552, "&Editer..."
  53553, "&Fermer"
;--- RichForm resources ------------------------------------------------------
  53560, "Edition texte formaté"
  53561, "Ovrir..."
  53562, "Enregistrer..."
  53563, "Refaire"
  53564, "Gras"
  53565, "Italique"
  53566, "Aligner à gauche"
  53567, "Centrer"
  53568, "Aligner à droite"
  53569, "Souligner"
  53570, "Liste"
  53571, "Police"
  53572, "Annuler"
  53573, "Enregistrer et fermer"
  53574, "Var"
  53575, "Insérer une variable"
  53576, "Police"
  53577, "Taille de police"
;--- ChartForm resources -----------------------------------------------------
  53590, "Objet Graph"
  53591, "Type"
  53592, "Données"
  53593, "Type"
  53594, "Nom d'objet"
  53595, "Options"
  53596, "&3D"
  53597, "&Simple"
  53598, "Voir la &légende"
  53599, "Voir les &axes"
  53600, "Voir les &marques"
  53601, "Multi-&couleur"
  53602, "&Légendes"
  53603, "&Valeurs"
  53604, "Marques"
  53605, "Style"
  53606, "Valeur"
  53607, "Pourcentage"
  53608, "Libellé"
  53609, "Libellé et pourcentage"
  53610, "Libellé et valeur"
  53611, "Groupe des Top10"
  53612, "&Voir les cimes"
  53613, "&Libellé"
  53614, "valeurs"
;--- ShapeForm resources -----------------------------------------------------
  53620, "Figure"
  53621, "Type de figure"
;--- InsertFieldsForm resources ----------------------------------------------
  53630, "Insérer des champs"
  53631, "&Sources disponibles"
  53632, "Arrangement"
  53633, "&Horizontal"
  53634, "&Vertical"
  53635, "&Inclure les entêtes"
  53636, "Inclure les &bandes"
;--- BarCodeForm resources ---------------------------------------------------
  53650, "Editeur de code barre"
  53651, "&Code"
  53652, "&Type de code barre"
  53653, "Options"
  53654, "Check&sum"
  53655, "&Code en clair"
  53656, "Insérer un champ"
  53657, "Insérer une variable"
  53658, "Rotation"
;--- RoundRectForm resources -------------------------------------------------
  53670, "Editeur de propriétés"
  53671, "Exemple :"
  53672, "Variables..."
  53673, "Données .."
  53674, "Dégradé"
  53675, "Largeur de l'ombre"
  53676, "Couleur"
  53677, "Courbe"
  53678, "Zone encadrée"
  53679, "Couleur de fin"
  53680, "Couleur de début"
  53681, "Style"
  53682, "Verticale,Horizontale,Elliptique,Rectangle,Horiz._Centrer,Vert._Centrer"
  53683, "Cliquez ici pour définir la couleur"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Supprimer cette page ?"
  SConfirm, "Confirmation"
  SDefaultPrinter, "Imprimante par défaut"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Personalisé"
  SSpecVal, "Autre"
  SVar1, "Page#"
  SVar2, "Expression"
  SVar3, "Date"
  SVar4, "Time"
  SVar5, "Line#"
  SVar6, "Line through#"
  SVar7, "Column#"
  SVar8, "Current line#"
  SVar9, "TotalPages"
  SStretched, "Etiré"
  SVarFormat, "Format de variable..."
  SWordWrap, "Mots entier"
  SWordBreak, "Cesure de mots (russe seulement!)"
  SFormNewPage, "Forcer nouvelle page"
  SPrintIfSubsetEmpty, "Imprimer si le détail est vide"
  SBreaked, "Coupure auto"
  SPictureCenter, "Centrer l'image"
  SKeepAspectRatio, "Conserver l'aspect"
  SFormFile, "Etat FastReport"
  STemplFile, "Modèle FastReport"
  SPictFile, "Fichier image"
  SBMPFile, "Fichier Bitmap"
  SAllFiles, "Tous les fichiers"
  SInsOLEObject, "Insérer un objet OLE"
  SInsRichObject, "Insérer un objet de texte formaté"
  SInsRich2Object, "Insert RX RichText object"
  SInsCheckBox, "Insérer un objet boite à cocher"
  SInsChart, "Insérer un objet Graph"
  SInsShape, "Insérer un objet forme"
  SInsBarcode, "Insérer un objet code barre"
  SInsRoundRect, "Insérer un objet Rectangle à angles arrondis avec ombre ou fond dégradé"
  SSubReportOnPage, "Insérer un sous-état"
  SPicture, "[Image]"
  STransparent, "Transparent"
  SOther, "Autre..."
  SOnFirstPage, "Sur la première page"
  SOnLastPage, "Sur la dernière page"
  SRepeatHeader, "Visible sur toutes les pages"
  SDesignReport, "Editeur d'état"
  SInsertFields, "Insérer un champ de données"
  SSaveChanges, "Enregistrer les changements"
  STo, "sur"
  SShape1, "Rectangle"
  SShape2, "Rectangle à angle arrondis"
  SShape3, "Ellipse"
  SShape4, "Triangle"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Pouces"
  SVirtualDataset, "Source virtuelle"
  SAutoSize, "Taille auto"
  SFRVariables, "Variable FR"
}
