#include "ZRConst.pas"

STRINGTABLE

{
  SzrParentReport        , "Un componente di classe %s può appartenere solo ad un report o ad una banda"
  SzrParentBand          , "Un componente di classe %s puù appartenere solo ad una banda"
  szrCircularMaster      , "I collegamenti circolari non sono consentiti"
  szrNoChildBand         , "Le bande di tipo %s non possono avere figli"
  szrNoControllerBand    , "Le bande di tipo %s non possono avere sottocontrollori"
  szrNoStretch           , "La banda %s non si puù espandere"
  szrBandDelete          , "La banda %s contiene etichette.\nEliminarla ?"

  szrPrinterNotReady     , "Non pronto ad iniziare un nuovo documento"
  szrPrinterNotFinished  , "Generazione del report annullata"
  szrPrinterPageIndex    , "Fuori dai limiti della pagina, pagina %d/%d, linea %d"
  szrPrinterNotBusy      , "Il nuovo documento non è stato iniziato"
  szrIllegalPageRange   , "Intervallo pagine non valido: %d..%d"
  szrInvalidFileName    , "Nome file non valido: %s"

  szrCompleted          , "completata"
  szrProcessing         , "Elaborazione..."
  szrPrinting           , "Stampa..."

  szrOf                 , "di"
  szrFirstPageHint      , "Prima pagina"
  szrPrevPageHint       , "Pagina precedente"
  szrNextPageHint       , "Pagina seguente"
  szrLastPageHint       , "Ultima pagina"
  szrSaveReportHint     , "Salva report - Ctrl+S"
  szrLoadReportHint     , "Carica report"
  szrPrintReportHint    , "Stampa report - Ctrl+P"
  szrPrintReport        , "Stampa"
  szrGotoPageNo         , "Vai a pagina"
  szrPageNoHint         , "Vai a pagina numero"
  szrSearchReport       , "Cerca"
  szrSearchHint         , "Cerca - F7,\nContinua ricerca - Shift+F7"

  szrPrinterSetup       , "Printer setup"
  szrFileFilter         , "Text files (*.txt)|*.txt|All files (*.*)|*.*"
  szrEscapeModelCustom  , "<custom>"
  szrEscapeModelNone    , "<none>"
  szrConvertToOEM        , "Convert to OEM"
  szrIgnoreFontStyles    , "Ignore font styles"
  szrEscapeModel         , "ESC-sequence"
  szrPrintDialogCaption  , "Printer setup"

  szrOK    , "OK"
  szrCancel, "Annulla"
  szrExit  , "&Esci"

  szrTime        , "hh:mm:ss"
  szrDate        , "dd/mm/yyyy"
  szrDateTime    , "dd/mm/yyyy hh:mm:ss"
  szrPageNumber  , "Page#"
  szrReportTitle , "Report title"
  szrRecordNumber, "Record#"
  szrRecordCount , "Record count"

  szrExpressionError     , "Errore nell'espressione '%s'"
  szrExpressionParse     , "L'espressione '%s' non è stata ancora anlizzata"
  szrInvalidNumeric      , "Numero non valido nell'espressione '%s'"
  szrInvalidDate         , "Data non valida nell'espressione '%s'"
  szrInvalidString       , "Stringa non valida nell'espressione '%s'"
  szrMissingBracket      , "'%s' di chiusura mancante nell'espressione '%s'"
  szrIllegalBracket      , "Uso non valido di '%s' nell'espressione '%s'" 
  szrUnknownEntry        , "Funzione o variabile sconosciuta nell'espressione '%s'"
  szrIllegalUnary        , "'%s' unario non valido nell'espressione '%s'"

  szrBooleanFalse        , "False"
  szrBooleanTrue         , "True"
  szrIllegalLogics       , "L'operazione logica deve avere operandi booleani"
  szrIllegalBitwise      , "L'operazione tra bit deve avere operandi interi"
  szrIllegalDate         , "Operazione sulle date non valida"
  szrIllegalArguments    , "Numero di argomenti non valido per '%s'"
  szrCalculationError    , "Errore valutando '%s':\n%s"

  szrCircularVariable    , "Referenza circolare illegale a '%s'"
  szrControllerLibrary   , "Variabili di controllo '%s'"

  szrDesignNone                 , "<none>"
  szrDesignClose                , "&Close"
  szrDesignTSBands              , "Bands and groups"
  szrDesignTSVars               , "Variables"
  szrDesignGBBands              , "Bands"
  szrDesignGBGroups             , "Groups"
  szrDesignTVBands              , "|Report bands"
  szrDesignLBGroups             , "|Groups of the current report level"
  szrDesignACBandsNew           , "Controller"
  szrDesignACBandsRename        , "Rename"
  szrDesignACBandsDelete        , "Delete"
  szrDesignACGroupsNew          , "New"
  szrDesignACGroupsDelete       , "Delete"
  szrDesignSureBandDelete       , "Delete panel %s. Are you sure?"
  szrDesignSureGroupDelete      , "Delete group %s. Are you sure?"
  
  szrDesignGBData               , "Controllers"
  szrDesignGRControllers        , "|Report controllers list"
  szrDesignCellController       , "Controller"
  szrDesignCellDataSet          , "Data"
  szrDesignLADataFields         , "Fields"
  szrDesignLBDataFields         , "|List of fields available"

  szrDesignGBVariables          , "Variables"
  szrDesignLAVariableFields     , "Fields"
  szrDesignLBVariableFields     , "|List of data field variables"
  szrDesignLAVariableExpressions, "Expressions"
  szrDesignLBVariableExpressions, "|List of expression variables"
  szrDesignLAVariableTotals     , "Aggregates"
  szrDesignLBVariableTotals     , "|List of aggregate variables"

  szrDesignACVariablesField     , "Field"
  szrDesignACVariablesExpression, "Expression"
  szrDesignACVariablesTotal     , "Aggregate"
  szrDesignACVariablesDelete    , "Delete"

  szrSearchDlgCaption           , "Trova"
  szrSearchDlgInvitation        , "Tro&va:"
  szrSearchDlgIgnoreCase        , "&Maiuscole/minuscole"
  szrSearchDlgFromCurrent       , "Dalla posizione &corrente"
  szrSearchDlgStartSearch       , "&Trova"
  szrSearchDlgContinueSearch    , "Trova &successivo"
  szrSearchNotFound             , "Il testo '%s' non è stato trovato"
}


