cb_box_off_png       RCDATA cb_box_off.png
cb_box_off_2x_png    RCDATA cb_box_off@2x.png
cb_box_on_png        RCDATA cb_box_on.png
cb_box_on_2x_png     RCDATA cb_box_on@2x.png
cb_dark_off_png      RCDATA cb_dark_off.png
cb_dark_off_2x_png   RCDATA cb_dark_off@2x.png
cb_dark_on_png       RCDATA cb_dark_on.png
cb_dark_on_2x_png    RCDATA cb_dark_on@2x.png
cb_glossy_off_png    RCDATA cb_glossy_off.png
cb_glossy_off_2x_png RCDATA cb_glossy_off@2x.png
cb_glossy_on_png     RCDATA cb_glossy_on.png
cb_glossy_on_2x_png  RCDATA cb_glossy_on@2x.png
cb_green_off_png     RCDATA cb_green_off.png
cb_green_off_2x_png  RCDATA cb_green_off@2x.png
cb_green_on_png      RCDATA cb_green_on.png
cb_green_on_2x_png   RCDATA cb_green_on@2x.png
cb_mono_off_png      RCDATA cb_mono_off.png
cb_mono_off_2x_png   RCDATA cb_mono_off@2x.png
cb_mono_on_png       RCDATA cb_mono_on.png
cb_mono_on_2x_png    RCDATA cb_mono_on@2x.png

