#include "..\sstrings.pas"
LANGUAGE LANG_CZECH,6
STRINGTABLE
{
  s_MsgDlgWarning, "Upozornìní"
  s_MsgDlgError, "Chyba"
  s_MsgDlgInformation, "Informace"
  s_MsgDlgConfirm, "Potvrdit"
  s_MsgDlgYes, "&Ano"
  s_MsgDlgNo, "&Ne"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Zrušit"
  s_MsgDlgHelp, "&Pomoc"
  s_MsgDlgHelpNone, "Pomoc nenalezena"
  s_MsgDlgHelpHelp, "Pomoc"
  s_MsgDlgAbort, "&Zrušit"
  s_MsgDlgRetry, "&Opakovat"
  s_MsgDlgIgnore, "&Ignorovat"
  s_MsgDlgAll, "&Všechny"
  s_MsgDlgNoToAll, "&Ne pro všechny"
  s_MsgDlgYesToAll, "&Ano pro všechny"

  s_RestoreStr, "Obnovit"
  s_MoveStr, "Pohyb"
  s_SizeStr, "Velikost"
  s_MinimizeStr, "Minimalizovat"
  s_MaximizeStr, "Maximalizovat"
  s_CloseStr, "Zavøít"

  s_HintClose, "Zavøít"
  s_HintMaximize, "Maximalozovat"
  s_HintMinimize, "Minimalizovat"
  s_HintRestore, "Obnovit"
  s_HintHelp, "Pomoc"

  s_FileOpen, "Otevøít soubor"

  s_Calculator, "Kalkulaèka"
  s_GradBuilder, "&Tvùrce gradientu..."
  s_HotGradBuilder, "&Hot tvùrce gradientu..."
  s_Panels, "&Panely..."

  s_AvailSkins, "Dostupné skiny"
  s_InternalSkin, "(interní)"

  s_ErrorSettingCount, "Chyba nastavení %s.Poèet"
  s_ListBoxMustBeVirtual, "Listbox (%s) styl musí být - virtual in order to set Count"
}