#include "..\sstrings.pas"
LANGUAGE LANG_POLISH,3
STRINGTABLE
{
  s_MsgDlgWarning, "Uwaga"
  s_MsgDlgError, "B³¹d"
  s_MsgDlgInformation, "Informacja"
  s_MsgDlgConfirm, "PotwierdŸ"
  s_MsgDlgYes, "&Tak"
  s_MsgDlgNo, "&Nie"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Anuluj"
  s_MsgDlgHelp, "&Pomoc"
  s_MsgDlgHelpNone, "Brak pomocy"
  s_MsgDlgHelpHelp, "Pomoc"
  s_MsgDlgAbort, "&Przerwij"
  s_MsgDlgRetry, "&Powtórz"
  s_MsgDlgIgnore, "&Ignoruj"
  s_MsgDlgAll, "&Wszystko"
  s_MsgDlgNoToAll, "N&ie na wszystkie"
  s_MsgDlgYesToAll, "Tak na &wszystkie"

  s_RestoreStr, "Przywróæ"
  s_MoveStr, "Przenieœ"
  s_SizeStr, "Rozmiar"
  s_MinimizeStr, "Minimalizuj"
  s_MaximizeStr, "Maksymalizuj"
  s_CloseStr, "Zamknij"

  s_HintClose, "Zamknij"
  s_HintMaximize, "Maksymalizuj"
  s_HintMinimize, "Minimalizuj"
  s_HintRestore, "Przywróc"
  s_HintHelp, "Pomoc"

  s_FileOpen, "Plik otwarty"

  s_Calculator, "Kalkulator"
  s_GradBuilder, "&Gradient builder..."
  s_HotGradBuilder, "&Hot gradient builder..."
  s_Panels, "&Panele..."

  s_AvailSkins, "Dostêpne skórki"
  s_InternalSkin, "(wewnêtrzny)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"


  // Color dialog
  s_ColorDlgAdd, "Dodaj do kolorów niestandardowych"
  s_ColorDlgDefine, "Zdefiniuj kolor"
  s_ColorDlgMainPal, "G³ówna paleta :"
  s_ColorDlgAddPal, "Kolory dodatkowe :"
  s_ColorDlgTitle, "Kolor"
  s_ColorDlgRed, "Czerwony :"
  s_ColorDlgGreen, "Zielony :"
  s_ColorDlgBlue, "Niebieski :"
  s_ColorDlgDecimal, "Decymalnie - "
  s_ColorDlgHex, "Hex - "  
  
  // Frame adapter
  s_FrameAdapterError1, "TsFrameAdapter adapter must be placed on the handled frame";

  // Hint designer
  s_HintDsgnTitle, "Hint Designer Form"
  s_HintDsgnPreserved, "Predefiniowane :"
  s_HintDsgnStyle, "Styl :"
  s_HintDsgnBevelWidth, "Wielkoœæ"
  s_Blur, "Blur"
  s_HintDsgnArrowLength, "D³ugoœæ strza³ki"
  s_HintDsgnHorizMargin, "Margines poziomy"
  s_HintDsgnVertMargin, "Margines pionowy"
  s_HintDsgnRadius, "Zaokr¹glenie rogów"
  s_HintDsgnMaxWidth, "Maks. szerokoœæ"
  s_HintDsgnPauseHide, "Wyœwietlanie (ms)"
  s_Percent, "Procent"
  s_HintDsgnOffset, "Offset"
  s_Transparency, "Przezroczystoœæ(%)"
  s_HintDsgnNoPicture, "Obrazek niedostêpny"
  s_Font, "Czcionka"
  s_Texture, "Tekstura"
  s_HintDsgnLoad, "Otwórz z pliku"
  s_HintDsgnSave, "Zapisz plik jako..."
  s_Color, "Kolor"
  s_HintDsgnBorderTop, "Górna granica"
  s_HintDsgnBorderBottom, "Dolna granica"
  s_Shadow, "Cieñ"
  s_Background, "T³o"
  s_Gradient, "Gradient"
  s_PreviewHint, "Podgl¹d dymka informacyjnego"

  // File dialogs
  s_Folder, "Folder"
  s_FileName, "Nazwa pliku"
  s_FileType, "Typ pliku"
  s_ReadOnly, "Tylko do odczytu"
  s_ViewStyleList, "Lista"
  s_ViewStyleReport, "Szczegó³y"
  s_ViewStyleIcons, "Ikony"
  s_ViewStyleSmallIcons, "Miniatury"
  s_OpenFile, "Otwórz"
  s_SaveFile, "Zapisz"
  s_BtnOpen, "Otwórz"
  s_BtnSave, "Zapisz"
  s_SelectDir, "Wybierz folder"
  s_Create, "Nowy folder"
}
