#include "ZRConst.pas"

STRINGTABLE

{
  szrParentReport        , "Un componente de tipo %s sólo puede pertenecer a un informe o a sus bandas"
  szrParentBand          , "Un componente de tipo %s sólo puede pertenecer a las bandas del informe"
  szrCircularMaster      , "No se permiten referencias circulares"
  szrNoChildBand         , "Las bandas de tipo %s no pueden tener hijos"
  szrNoControllerBand    , "Las bandas de tipo %s no pueden tener subcontroles"
  szrNoStretch           , "La banda %s no puede autoajustarse"
  szrBandDelete          , "La banda %s contiene etiquetas.\n¿Borrar de todos modos ?"

  szrPrinterNotReady     , "No está listo para empezar un nuevo documento"
  szrPrinterNotFinished  , "Generación de informe cancelada"
  szrPrinterPageIndex    , "Fuera de los límites de la página. Página%d/%d, linea %d"
  szrPrinterNotBusy      , "No se inició un nuevo documento"
  szrIllegalPageRange   , "Rango de páginas inválido: %d..%d"
  szrInvalidFileName    , "Nombre de archivo no válido: %s"

  szrCompleted          , "completado"
  szrProcessing         , "Procesando.."
  szrPrinting           , "Imprimiendo.."

  szrOf                 , "de"
  szrFirstPageHint      , "Primera página"
  szrPrevPageHint       , "Página anterior"
  szrNextPageHint       , "Página siguiente"
  szrLastPageHint       , "Última página"
  szrSaveReportHint     , "Guardar informe - Ctrl+S"
  szrLoadReportHint     , "Cargar informe"
  szrPrintReportHint    , "Imprimir informe - Ctrl+P"
  szrPrintReport        , "Imprimir"
  szrGotoPageNo         , "Ir a la página"
  szrPageNoHint         , "Ir a la página nº "
  szrSearchReport       , "Buscar"
  szrSearchHint         , "Buscar - F7,\nContinuar - Shift+F7"

  szrPrinterSetup       , "Configuracion del informe"
  szrFileFilter         , "Archivos de texto (*.txt)|*.txt|Todos los archivos (*.*)|*.*"
  szrEscapeModelCustom  , "<personalizado>"
  szrEscapeModelNone    , "<ninguno>"
  szrConvertToOEM        , "Convertir a OEM"
  szrIgnoreFontStyles    , "Ignorar los estilos de fuentes"
  szrEscapeModel         , "Secuencia de escape"
  szrPrintDialogCaption  , "Configurar impresora"

  szrOK    , "OK"
  szrCancel, "Cancelar"
  szrExit  , "&Salir"

  szrTime        , "hh:mm:ss"
  szrDate        , "dd/mm/yyyy"
  szrDateTime    , "dd/mm/yyyy hh:mm:ss"
  szrPageNumber  , "Nº."
  szrReportTitle , "Título"
  szrRecordNumber, "Nº Reg"
  szrRecordCount , "Tot. Reg"

  szrExpressionError     , "Error en la expresión '%s'"
  szrExpressionParse     , "La expression '%s' no está compilada todavía"
  szrInvalidNumeric      , "Variable numérica no válida en '%s'"
  szrInvalidDate         , "Fecha no válida en '%s'"
  szrInvalidString       , "Cadena no válida en '%s'"
  szrMissingBracket      , "Falta '%s' de cierre en '%s'"
  szrIllegalBracket      , "Se hizo un uso no válido de '%s' en '%s'"
  szrUnknownEntry        , "Función o variable desconocidas en '%s'"
  szrIllegalUnary        , "Operador unario '%s' no válido en '%s'"

  szrBooleanFalse        , "True"
  szrBooleanTrue         , "False"
  szrIllegalLogics       , "Una expresion lógica debe tener operadores boleanos"
  szrIllegalBitwise      , "Una operacion sobre bits debte tener operandos enteros"
  szrIllegalDate         , "Operación sobre fechas no válida"
  szrIllegalArguments    , "Número de argumentos erróneo para '%s'"
  szrCalculationError    , "Error evaluando '%s':\n%s"

  szrCircularVariable    , "Referencia circular ilegal en '%s'"
  szrControllerLibrary   , "Variables del controlador '%s'"

  szrDesignNone                 , "<ninguno>"
  szrDesignClose                , "&Cerrar"
  szrDesignTSBands              , "Bandas y grupos"
  szrDesignTSVars               , "Variables"
  szrDesignGBBands              , "Bandas"
  szrDesignGBGroups             , "Grupos"
  szrDesignTVBands              , "|Bandas del informe"
  szrDesignLBGroups             , "|Grupos del nivel actual del informe"
  szrDesignACBandsNew           , "Controlador"
  szrDesignACBandsRename        , "Renombrar"
  szrDesignACBandsDelete        , "Borrar"
  szrDesignACGroupsNew          , "Nuevo"
  szrDesignACGroupsDelete       , "Borrar"
  szrDesignSureBandDelete       , "Va a borrar el panel %s.¿Está seguro/a?"
  szrDesignSureGroupDelete      , "Va a borrar el grupo %s.¿Está seguro/a?"

  szrDesignGBData               , "Controladores"
  szrDesignGRControllers        , "|Lista de controladores del informe"
  szrDesignCellController       , "Controlador"
  szrDesignCellDataSet          , "Datos"
  szrDesignLADataFields         , "Campos"
  szrDesignLBDataFields         , "|Lista de campos disponibles"

  szrDesignGBVariables          , "Variables"
  szrDesignLAVariableFields     , "Campos"
  szrDesignLBVariableFields     , "|Lista de variables de campo"
  szrDesignLAVariableExpressions, "Expresiones"
  szrDesignLBVariableExpressions, "|Lista de variables de expresión"
  szrDesignLAVariableTotals     , "Agrupaciones"
  szrDesignLBVariableTotals     , "|Lista de variables de agrupación"

  szrDesignACVariablesField     , "Campo"
  szrDesignACVariablesExpression, "Expresión"
  szrDesignACVariablesTotal     , "Agrupar"
  szrDesignACVariablesDelete    , "Borrar"

  szrSearchDlgCaption           , "Buscar texto"
  szrSearchDlgInvitation        , "&Texto a buscar"
  szrSearchDlgIgnoreCase        , "Sensible a &mayúsculas"
  szrSearchDlgFromCurrent       , "&Desde la posición actual"
  szrSearchDlgStartSearch       , "&Buscar"
  szrSearchDlgContinueSearch    , "&Continuar"
  szrSearchNotFound             , "No se encontró '%s'"
}

