/****************************************************************************

vgVCLRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgVCLRes.pas"

STRINGTABLE
{
  SRegSystem           , "VG System"
  SRegTools            , "VG Tools"
  SRegControls         , "VG Controls"
  SRegExplorer         , "VG Explorer"
  SRegReports          , "VG Reports"
  SRegDataAccess       , "VG Data Access"
  SRegDataControls     , "VG Data Controls"
  SRegMultiTier        , "VG Multi-tier"
  SRegMisc             , "VG Misc"
  SRegVGServer         , "VG Server"

  SRegIniFile          , "VGLib"
  SRegIniSection       , "Defaults"

  SCannotDeleteFile    , "Unable to delete '%s'";
  SCannotRenameFile    , "Unable to rename '%s' to '%s'";
  STlsCannotAlloc      , "Cannot allocate TLS";
  SUknownCompressorSign, "Unknown compressor signature: %s"
  SBadVariantType      , "Bad variant type: %s";
  SNA                  , "Operation not applicable";
  SNIA                 , "No information available";
  SNotSupported        , "Capability not supported";
  SNIY                 , "Not implemented yet";

  SParameterNotFound   , "Parameter %s not found";
  SParamTooBig         , "Parameter %s is large than %d bytes";
  SFieldUndefinedType  , "Parameter %s is of undefined type";
  SFieldUnsupportedType, "Parameter %s is of unsupported type";
  STextTrue            , "0=0";
  STextFalse           , "0=1";
  SCircularLink        , "Circular links not allowed";
  SItemNotFound        , "Item %s not found"; 
  SDuplicateItem       , "Duplicate item %s";

  SsrCurrency          , "dollar\ndollars\ndollars\n"
  SsrCurrencySub       , "cent\ncents\ncents\n"
  SsrMaleOne           , "one\ntwo\nthree\nfour\nfive\nsix\nseven\neight\nnine\n"
  SsrFemaleOne         , "one\ntwo\nthree\nfour\nfive\nsix\nseven\neight\nnine\n"
  SsrTen               , "ten\ntwenty\nthirty\nforty\nfifty\nsixty\nseventy\neighty\nninety\n"
  SsrFirstTen          , "eleven\ntwelve\nthirteen\nfourteen\nfifteen\nsixteen\nseventeen\neighteen\nnineteen\n"
  SsrHundred           , "one hundred\ntwo hundred\nthree hundred\nfour hundred\nfive hundred\nsix hundred\nseven hundred\neight hundred\nnine hundred\n"
  SsrThousand          , "thousand\nthousand\nthousand\n"
  SsrMillion           , "million\nmillion\nmillion\n"
  SsrBillion           , "billion\nbillion\nbillion\n"
  SsrZero              , "zero"

  SLoginDialogCaption,   "Enter user name and password"
  SLoginCaption,         "&User name:"
  SLoginPassword         "&Password:"

}

