
<style type="text/css">
<!--  
	A.whitelink { color: #ffffff; text-decoration: none; font-size: 11px; font-weight: bolder; }
	A.whitelink:hover { color: #EEEEEE; }
	A.menulink { display: block;
							 width: 136px;
							 text-align: left;
							 text-decoration: none;
							 font-family:arial;
							 font-size:12px;
							 color: #333333;
							 BORDER: none;
							 border: solid 1px #FFFFFF;
							 font-weight: bolder; 
							 padding-top: 2px; 
							 padding-right: 4px; 
							 padding-bottom: 2px; 
							 padding-left: 4px; 
							 margin-top: 0px; 
							 margin-right: 0px; 
							 margin-bottom: 0px; 
							 margin-left: 0px} 
	A.menulink:hover { border: solid 1px #999999; }
	A.textlink { color: #0000FF; text-decoration: underline; }
	A.textlink:hover { color: #FF3300; }		
	td { font-family: Arial, Helvetica, sans-serif; font-size: 12px} 
-->
</style>
