/****************************************************************************


sfx1.rc

produced by Borland Resource Workshop


*****************************************************************************/


DLGNEW DIALOG 15, 63, 163, 83
STYLE DS_MODALFRAME | 0x804L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Create subdirectory"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "Current directory :", 8001, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 5, 74, 9
 CONTROL "Text", 3001, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 3, 16, 156, 15
 CONTROL "New subdirectory :", 8002, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 37, 114, 9
 CONTROL "", 3002, "EDIT", ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 3, 48, 156, 15
 CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 67, 50, 14
 CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 67, 50, 14
}


DLGSEL DIALOG -3, 24, 214, 115
STYLE DS_MODALFRAME | 0x804L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Select extract directory"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 98, 55, 14
 CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 79, 98, 55, 14
 CONTROL "&Network...", 2002, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 151, 98, 55, 14
 CONTROL "", 2003, "LISTBOX", LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 7, 35, 200, 63
 CONTROL "", 2001, "STATIC", SS_SIMPLE | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 7, 16, 150, 15
 CONTROL "Current directory :", 2000, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 3, 160, 9
 CONTROL "New...", 2004, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 159, 16, 47, 15
}


MAINDIALOG DIALOG 12, 11, 287, 200
STYLE DS_MODALFRAME | 0x804L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "TArchiver SFX-File"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "Start", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 161, 174, 47, 16
 CONTROL "", 101, "EDIT", ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER, 69, 20, 196, 12
 CONTROL "...", 775, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 266, 20, 15, 12
 CONTROL "", 301, "LISTBOX", LBS_STANDARD | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE, 68, 42, 211, 73
 CONTROL "", 302, "LISTBOX", LBS_STANDARD | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE, 68, 42, 211, 75
 CONTROL "run", 1007, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 12, 136, 271, 12
 CONTROL "C&lose", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 223, 174, 47, 16
 CONTROL "Existing file(s) :", 509, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, -2, 114, 91, 9
 CONTROL "Extract to :", 100, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 27, 9, 82, 8
 CONTROL "Copyright Label ( ID = 601)", 601, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 151, 272, 11
 CONTROL "Files :", 8008, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 41, 36, 11
 CONTROL "MNICON", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 4, 5, 18, 20
 CONTROL "", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 5, 164, 276, 3
 CONTROL "About this SFX...", 103, "BUTTON", BS_USERBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 174, 71, 16
 CONTROL "Select all", 104, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 56, 61, 14
 CONTROL "Deselect all", 105, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 75, 61, 14
 CONTROL "", 106, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWVARIABLE | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 95, 112, 184, 84
}


SEPROGRESSCLASS DIALOG 50, 93, 207, 57
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Progress"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "Cancel", 3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 36, 50, 14
 CONTROL "", 1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 5, 195, 9
 CONTROL "", 2, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 5, 14, 196, 14
}


STRINGTABLE 
{
 10000, "%s\n\n- Oliver Buschjost\n   autor_oliver@iname.com\n   \n\n- %s\n   Morgan Martinet     (mmm@imaginet.fr) \n   Arjen Broeze           (Earthling.net!Arjen@nedap.nl)\n   Carl Bunton             (Twojags@cris.com)\n   Eric W. Engler         (englere@swcp.com)\n   Markus Stephany    (mirbir.st@t-online.de)\n  \n   %s"
}


MNICON ICON 
{
 '00 00 01 00 02 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 26 00 00 00 10 10 10 00 00 00 00 00 28 01'
 '00 00 0E 03 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 00 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 07 77 77 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 07 77 77 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 07 87 87 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 87 80 00 00 00 00 07'
 '77 77 77 77 77 77 77 70 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 07 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 77 77 77 70 00 00 FF FF'
 'FF FF FF FF FF FF F0 00 78 78 78 70 00 00 FC FC'
 'FC FC FF CC FC FC F0 00 00 00 00 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 87 80 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 00 00 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 78 70 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 00 00 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 87 80 00 00 00 FC CC'
 'FC CF FC FF FC CC F0 00 00 00 00 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 78 70 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 00 00 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 87 80 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 00 00 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 78 70 00 00 00 FC FC'
 'FC FC FC FF FC FC F0 00 00 00 00 00 00 00 FF CF'
 'FC CF FF CC FC FC F0 00 00 87 80 00 00 00 FF FF'
 'FF FF FF FF FF FF F0 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 77 77 77 70 00 00 00 00'
 '00 00 00 00 00 00 00 00 78 78 78 70 00 00 00 00'
 '00 00 00 00 00 00 00 07 00 00 00 00 00 00 00 07'
 '77 77 77 77 77 77 77 70 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 FF FF'
 'FF FF FF FF F8 3F FF FE 70 19 FF FE 00 01 FF FE'
 '70 19 FF FF F8 3F E0 00 1C 7F C0 00 08 3F 80 00'
 '00 1F FF FF E0 0F 00 00 60 0F 00 00 70 1F 00 00'
 '7C 7F 00 00 78 3F 00 00 7C 7F 00 00 78 3F 00 00'
 '7C 7F 00 00 78 3F 00 00 7C 7F 00 00 78 3F 00 00'
 '7C 7F 00 00 78 3F 00 00 7C 7F 00 00 78 3F 00 00'
 '7C 7F 00 00 70 1F FF FF E0 0F FF FF E0 0F 80 00'
 '00 1F C0 00 0F FF E0 00 1F FF FF FF FF FF 28 00'
 '00 00 10 00 00 00 20 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 00 00 0F FF FF FF FF FF 00 00'
 '0F 00 00 00 00 0F 00 00 00 FF FF 00 FF FF 00 00'
 '00 F0 00 00 00 F0 00 00 FF 07 87 87 87 0F 00 00'
 'F0 00 00 00 08 0F FF FF FF FF FF FF 07 0F F4 F4'
 'F4 F4 FF 4F 08 0F F4 44 F4 4F F4 FF 07 0F F4 F4'
 'F4 F4 F4 FF 08 0F FF 4F F4 4F FF 4F 07 0F FF FF'
 'FF FF FF FF 08 0F 00 00 0F 00 00 00 07 0F 00 00'
 '0F 08 78 78 70 F0 00 00 00 F0 00 00 0F 00 00 00'
 '00 FF FF FF F0 00 F8 00 00 00 F8 00 00 00 FC 00'
 '00 00 FC 01 00 00 F0 00 00 00 F0 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 F8 00 00 00 F8 01 00 00 FC 03'
 '00 00 FC 07 00 00'
}


1 VERSIONINFO 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "eMail the Author at:", "autor_oliver@iname.com\000"
   VALUE "FileDescription", "SelfExtracting archive\000"
   VALUE "FileVersion", "0.97\000\000"
   VALUE "InternalName", "TArchiver SFX\000"
   VALUE "LegalCopyright", "Copyright \251 by Oliver Buschjost, 1998. Partional copyright by: Morgan Martinet (mmm@imaginet.fr), Arjen Broeze (Earthling.net!Arjen@nedap.nl), Carl Bunton (Twojags@cris.com), Eric W. Engler (englere@swcp.com), Markus Stephany (mirbir.st@t-online.de)\000\000"
   VALUE "Copyright", "Copyright \251 by Oliver Buschjost, 1998. Partional copyright by: Morgan Martinet (mmm@imaginet.fr), Arjen Broeze (Earthling.net!Arjen@nedap.nl), Carl Bunton (Twojags@cris.com), Eric W. Engler (englere@swcp.com), Markus Stephany (mirbir.st@t-online.de)\000\000"
   VALUE "OriginalFilename", "SFXCode.exe\000"
   VALUE "SFXCodeSize", "186880\000"
   VALUE "TagInfoSize", "315\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }

}

