/****************************************************************************

vgVCLRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgVCLRes.pas"

STRINGTABLE
{
  SRegSystem           , "VG System"
  SRegTools            , "VG Tools"
  SRegControls         , "VG Controls"
  SRegExplorer         , "VG Explorer"
  SRegReports          , "VG Reports"
  SRegDataAccess       , "VG Data Access"
  SRegDataControls     , "VG Data Controls"
  SRegMultiTier        , "VG Multi-tier"
  SRegMisc             , "VG Misc"
  SRegVGServer         , "VG Server"

  SRegIniFile          , "VGLib"
  SRegIniSection       , "Defaults"

  SCannotDeleteFile    , "Kann '%s' nicht löschen";
  SCannotRenameFile    , "Kann '%s' nicht in '%s' umbenennen";
  STlsCannotAlloc      , "Kann TLS nicht alloziieren";
  SUknownCompressorSign, "Unbekannte Packersignatur: %s"
  SBadVariantType      , "Ungìltiger Varianttyp: %s";
  SNA                  , "Operation nicht anwendbar";
  SNIA                 , "Keine Information verfìgbar";
  SNotSupported        , "Funktion nicht unterstìtzt";
  SNIY                 , "Derzeit nicht implementiert";

  SParameterNotFound   , "Parameter %s nicht gefunden";
  SParamTooBig         , "Parameter %s ist größer als %d bytes";
  SFieldUndefinedType  , "Typ von Parameter %s ist nicht definiert";
  SFieldUnsupportedType, "Typ von Parameter %s wird nicht unterstützt";
  STextTrue            , "0=0";
  STextFalse           , "0=1";
  SCircularLink        , "Zirkul¤re Datenverbindungen sind nicht erlaubt";
  SItemNotFound        , "Element %s nicht gefunden";
  SDuplicateItem       , "Doppeltes Element %s";

  SsrCurrency          , "DM\nDM\nDM\n"
  SsrCurrencySub       , "Pfennig\nPfennige\nPfennige\n"
  SsrMaleOne           , "eins\nzwei\ndrei\nvier\nfünf\nsechs\nsieben\nacht\nneun\n"
  SsrFemaleOne         , "eins\nzwei\ndrei\nvier\nfünf\nsechs\nsieben\nacht\nneun\n"
  SsrTen               , "zehn\nzwanzig\ndreissig\nvierzig\nfünfzig\nsechzig\nsiebzig\nachtzig\nneunzig\n"
  SsrFirstTen          , "elf\nzwölf\ndreizehn\nvierzehn\nfünfzehn\nsechzehn\nsiebzehn\nachtzehn\nneunzehn\n"
  SsrHundred           , "einhundert\nzweihundert\ndreihundert\nvierhundert\nfünfhundert\nsechshundert\nsiebenhundert\nachthundert\nneunhundert\n"
  SsrThousand          , "Tausen\nTausend\nTausend\n"
  SsrMillion           , "Million\nMillionen\nMillionen\n"
  SsrBillion           , "Billion\nBillionen\nBillionen\n"
  SsrZero              , "Null"

  SLoginDialogCaption,   "Bitte Benutzernamen und Passwort eingeben"
  SLoginCaption,         "Ben&utzername:"
  SLoginPassword         "&Passwort:"

}

