/****************************************************************************

vgWPRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgWPRes.pas"

STRINGTABLE
{
  SBookmarkNotFound     , "Bookmark '%s' non trovato"
  SConnectError         , "Impossibile avviare Microsoft Word"
  SNotConnected         , "Microsoft Word non è in esecuzione"
  SInvalidChar          , "Carattere speciale non valido"
  SPrinting             , "Operazione non eseguibile durante la stampa"
  SFileNotFound         , "File '%s' non trovato"
  SInvalidFileName      , "Nome file non valido: '%s'"
  SNewDocError          , "Microsoft Word non può creare il nuovo documento\n%s"
  SOpenDocError         , "Microsoft Word non può aprire il documento\n%s"
  SBookmarksNotFound    , "Nessun bookmark definito nel documento"
  SGroupsNotFound       , "Nesun gruppo definito nel documento"
  SBookmarkSQLNotFound  , "Non trovo il bookmark SQL nel gruppo '%s'"
  SInvalidBookmark      , "Nome boookmark non valido '%s'"
  SInvalidBookmarkText  , "Testo bookmark non valido '%s'"
  SInvalidNesting       , "Annidamento non valido di bookmark '%s' e '%s'"
  SDuplicateSQL         , "Due o più bookmark SQL nel gruppo %s"
  SFieldNotFound        , "Non trovo il campo '%s' per il bookmark '%s'"
  SDataSetClassEmpty    , "DataSetClass non definita"
}

