#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  53050, "Object inspector"
;--- EditorForm resources ----------------------------------------------------
  53060, "Text editor"
  53061, "&Memo"
  53062, "&Script"
  53063, "&Big font"
  53064, "&Word wrap"
  53065, "S&cript"
  53066, "&Variable"
  53067, "&DB field"
  53068, "&Format"
;--- FRDesignerForm resources ------------------------------------------------
  53080, "Designer"
  53081, "Rectangle"
  53082, "Standard"
  53083, "Text"
  53084, "Objects"
  53085, "Alignment"
  53086, "Tools"
  53087, "New report"
  53088, "Open report"
  53089, "Save report"
  53090, "Preview report"
  53091, "Cut"
  53092, "Copy"
  53093, "Paste"
  53094, "Undo last action"
  53095, "Redo cancelled action"
  53096, "Bring to front"
  53097, "Send to back"
  53098, "Select all"
  53099, "Add page"
  53100, "Remove page"
  53101, "Page options"
  53102, "Grid"
  53103, "Grid align"
  53104, "Fit to grid"
  53105, "Close"
  53106, "Close designer"
  53107, "Left align"
  53108, "Right align"
  53109, "Center align"
  53110, "Normal text / 90 degrees"
  53111, "Vertical center"
  53112, "Top align"
  53113, "Bottom align"
  53114, "Width align"
  53115, "Bold"
  53116, "Italic"
  53117, "Underline"
  53118, "Font color"
  53119, "Highlight attributes"
  53120, "Font size"
  53121, "Font name"
  53122, "Top frame line"
  53123, "Left frame line"
  53124, "Bottom frame line"
  53125, "Right frame line"
  53126, "All frame lines"
  53127, "No frame"
  53128, "Background color"
  53129, "Frame color"
  53130, "Frame width"
  53131, "Frame width"
  53132, "Select object"
  53133, "Insert rectangle object"
  53134, "Insert band"
  53135, "Insert picture"
  53136, "Insert subreport"
  53137, "Draw lines"
  53138, "Align left edges"
  53139, "Align horizontal centers"
  53140, "Center horizontally in window"
  53141, "Space equally, horizontally"
  53142, "Align right edges"
  53143, "Align tops"
  53144, "Align vertical centers"
  53145, "Center vertically in window"
  53146, "Space equally, vertically"
  53147, "Align bottoms"
  53148, "C&ut"
  53149, "&Copy"
  53150, "&Paste"
  53151, "&Delete"
  53152, "Select &all"
  53153, "&Edit..."
  53154, "&File"
  53155, "&New..."
  53156, "&Open..."
  53157, "&Save"
  53158, "Variables &list..."
  53159, "&Report options..."
  53160, "&Page options..."
  53161, "Pre&view"
  53162, "E&xit"
  53163, "&Edit"
  53164, "&Undo"
  53165, "&Redo"
  53166, "C&ut"
  53167, "&Copy"
  53168, "&Paste"
  53169, "&Delete"
  53170, "&Select all"
  53171, "&Edit..."
  53172, "&Add page"
  53173, "&Remove page"
  53174, "Bring to &front"
  53175, "Send to &back"
  53176, "&Tools"
  53177, "&Toolbars"
  53178, "Too&ls"
  53179, "&Options..."
  53180, "&Rectangle"
  53181, "&Standard"
  53182, "&Text"
  53183, "&Objects"
  53184, "Object &Inspector"
  53185, "&Alignment palette"
  53186, "Too&ls"
  53187, "&About..."
  53188, "Save &as..."
  53189, "&Help contents"
  53190, "Help &tool"
  53191, "Line style"
;--- DesOptionsForm resources ------------------------------------------------
  53280, "Options"
  53281, "Designer"
  53282, "Grid"
  53283, "Object moving"
  53284, "Report units"
  53285, "Grid size"
  53286, "&Show grid"
  53287, "Align to &grid"
  53288, "Colored &buttons"
  53289, "&4 pixels"
  53290, "&8 pixels"
  53291, "&18 pixels (5mm)"
  53292, "S&hape"
  53293, "&Contents"
  53294, "&Pixels"
  53295, "&MM"
  53296, "&Inches"
  53297, "Other"
  53298, "&Editing after insert"
  53299, "Show band &titles"
;--- TemplForm resources -----------------------------------------------------
  53310, "New report"
  53311, "Description"
;--- TemplNewForm resources --------------------------------------------------
  53320, "New report template"
  53321, "&Comment"
  53322, "Icon"
  53323, "&File..."
;--- EvForm resources --------------------------------------------------------
  53340, "Variables editor"
  53341, "&Variable"
  53342, "Va&lue"
  53343, "&Expression"
  53344, "Copy variables"
  53345, "Paste variables"
  53346, "Va&riables..."
;--- VaredForm resources -----------------------------------------------------
  53360, "Variables list"
  53361, "&Categories and variables"
;--- DocOptForm resources ----------------------------------------------------
  53370, "Report options"
  53371, "Printer"
  53372, "&Select when report loaded"
  53373, "Other"
  53374, "&Two-pass report"
;--- PgoptForm resources -----------------------------------------------------
  53390, "Page options"
  53391, "Paper"
  53392, "Orientation"
  53393, "&Portrait"
  53394, "&Landscape"
  53395, "Size"
  53396, "&Width, mm"
  53397, "&Height, mm"
  53398, "Margins"
  53399, "Page margins"
  53400, "&Left, mm"
  53401, "&Top, mm"
  53402, "&Right, mm"
  53403, "&Bottom, mm"
  53404, "&Don't use"
  53405, "Options"
  53406, "Options"
  53407, "&Print to previous page"
  53408, "Columns"
  53409, "&Number"
  53410, "&Column gap, mm"
;--- FmtForm resources -------------------------------------------------------
  53420, "Variable formatting"
  53421, "Variable format"
  53422, "&Decimal digits"
  53423, "Fraction &symbol"
  53424, "&Format"
;--- VarForm resources -------------------------------------------------------
  53440, "Variables"
  53441, "&Category:"
;--- FieldsForm resources ----------------------------------------------------
  53450, "Insert DB field"
  53451, "&Available DB's"
;--- GEditorForm resources ---------------------------------------------------
  53460, "Picture"
  53461, "&Stretch"
  53462, "&Load..."
  53463, "&Clear"
  53464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  53480, "Band data source"
  53481, "&Data source"
  53482, "&Record count"
;--- VBandEditorForm resources ------------------------------------------------
  53485, "Band data sources"
  53486, "Bands"
  53487, "Data source"
  53488, "&Record count"
;--- GroupEditorForm resources -----------------------------------------------
  53490, "Group"
  53491, "&Condition"
  53492, "Insert DB field"
;--- BandTypesForm resources -------------------------------------------------
  53510, "Insert new band"
  53511, "Band type"
;--- HilightForm resources ---------------------------------------------------
  53520, "Highlight attributes"
  53521, "&Condition"
  53522, "Font"
  53523, "C&olor..."
  53524, "&Bold"
  53525, "&Italic"
  53526, "&Underline"
  53527, "Background"
  53528, "Co&lor..."
  53529, "&Transparent"
  53530, "Ot&her"
;--- AboutForm resources -----------------------------------------------------
  53540, "About FastReport"
;--- OleForm resources -------------------------------------------------------
  53550, "OLE object"
  53551, "&Insert..."
  53552, "&Edit..."
  53553, "&Close"
;--- RichForm resources ------------------------------------------------------
  53560, "Rich Edit"
  53561, "Open..."
  53562, "Save..."
  53563, "Undo"
  53564, "Bold"
  53565, "Italic"
  53566, "Left align"
  53567, "Center align"
  53568, "Right align"
  53569, "Underline"
  53570, "List"
  53571, "Font"
  53572, "Cancel"
  53573, "Save and exit"
  53574, "Var"
  53575, "Insert variable"
  53576, "Font"
  53577, "Font size"
;--- ChartForm resources -----------------------------------------------------
  53590, "Chart object"
  53591, "Type"
  53592, "Data"
  53593, "Type"
  53594, "Object name"
  53595, "Options"
  53596, "&3D"
  53597, "&Single"
  53598, "Show &legend"
  53599, "Show &axis"
  53600, "Show &marks"
  53601, "Multi-colo&r"
  53602, "For &legend"
  53603, "For &values"
  53604, "Marks"
  53605, "Style"
  53606, "Value"
  53607, "Percent"
  53608, "Label"
  53609, "Label and Percent"
  53610, "Label and Value"
  53611, "Top10 group"
  53612, "&Show top"
  53613, "La&bel"
  53614, "values"
;--- ShapeForm resources -----------------------------------------------------
  53620, "Shape"
  53621, "Shape kind"
;--- InsertFieldsForm resources ----------------------------------------------
  53630, "Insert fields"
  53631, "&Available datasets"
  53632, "Placement"
  53633, "&Horizontal"
  53634, "&Vertical"
  53635, "&Include headers"
  53636, "Include &bands"
;--- BarCodeForm resources ---------------------------------------------------
  53650, "Barcode editor"
  53651, "&Code"
  53652, "&Type of barcode"
  53653, "Options"
  53654, "Check&sum"
  53655, "&Human readable"
  53656, "Insert DB field"
  53657, "Insert variable"
  53658, "Rotation"
;--- RoundRectForm resources -------------------------------------------------
  53670, "Property editor"
  53671, "Sample :"
  53672, "Variables ..."
  53673, "Data .."
  53674, "Gradian"
  53675, "Shadow width"
  53676, "Color"
  53677, "Curve"
  53678, "Framed zone"
  53679, "End Color"
  53680, "Begin color"
  53681, "Style"
  53682, "Vertical,Horizontal,Elliptic,Rectangle,Horiz._Center,Vert._Center"
  53683, "Click here to define the shadow color or gradian colors"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Remove this page?"
  SConfirm, "Confirm"
  SDefaultPrinter, "Default printer"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Custom"
  SSpecVal, "Other"
  SVar1, "Page#"
  SVar2, "Expression"
  SVar3, "Date"
  SVar4, "Time"
  SVar5, "Line#"
  SVar6, "Line through#"
  SVar7, "Column#"
  SVar8, "Current line#"
  SVar9, "TotalPages"
  SStretched, "Stretched"
  SVarFormat, "Variable format..."
  SWordWrap, "Word wrap"
  SWordBreak, ""
  SFormNewPage, "Force new page"
  SPrintIfSubsetEmpty, "Print if detail empty"
  SBreaked, "Breaked"
  SPictureCenter, "Center picture"
  SKeepAspectRatio, "Keep aspect ratio"
  SFormFile, "FastReport form"
  STemplFile, "FastReport template"
  SPictFile, "Picture file"
  SBMPFile, "Bitmap file"
  SAllFiles, "All files"
  SInsOLEObject, "Insert OLE object"
  SInsRichObject, "Insert RichText object"
  SInsRich2Object, "Insert RX RichText object"
  SInsCheckBox, "Insert CheckBox object"
  SInsChart, "Insert Chart object"
  SInsShape, "Insert Shape object"
  SInsBarcode, "Insert Barcode object"
  SInsRoundRect, "Insert an RoundRect with shadow area"
  SSubReportOnPage, "SubReport on page"
  SPicture, "[Picture]"
  STransparent, "Transparent"
  SOther, "Other..."
  SOnFirstPage, "On first page"
  SOnLastPage, "On last page"
  SRepeatHeader, "Show on all pages"
  SDesignReport, "Design report"
  SInsertFields, "Insert DB fields"
  SSaveChanges, "Save changes"
  STo, "to"
  SShape1, "Rectangle"
  SShape2, "Rounded rectangle"
  SShape3, "Ellipse"
  SShape4, "Triangle"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Inches"
  SVirtualDataset, "Virtual Dataset"
  SAutoSize, "Auto size"
  SFRVariables, "FR variables"
}
