#include "users_res.pas"

STRINGTABLE

{
  strErrorDatabaseDir , "Falta propriedade DatabaseDir em %s"
  strErrorOpenTables , "Não foi possível abrir tabelas em %s"
  strErrorPassword , "Nome de usuário ou senha inválida"
  strErrorUserName , "Nome de usuário ou senha inválida"
  strPasswordChanged , "Mudança de senha efetuada"
  strErrorChangePassword , "Não foi possível alterar senha"
  strErrorPwdsDiffers , "Senha para conferência difere da primeira"
  strNewUserOk , "Novo usuário cadastrado"
  strUserExists , "Usuário já cadastrado"
  strImpAddNewUser , "Não é possível cadastrar usuário"
  strConfirmDeleteUser , "Deseja realmente eliminar o usuário %s ?"
  strUserDeleted , "Usuário Eliminado"
  strConfirmDeleteProfile , "Deseja realmente eliminar o perfil de usuário %s ?"
  strProfileDeleted , "Perfil de Usuário eliminado"
  strConfirm , "Confirme"
  strChangePassword , "Mudar Senha"
  strCancelChangingPassword , "Deseja cancelar a mudança de senha ?"
  strNewUserMainForm , "Novo Usuário"
  strNewUser_lblUserName , "Nome do &usuário:"
  strNewUser_lblPassword , "&Senha:"
  strNewUser_lblRealName , "Nome &real:"
  strNewUser_OKBtn , "&OK"
  strNewUser_CancelBtn , "Cancelar"
  strNewUser_lblEXPIRATION_DATE , "Data de Expiração"
  strNewUser_lblPROFILE , "Perfil"
  strNewUser_cbxUSER_EXPIRE , "Usuário Expira"
  strNewUser_cbxUSER_ACTIVE , "Ativo"
  strUsersAdministrationMainForm , "Administração dos Usuários do Sistema"
  strUsersAdministration_tsUsers , "Usuários"
  strUsersAdministration_tsUsersList , "Lista de Usuários"
  strUsersAdministration_DBGridUsersColUSER_NAME , "Nome de Usuário"
  strUsersAdministration_DBGridUsersColREAL_NAME , "Nome Real"
  strUsersAdministration_DBGridUsersColPROFILE , "Perfil"
  strUsersAdministration_DBGridUsersColUSER_ACTIVE , "Ativo"
  strUsersAdministration_tsUsersData , "Dados do Usuário"
  strUsersAdministration_lblLAST_PWD_CHANGE , "Última mudança de senha"
  strUsersAdministration_lblUserName , "Nome do Usuário"
  strUsersAdministration_lblRealName , "Nome Real"
  strUsersAdministration_lblPassword , "Senha (Codificada)"
  strUsersAdministration_lblEXPIRATION_DATE , "Data de Expiração"
  strUsersAdministration_lblPROFILE , "Perfil"
  strUsersAdministration_cbxUSER_EXPIRE , "Usuário Expira"
  strUsersAdministration_cbxUSER_ACTIVE , "Ativo"
  strUsersAdministration_btnChangePassword , "Mudar Senha"
  strUsersAdministration_btnChangePasswordHint , "Mudar a senha do usuário selecionado"
  strUsersAdministration_PanelPwdHistory , "Histórico de senhas"
  strUsersAdministration_DBGridPwdHistoryColPASSWORD , "Senha"
  strUsersAdministration_DBGridPwdHistoryColCHANGE_DATE , "Mudada em"
  strUsersAdministration_sbNewUser , "Novo Usuário"
  strUsersAdministration_sbNewUserHint , "Cria um novo usuário"
  strUsersAdministration_sbChangeUserData , "Mudar Dados"
  strUsersAdministration_sbChangeUserDataHint , "Mudar os dados do usuário selecionado"
  strUsersAdministration_sbUserAccess , "Acessos"
  strUsersAdministration_sbUserAccessHint , "Mostra os acessos do usuário selecionado"
  strUsersAdministration_sbDeleteUser , "Eliminar Usuário"
  strUsersAdministration_sbDeleteUserHint , "Elimina o usuário selecionado"
  strUsersAdministration_tsProfiles , "Perfis de Usuário"
  strUsersAdministration_tsProfilesList , "Lista de Perfis"
  strUsersAdministration_DBGridProfilesColPROF_DESCRIPTION , "Descrição"
  strUsersAdministration_DBGridProfilesColMUST_CHANGE_PWD , "Deve mudar senha"
  strUsersAdministration_DBGridProfilesColINTERVAL_CHANGE_PWD , "Intervalo para mudança de senha"
  strUsersAdministration_DBGridProfilesColHIDE_DISABLE_MENU , "Item não autorizado"
  strInvisible , "Invisível"
  strDisabled , "Desabilitado"
  strUsersAdministration_tsProfilesData , "Dados do Perfil"
  strUsersAdministration_lblPROF_DESCRIPTION  , "Descrição"
  strUsersAdministration_cbxMUST_CHANGE_PWD , "Deve mudar senha"
  strUsersAdministration_lblINTERVAL_CHANGE_PWD , "Intervalo para mudança de senha"
  strUsersAdministration_rgpHIDE_DISABLE_MENU , "Item não Autorizado"
  strUsersAdministration_sbNewProfile , "Novo Perfil"
  strUsersAdministration_sbNewProfileHint , "Cria um novo perfil"
  strUsersAdministration_sbProfileAccess , "Acessos"
  strUsersAdministration_sbProfileAccessHint , "Mostra os acessos do perfil selecionado"
  strUsersAdministration_sbChangeProfileData , "Mudar dados"
  strUsersAdministration_sbChangeProfileDataHint , "Mudar os dados do perfil selecionado"
  strUsersAdministration_sbDeleteProfile , "Eliminar Perfil"
  strUsersAdministration_sbDeleteProfileHint , "Elimina o perfil selecionado"
  strUsersAdministration_tsPrograms , "Controle de Acessos"
  strUsersAdministration_tsUsersProgs , "Usuários"
  strUsersAdministration_DBGridUsersProgsColUSER_NAME , "Usuário"
  strUsersAdministration_DBGridUsersProgsColPROFILE , "Perfil"
  strUsersAdministration_tsProfilesProgs , "Perfis de Usuário"
  strUsersAdministration_DBGridProfilesProgsColPROF_DESCRIPTION , "Perfil"
  strUsersAdministration_sbApply , "Aplicar"
  strUsersAdministration_sbApplyHintUser , "Aplica as mudanças de permissão de acesso para o usuário"
  strUsersAdministration_sbApplyHintProfile , "Aplica as mudanças de permissão de acesso para o perfil"
  strUsersAdministration_sbRestore , "Restaurar"
  strUsersAdministration_sbRestoreHintUser , "Restaura as permissões de acesso do usuário"
  strUsersAdministration_sbRestoreHintProfile , "Restaura as permissões de acesso do perfil"
  strUsersAdministration_sbRestoreProfile , "Restaurar do Perfil"
  strUsersAdministration_sbRestoreProfileHint , "Restaura as permissões de acesso do usuário desde seu perfil"
  strUsersAdministration_sbUpdateUsers , "Atualizar Usuários"
  strUsersAdministration_sbUpdateUsersHint , "Atualiza as permissões de acesso de todos os usuários com esse perfil"
  strUsersAdministration_PanelAboveProgs1 , "Acessos para o usuário %s"
  strUsersAdministration_PanelAboveProgs2 , "Acessos para o perfil %s"
  strUserAdministrationMsgChangeUserPwd , "Digite a nova senha para o usuário:"
  strLoginMainForm , "Acesso ao Sistema"
  strLogin_lblUserName , "Digite seu nome de &usuário:"
  strLogin_lblPassword , "Digite sua &senha:"
  strLogin_OKBtn , "&OK"
  strLogin_CancelBtn , "Cancelar"
  strChangePwdMainForm , "Mudança de senha"
  strChangePwd_lblOldPassword , "Digite sua senha &antiga:"
  strChangePwd_lblNewPassword , "Digite sua &nova senha:"
  strChangePwd_lblPasswordAgain , "&Redigite sua nova senha:"
  strChangePwd_OKBtn , "&OK"
  strChangePwd_CancelBtn , "Cancelar"
  strNoProfile , "Sem Perfil"
  strUserIsInactive , "Usuário %s não está mais autorizado a usar esta aplicação, contate o administrador."
  strPasswordExpired , "Sua senha expirou. Por favor, efetue a troca de senha agora."
  strTryChangePasswordAgain , "Para continuar usando esse sistema, você deve efetuar a troca de senha. Deseja tentar novamente?"
  strPasswordUsedBefore , "Senha já usada anteriormente. Escolha outra senha."
  strNewProfileMainForm , "Novo Perfil"
  strNewProfile_lblPROF_DESCRIPTION , "Descrição"
  strNewProfile_lblINTERVAL_CHANGE_PWD , "Intervalo para mudança"
  strNewProfile_OKBtn , "&OK"
  strNewProfile_CancelBtn , "Cancelar"
  strNewProfile_cbxMUST_CHANGE_PWD , "Deve mudar senha"
  strNewProfile_rgpHIDE_DISABLE_MENU , "Item não autorizado"
  strNewProfile_rgpHIDE_MENU , "Invisível"
  strNewProfile_rgpDISABLE_MENU , "Desabilitado"
  strYes , "Sim"
  strNo , "Não"
  strINTERVAL_CHANGE_PWD_DisplayFormat , "a cada 00 dias"
  strcbxAUDIT_MODE , "Modo de Auditoria"
  strUsersAdministration_tsAudit , "Auditoria"
  strUsersAdministration_tsLoginActivity , "Atividades de Login dos Usuários"
  strUsersAdministration_tsAudProgs , "Programas"
  strUsersAdministration_lblUser                    , "Usuário"
  strUsersAdministration_lblProgram                    , "Programa"
  strUsersAdministration_gbxPeriodActivities , "Período de Atividades"
  strUsersAdministration_lblFrom                    , "Desde"
  strUsersAdministration_lblTo , "   Até"
  strUsersAdministration_COMPUTER_NAME , "Computador"
  strUsersAdministration_dbgLoginActivityColLOGIN_DATE_TIME , "Login"
  strUsersAdministration_dbgLoginActivityColLOGOUT_DATE_TIME , "Logout"
  strConfirmDeleteAudit , "Eliminar informações de auditoria de %s no período selecionado?"
  strstrDelete , "Eliminar"
  strUsersAdministration_cbxUSER_IS_ADMIN , "Usuário é Administrador"
  strUsersAdministration_gbxFormList , "Lista de Formulários"
  strUsersAdministration_DBGridAudUsersCOMP_CAPTION , "Componente"
  strUsersAdministration_DBGridAudUsersDATE_UTIL , "Data/Hora"
  strUsersAdministration_tsCompUtilization , "Utilização dos Componentes"
  strUsersAdministration_tsUserActivity , "Atividades dos Usuários"
  strUsersAdministration_gbxAddInfo1 , "Informações Adicionais"
  strMustBeAdmin , "Você tem que ser um Administrador para poder acessar o Módulo de Administração de Usuários"
  strMinPwdSizeMSG , "Tamanho mínimo para a senha é de %d caracteres."
  strPressF2MSG , "Pressione F2 para Pesquisa"
  strUserSearch , "Pesquise por Usuários"
  strProfileSearch , "Pesquise por Perfis"
  strUsersAdministration_tabAdditionalInfo , "Informações Adicionais"
  strUsersAdministration_pnlTopLegenda , "Legenda"
  strUsersAdministratoin_pnlLegendaEnabled , "Habilitado"
  strUsersAdministration_pnlLegendaOnlyVisible , "Visível, mas Desabilitado"
  strUsersAdministration_pnlLegendaInvisible , "Invisível"
  strUsersAdministration_btnLegenda , "Fechar Legenda"
  strUserAdministration_menuAllEnabled , "Todos Habilitados"
  strUserAdministration_menuAllDisabled , "Todos Desabilitados, porém Visíveis"
  strUserAdministration_menuAllInvisible , "Todos Invisíveis"
  strUsersAdministration_ShowLengenda , "Ver Legenda"
  strErrorMultipleLoginsNoAllowed , "O usuário %s já está utilizando o sistema"
  strCurrentUsers , "Usuários utilizando a aplicação"
  strbtnRefreshCurrenUsersList , "Atualiza lista de usuários"
  strsbPrintUserList , "Imprimir Lista"
  strsbPrintUserAccess , "Imprimir Permissões"
  strtabAppConfig , "Configurações da Aplicação em Geral"
  strlblTimeOut , "Time Out (em minutos)"
  strlblMaxBadLogins , "Nº máximo de tentativas de login"
  strdbcbxDisableUser , "Desabilita usuário após exceder tentantivas de login"
  strlblInativeDays , "Nº máximo de dias sem utilizar a aplicação"
  strlblMaxPwdHistory , "Nº máximo de senhas no histórico"
  strdbcbxMultipleLogins , "Permite logins múltiplos do mesmo usuário"
  strqrModule , "Módulo"
  strLegend01 , "Legenda: H - Habilitado  "
  strLegend02 , "         D - Desabilitado"
  strLegend03 , "         I - Invisível  "
  strtvEnabled , "(H)"
  strtvDisabled , "(D)"
  strtvInvisible , "(I)"
  strrep_TitlePermissions , "Permissões de Acesso"
  strrep_TitleUserList , "Lista de Usuários"
  strqrlExpires , "Expira"
  strqrlExpirationDate , "Expira Em"
  strqrlAdmin , "Admin."
  strrep_TitleProfList , "Lista de Perfis"
  strrep_TitleUserLoginActivity , "Atividades de Login do Usuário"
  strpre_TitleUserActivity , "Atividades do Usuário"
  strqrlItem , "Item/Componente"
  strqrlDate , "Data"
  strrepTitleCompUtil , "Utilização dos Componentes"
  strbtnPrint , "Imprimir"
  strMaxCurrentUsersReached , "O número máximo de usuários logados na aplicação foi atingido."
}
