/****************************************************************************

vgWPRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgWPRes.pas"

STRINGTABLE
{
  SBookmarkNotFound     , "Bookmark '%s' not found"
  SConnectError         , "Cannot run Microsoft Word"
  SNotConnected         , "Microsoft Word is not running"
  SInvalidChar          , "Invalid special char"
  SPrinting             , "Cannot perform operation while printing"
  SFileNotFound         , "File '%s' not found"
  SInvalidFileName      , "Invalid filename: '%s'"
  SNewDocError          , "Microsoft Word can't create new document\n%s"
  SOpenDocError         , "Microsoft Word can't open document\n%s"
  SBookmarksNotFound    , "There is no bookmarks defined in document"
  SGroupsNotFound       , "There is no groups defined in document"
  SBookmarkSQLNotFound  , "SQL bookmark in group '%s' is not found"
  SInvalidBookmark      , "Invalid bookmark name '%s'"
  SInvalidBookmarkText  , "Invalid bookmark text '%s'"
  SInvalidNesting       , "Invalid bookmark nesting '%s' and '%s'"
  SDuplicateSQL         , "There is two or more SQL bookmarks found in group %s"
  SFieldNotFound        , "Field '%s' for bookmark '%s' not found"
  SDataSetClassEmpty    , "DataSetClass not defined"
}

