#include "..\sstrings.pas"
LANGUAGE LANG_HUNGARIAN,0
STRINGTABLE
{
  s_MsgDlgWarning, "Figyelmeztetés"
  s_MsgDlgError, "Hiba"
  s_MsgDlgInformation, "Információ"
  s_MsgDlgConfirm, "Jóváhagyás"
  s_MsgDlgYes, "&Igen"
  s_MsgDlgNo, "&Nem"
  s_MsgDlgOK, "Rendben"
  s_MsgDlgCancel, "Mégsem"
  s_MsgDlgHelp, "&Súgó"
  s_MsgDlgHelpNone, "Súgó nem áll rendelkezésre"
  s_MsgDlgHelpHelp, "Súgó"
  s_MsgDlgAbort, "&Megszakít"
  s_MsgDlgRetry, "&Újra"
  s_MsgDlgIgnore, "&Kihagy"
  s_MsgDlgAll, "M&ind"
  s_MsgDlgNoToAll, "Egyiket &sem"
  s_MsgDlgYesToAll, "Min&degyiket"

  s_RestoreStr, "Elõzõ méret"
  s_MoveStr, "Mozgat"
  s_SizeStr, "Méret"
  s_MinimizeStr, "Kis méret"
  s_MaximizeStr, "Teljes méret"
  s_CloseStr, "Bezár"

  s_HintClose, "Ablak bezárása"
  s_HintMaximize, "Ablak teljes méretûre"
  s_HintMinimize, "Ablak kis méretûre"
  s_HintRestore, "Ablak elõzõ méretûre"
  s_HintHelp, "Súgó"

  s_FileOpen, "Fájl megnyitása"

  s_Calculator, "Számológép"
  s_GradBuilder, "&Gradiens építõ..."
  s_HotGradBuilder, "&Élénk gradiens építõ..."
  s_Panels, "&Panelek..."

  s_AvailSkins, "Rendelkezésreálló felület"
  s_InternalSkin, "(beépített)"

  s_ErrorSettingCount, "Hiba a(z) %s.Count megadásakor"
  s_ListBoxMustBeVirtual, "A Listbox (%s) Style paraméterének Virtual-nak kell lennie, hogy a Count értéke megadható legyen"

  // Color dialog
  s_ColorDlgAdd, "Hozzáadás az egyéni színekhez"
  s_ColorDlgDefine, "Szín megadása"
  s_ColorDlgMainPal, "Fõpaletta :"
  s_ColorDlgAddPal, "További színek :"
  s_ColorDlgTitle, "Szín megadása"
  s_ColorDlgRed, "Vörös :"
  s_ColorDlgGreen, "Zöld :"
  s_ColorDlgBlue, "Kék :"
  s_ColorDlgDecimal, "Decimal - "
  s_ColorDlgHex, "Hex - "  
  
  // Frame adapter
  s_FrameAdapterError1, "A TsFrameAdapter objektumot a kezelendõ TFrame objektumra kell helyezni";

  // Hint designer
  s_HintDsgnTitle, "Gyorstipp-tervezõ"
  s_HintDsgnPreserved, "Elõredefiniált beállítások :"
  s_HintDsgnStyle, "Stílus :"
  s_HintDsgnBevelWidth, "Szegély szélessége"
  s_Blur, "Elmosódottság"
  s_HintDsgnArrowLength, "Nyíl hossza"
  s_HintDsgnHorizMargin, "Vízszintes margó"
  s_HintDsgnVertMargin, "Függõleges margó"
  s_HintDsgnRadius, "Sarok rádiusza"
  s_HintDsgnMaxWidth, "Max szélesség"
  s_HintDsgnPauseHide, "Várás eltûnésig (ms)"
  s_Percent, "Százalék"
  s_HintDsgnOffset, "Eltolás"
  s_HintDsgnTransparency, "Átlátszóság"
  s_HintDsgnNoPicture, "Nincs rendelkezésreálló kép"
  s_Font, "Betûtípus"
  s_Texture, "Textúra"
  s_HintDsgnLoad, "Beolvasás fájlból"
  s_HintDsgnSave, "Mentés fájlba mint..."
  s_HintDsgnColor, "Szín"
  s_HintDsgnBorderTop, "Felsõ szegély"
  s_HintDsgnBorderBottom, "Alsó szegély"
  s_Shadow, "Árnyék"
  s_Background, "Háttér"
  s_Gradient, "Gradiens"
  s_PreviewHint, "Elõnézet. Így fest majd a jövõbeni gyorstipp"

  // File dialogs
  s_Folder, "Mappa"
  s_FileName, "Fájlnév"
  s_FileType, "Fájltípus"
  s_ReadOnly, "Csak olvasható"
  s_ViewStyleList, "Lista"
  s_ViewStyleReport, "Részletek"
  s_ViewStyleIcons, "Ikonok"
  s_ViewStyleSmallIcons, "Kis ikonok"
  s_OpenFile, "Fájl megnyitása"
  s_SaveFile, "Fájl mentése"
  s_BtnOpen, "Megnyitás"
  s_BtnSave, "Mentés"
  s_SelectDir, "Mappa kiválasztása"
  s_Create, "Új mappa"


}
