#include "windows.h"

1000 DIALOG DISCARDABLE  100, 100, 230, 172
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASSCD test"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        10,5,5,150,69,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Interface:",-1,158,8,31,8
    COMBOBOX        19,190,5,35,50,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    CONTROL         "Progress1",40,"msctls_progress32",WS_BORDER,5,21,220,6
    CONTROL         "Progress1",41,"msctls_progress32",WS_BORDER,5,27,220,6
    LISTBOX         11,5,38,115,131,WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Position",-1,125,34,100,39
    CTEXT           "",22,130,44,90,12,SS_CENTERIMAGE | SS_SUNKEN
    CONTROL         "Slider1",30,"msctls_trackbar32",TBS_TOP | TBS_NOTICKS | 
                    WS_TABSTOP,128,58,94,12
    PUSHBUTTON      "Play / Pause",12,125,78,100,12
    CONTROL         "Auto advance",13,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    132,101,61,10
    GROUPBOX        "Speed",50,125,119,70,24
    CONTROL         "Slider1",32,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | 
                    WS_TABSTOP,128,128,64,12
    GROUPBOX        "Vol",-1,202,94,23,49
    CONTROL         "Slider1",31,"msctls_trackbar32",TBS_VERT | TBS_BOTH | 
                    TBS_NOTICKS | WS_TABSTOP,208,101,12,40
    GROUPBOX        "Door",-1,125,145,100,24
    CHECKBOX        "Open",14,137,155,33,10,BS_FLAT
    CHECKBOX        "Lock",15,185,155,32,10,BS_FLAT
END

