#include "..\sstrings.pas"
LANGUAGE LANG_TURKISH,2
STRINGTABLE
{
  s_MsgDlgWarning, "Uyarý"
  s_MsgDlgError, "Hata"
  s_MsgDlgInformation, "Bilgi"
  s_MsgDlgConfirm, "Onay"
  s_MsgDlgYes, "&Evet"
  s_MsgDlgNo, "&Hayýr"
  s_MsgDlgOK, "Tamam"
  s_MsgDlgCancel, "³ptal"
  s_MsgDlgHelp, "&Yardým"
  s_MsgDlgHelpNone, "Yardým Bulunamadý"
  s_MsgDlgHelpHelp, "Yardým"
  s_MsgDlgAbort, "&Vazgeç"
  s_MsgDlgRetry, "&Tekrar Dene"
  s_MsgDlgIgnore, "&Yoksay"
  s_MsgDlgAll, "&Hepsi"
  s_MsgDlgNoToAll, "Hepsine Hayýr"
  s_MsgDlgYesToAll, "Hepsine Evet"

  s_RestoreStr, "£nceki Boyut"
  s_MoveStr, "Ta³ý"
  s_SizeStr, "Boyut"
  s_MinimizeStr, "Küçült"
  s_MaximizeStr, "Büyüt"
  s_CloseStr, "Kapat"

  s_HintClose, "Kapat"
  s_HintMaximize, "Küçült"
  s_HintMinimize, "Büyüt"
  s_HintRestore, "£nceki Boyut"
  s_HintHelp, "Yardým"

  s_FileOpen, "Dosya Aç"

  s_Calculator, "Hesap Makinesi"
  s_GradBuilder, "&Gradient builder..."
  s_HotGradBuilder, "&Hot gradient builder..."
  s_Panels, "&Panels..."

  s_AvailSkins, "Available skins"
  s_InternalSkin, "(internal)"
}