/****************************************************************************

vgVCLRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgVCLRes.pas"

STRINGTABLE
{
  SRegSystem           , "VG System"
  SRegTools            , "VG Tools"
  SRegControls         , "VG Controls"
  SRegExplorer         , "VG Explorer"
  SRegReports          , "VG Reports"
  SRegDataAccess       , "VG Data Access"
  SRegDataControls     , "VG Data Controls"
  SRegMultiTier        , "VG Multi-tier"
  SRegMisc             , "VG Misc"
  SRegVGServer         , "VG Server"

  SRegIniFile          , "VGLib"
  SRegIniSection       , "Defaults"

  SCannotDeleteFile    , "Impossibile cancellare '%s'";
  SCannotRenameFile    , "Impossibile rinominare '%s' in '%s'";
  STlsCannotAlloc      , "Impossibile allocare TLS";
  SUknownCompressorSign, "Firma di compressione ignota: %s"
  SBadVariantType      , "Tipo variant non valido: %s";
  SNA                  , "Operazione non eseguibile";
  SNIA                 , "Nessuna informazione disponibile";
  SNotSupported        , "Capacità non supportata";
  SNIY                 , "Non ancora implementato";

  SParameterNotFound   , "Parametro %s non trovato";
  SParamTooBig         , "Parametro %s maggiore di %d byte";
  SFieldUndefinedType  , "Parametro %s di tipo non definito";
  SFieldUnsupportedType, "Parametro %s di tipo non supportato";
  STextTrue            , "0=0";
  STextFalse           , "0=1";
  SCircularLink        , "Collegamenti circolari non consentiti";
  SItemNotFound        , "Non trovo l'oggetto %s"; 
  SDuplicateItem       , "Oggetto duplicato %s";

  SsrCurrency          , "lira\nlire\nlire\n"
  SsrCurrencySub       , "cent\ncentesimi\ncentesimi\n"
  SsrMaleOne           , "uno\ndue\ntre\nquattro\ncinque\nsei\nsette\nottot\nnove\n"
  SsrFemaleOne         , "una\ndue\ntre\nquattro\ncinque\nsei\nsette\notto\nnove\n"
  SsrTen               , "dieci\nventi\ntrenta\nquanranta\ncinquanta\nsessanta\nsettanta\nottanta\nnovanta\n"
  SsrFirstTen          , "undici\ndodici\ntredici\nquattordici\nquindici\nsedici\ndiciassette\ndiciotto\ndiciannove\n"
  SsrHundred           , "cento\nduecento\ntrecento\nquattrocento\ncinquecento\nseicento\nsettecento\nottocento\nnovecento\n"
  SsrThousand          , "mille\nmigliaia\nmigliaia\n"
  SsrMillion           , "milione\nmilioni\nmilioni\n"
  SsrBillion           , "miliardo\nmiliardi\nmiliardi\n"
  SsrZero              , "zero"

  SLoginDialogCaption,   "Inserisci nome utente e password"
  SLoginCaption,         "Nome &utente:"
  SLoginPassword         "&Password:"

}

