/****************************************************************************

vgVCLRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgVCLRes.pas"

LANGUAGE LANG_RUSSIAN,1

STRINGTABLE
{
  SRegSystem          , "VG System"
  SRegTools           , "VG Tools"
  SRegControls        , "VG Controls"
  SRegExplorer        , "VG Explorer"
  SRegReports         , "VG Reports"
  SRegDataAccess      , "VG Data Access"
  SRegDataControls    , "VG Data Controls"
  SRegMultiTier       , "VG Multi-tier"
  SRegMisc            , "VG Misc"
  SRegVGServer        , "VG Server"

  SRegIniFile         , "VGLib"
  SRegIniSection      , "Defaults"

  SCannotDeleteFile    , "Невозможно удалить '%s'";
  SCannotRenameFile    , "Невозможно переименовать '%s' в '%s'";
  STlsCannotAlloc      , "Невозможно выделить TLS";
  SUknownCompressorSign, "Неизвестная сигнатура компрессора: %s"
  SBadVariantType      , "Не поддерживается variant типа %s";
  SNA                  , "Операция не доступна";
  SNIA                 , "Нет информации";
  SNotSupported        , "Операция не поддерживается";
  SNIY                 , "Операция не реализована";

  SParameterNotFound   , "Параметр %s не найден";
  SParamTooBig         , "Параметр %s нельзя поместить в %d байт";
  SFieldUndefinedType  , "Параметр %s имеет неопределенный тип";
  SFieldUnsupportedType, "Параметр %s имеет неподдерживаемый тип";
  STextTrue            , "0=0";
  STextFalse           , "0=1";
  SCircularLink        , "Круговые ссылки не разрешены";
  SItemNotFound        , "Элемент %s не найден";
  SDuplicateItem       , "Дублирование элемента %s";

  SsrCurrency          , "рубль\nрубля\nрублей\n"
  SsrCurrencySub       , "копейка\nкопейки\nкопеек\n"
  SsrMaleOne           , "один\nдва\nтри\nчетыре\nпять\nшесть\nсемь\nвосемь\nдевять\n"
  SsrFemaleOne         , "одна\nдве\nтри\nчетыре\nпять\nшесть\nсемь\nвосемь\nдевять\n"
  SsrTen               , "десять\nдвадцать\nтридцать\nсорок\nпятьдесят\nшестьдесят\nсемьдесят\nвосемьдесят\nдевяносто\n"
  SsrFirstTen          , "одиннадцать\nдвенадцать\nтринадцать\nчетырнадцать\nпятнадцать\nшестнадцать\nсемнадцать\nвосемнадцать\nдевятнадцать\n"
  SsrHundred           , "сто\nдвести\nтриста\nчетыреста\nпятьсот\nшестьсот\nсемьсот\nвосемьсот\nдевятьсот\n"
  SsrThousand          , "тысяча\nтысячи\nтысяч\n"
  SsrMillion           , "миллион\nмиллиона\nмиллионов\n"
  SsrBillion           , "миллиард\nмиллиарда\nмиллиардов\n"
  SsrZero              , "ноль"

  SLoginDialogCaption,   "Введите имя и пароль"
  SLoginCaption,         "&Имя:"
  SLoginPassword         "&Пароль:"

}


