/****************************************************************************

vgWPRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgWPRes.pas"

LANGUAGE LANG_RUSSIAN,1

STRINGTABLE
{
  SBookmarkNotFound     , "Закладка '%s' не найдена"
  SConnectError         , "Невозможно запустить Microsoft Word"
  SNotConnected         , "Нельзя выполнить операцию при неустановленной связи с Microsoft Word"
  SInvalidChar          , "Неверный специальный символ"
  SPrinting             , "Нельзя выполнить операцию во время печати документа"
  SFileNotFound         , "Файл шаблона отчета '%s' не найден"
  SInvalidFileName      , "Неправильное имя файла: '%s'"
  SNewDocError          , "Microsoft Word не смог создать документ\n%s"
  SOpenDocError         , "Microsoft Word не смог открыть документ\n%s"
  SBookmarksNotFound    , "В документе не определены закладки"
  SGroupsNotFound       , "В документе не найдены группы"
  SBookmarkSQLNotFound  , "Закладка - SQL в группе '%s' не найдена"
  SInvalidBookmark      , "Неверное название закладки '%s'"
  SInvalidBookmarkText  , "Неверное содержание закладки '%s'"
  SInvalidNesting       , "Некорректное вложение закладок '%s' и '%s'"
  SDuplicateSQL         , "В группе %s определено больше одного SQL запроса"
  SFieldNotFound        , "Поле '%s' для закладки '%s' не найдено"
  SDataSetClassEmpty    , "DataSetClass не определен"
}


