#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  53050, "Object inspector"
;--- EditorForm resources ----------------------------------------------------
  53060, "Редактор тексту"
  53061, "&Мемо"
  53062, "&Скріпт"
  53063, "&Великий шрифт"
  53064, "&Перенесення слів"
  53065, "С&кріпт"
  53066, "&Змінна"
  53067, "Поле з &БД"
  53068, "&Формат"
;--- FRDesignerForm resources ------------------------------------------------
  53080, "Дизайнер"
  53081, "Прямокутник"
  53082, "Стандартна"
  53083, "Текст"
  53084, "Об'єкти"
  53085, "Вирівнювання"
  53086, "Майстри"
  53087, "Новий звіт"
  53088, "Відкрити звіт"
  53089, "Зберегти звіт"
  53090, "Попередній перегляд"
  53091, "Вирізати"
  53092, "Копіювати"
  53093, "Вставити"
  53094, "Відмінити останню дію"
  53095, "Повторити відмінену дію"
  53096, "Перемістити об'єкт вгору"
  53097, "Перемістити об'єкт вниз"
  53098, "Виділити все"
  53099, "Додати сторінку"
  53100, "Вилучити сторінку"
  53101, "Опції сторінки"
  53102, "Координатна сітка"
  53103, "Вирівнювати об'єкти по сітці"
  53104, "Розташувати об'єкти по сітці"
  53105, "Закрити"
  53106, "Закрити вікно"
  53107, "Вирівняти текст ліворуч"
  53108, "Вирівняти текст праворуч"
  53109, "Центровка тексту"
  53110, "Горизонтальне/вертикальне розташування тексту"
  53111, "Рівномірно по висоті"
  53112, "Вирівняти по верхньому краю"
  53113, "Вирівняти по нижньому краю"
  53114, "Вирівняти по ширині"
  53115, "Потовщення"
  53116, "Курсив"
  53117, "Підкреслення"
  53118, "Колір тексту"
  53119, "Атрибути виділення"
  53120, "Розмір шрифту"
  53121, "Шрифт"
  53122, "Верхня лінія прямокутника"
  53123, "Ліва лінія прямокутника"
  53124, "Нижня лінія прямокутника"
  53125, "Права лінія прямокутника"
  53126, "Всі лінії рамки"
  53127, "Без рамки"
  53128, "Фон прямокутника"
  53129, "Колір рамки"
  53130, "Товщина рамки"
  53131, "Товщина рамки"
  53132, "Вибрати об'єкт"
  53133, "Вставити прямокутник з текстом"
  53134, "Вставити секцію"
  53135, "Вставити малюнок"
  53136, "Вставити вкладений звіт"
  53137, "Малювати лінії"
  53138, "Вирівняти ліві краї"
  53139, "Центрувати по горизонталі"
  53140, "Центрувати по горизонталі у вікні"
  53141, "Розташувати рівномірно по ширині"
  53142, "Вирівняти праві краї"
  53143, "Вирівняти верхні краї"
  53144, "Центрувати по вертикалі"
  53145, "Центрувати по вертикалі у вікні"
  53146, "Розташувати рівномірно по висоті"
  53147, "Вирівняти нижні краї"
  53148, "&Вирізати"
  53149, "&Копіювати"
  53150, "Вс&тавити"
  53151, "&Вилучити"
  53152, "Виділити в&се"
  53153, "&Редактор..."
  53154, "&Файл"
  53155, "&Створити..."
  53156, "&Відкрити..."
  53157, "&Зберегти"
  53158, "Список &змінних..."
  53159, "Параметри зві&ту..."
  53160, "Параметри сто&рінки..."
  53161, "Попередній пере&гляд"
  53162, "Ви&хід"
  53163, "&Виправлення"
  53164, "&Відмінити"
  53165, "&Повторити"
  53166, "&Вирізати"
  53167, "&Копіювати"
  53168, "Вс&тавити"
  53169, "&Вилучити"
  53170, "Виділити в&се"
  53171, "&Редагувати..."
  53172, "До&дати сторінку"
  53173, "Вилучити &сторінку"
  53174, "Об'єкт &вгору"
  53175, "Об'єкт вни&з"
  53176, "&Сервіс"
  53177, "&Панелі інструментів"
  53178, "&Майстри"
  53179, "&Опції..."
  53180, "&Прямокутник"
  53181, "&Стандартна"
  53182, "&Текст"
  53183, "&Об'єкти"
  53184, "&Інспектор"
  53185, "&Вирівнювання"
  53186, "&Майстри"
  53187, "Про &програму..."
  53188, "Зберегти &як..."
  53189, "&Виклик довідки"
  53190, "&Підказка"
  53191, "Стиль лінії"
;--- DesOptionsForm resources ------------------------------------------------
  53280, "Опції"
  53281, "Дизайнер"
  53282, "Сітка"
  53283, "Переміщення об'єкта"
  53284, "Одиниці вимірювання"
  53285, "Крок сітки"
  53286, "Показати &сітку"
  53287, "&Вирівнювати об'єкти"
  53288, "&Кольорові кнопки"
  53289, "&4 точки"
  53290, "&8 точок"
  53291, "&18 точок (5мм)"
  53292, "&Контур"
  53293, "Содержимое"
  53294, "&Пікселі"
  53295, "&Міліметри"
  53296, "&Дюйми"
  53297, "Інше"
  53298, "&Редагування після вставки"
  53299, "Показувати &заголовки бэндов"
;--- TemplForm resources -----------------------------------------------------
  53310, "Новий звіт"
  53311, "Опис"
;--- TemplNewForm resources --------------------------------------------------
  53320, "Новий шаблон"
  53321, "&Коментар"
  53322, "Картинка"
  53323, "&Огляд..."
;--- EvForm resources --------------------------------------------------------
  53340, "Редактор значень змінних"
  53341, "&Змінна"
  53342, "&Значення"
  53343, "&Вираз"
  53344, "Копіювати змінні в буфер обміну"
  53345, "Вставити змінні з буфера обміну"
  53346, "З&мінні..."
;--- VaredForm resources -----------------------------------------------------
  53360, "Перелік змінних"
  53361, "&Категорії і змінні"
;--- DocOptForm resources ----------------------------------------------------
  53370, "Параметри звіту"
  53371, "Принтер"
  53372, "&Вибирати при відкритті звіту"
  53373, "Інші"
  53374, "Робити два &проходи"
;--- PgoptForm resources -----------------------------------------------------
  53390, "Параметри сторінки"
  53391, "Папір"
  53392, "Орієнтація"
  53393, "&Портретна"
  53394, "&Альбомная"
  53395, "Розмір"
  53396, "&Ширина, мм"
  53397, "&Висота, мм"
  53398, "Поля"
  53399, "Поля сторінки"
  53400, "&Ліве, мм"
  53401, "&Верхнє, мм"
  53402, "&Праве, мм"
  53403, "&Нижнє, мм"
  53404, "Не &використати"
  53405, "Параметри"
  53406, "Параметри"
  53407, "Друк &впритул до попер.листу"
  53408, "Колонки"
  53409, "&Кількість"
  53410, "&Проміжок, мм"
;--- FmtForm resources -------------------------------------------------------
  53420, "Формат змінної"
  53421, "Формат змінної"
  53422, "&Дес. знаків"
  53423, "&Роздільник дробу"
  53424, "&Формат:"
;--- VarForm resources -------------------------------------------------------
  53440, "Змінні"
  53441, "&Категорія:"
;--- FieldsForm resources ----------------------------------------------------
  53450, "Вставка поля БД"
  53451, "&Бази даних"
;--- GEditorForm resources ---------------------------------------------------
  53460, "Малюнок"
  53461, "&Розтягнути"
  53462, "&Завантажити"
  53463, "&Очистити"
  53464, "&Мемо"
;--- BandEditorForm resources ------------------------------------------------
  53480, "Джерело даних"
  53481, "&Джерело"
  53482, "&Кількість записів"
;--- VBandEditorForm resources ------------------------------------------------
  53485, "Джерела даних"
  53486, "Секції"
  53487, "Джерело"
  53488, "&Кількість записів"
;--- GroupEditorForm resources -----------------------------------------------
  53490, "Група"
  53491, "&Умова"
  53492, "Вибір поля БД"
;--- BandTypesForm resources -------------------------------------------------
  53510, "Нова секція"
  53511, "Тип секції"
;--- HilightForm resources ---------------------------------------------------
  53520, "Атрибути виділення"
  53521, "Умова"
  53522, "Текст"
  53523, "&Колір..."
  53524, "&Потовщений"
  53525, "&Курсив"
  53526, "Під&креслювання"
  53527, "Фон"
  53528, "Колір..."
  53529, "&Прозорий"
  53530, "&Інший"
;--- AboutForm resources -----------------------------------------------------
  53540, "Про програму"
;--- OleForm resources -------------------------------------------------------
  53550, "OLE об'єкт"
  53551, "&Вставити"
  53552, "&Редагувати"
  53553, "&Закрити"
;--- RichForm resources ------------------------------------------------------
  53560,  "Редактор Rich Edit"
  53561,  "Відкрити файл"
  53562,  "Зберегти в файлі"
  53563,  "Відмінити"
  53564,  "Потовщення"
  53565,  "Нахил"
  53566,  "Вирівнювання ліворуч"
  53567,  "Вирівнювання по центру"
  53568,  "Вирівнювання праворуч"
  53569,  "Підкреслення"
  53570, "Список"
  53571, "Шрифт"
  53572, "Відмінити"
  53573, "Запам'ятати"
  53574, "Var"
  53575, "Вставити змінну"
  53576, "Вибір шрифту"
  53577, "Розмір шрифту"
;--- ChartForm resources -----------------------------------------------------
  53590, "Діаграма"
  53591, "Тип"
  53592, "Дані"
  53593, "Тип діаграми"
  53594, "Ім'я об'єкта"
  53595, "Опції"
  53596, "&Об'ємна"
  53597, "О&динична"
  53598, "З &підписом"
  53599, "З о&сями"
  53600, "З по&мітками"
  53601, "Різно&кольорова"
  53602, "Для &підпису"
  53603, "Для &даних"
  53604, "Помітки"
  53605, "Стиль"
  53606, "&Значення"
  53607, "&Відсоток"
  53608, "&Назва"
  53609, "Назва і про&цент"
  53610, "Назва і зна&чення"
  53611, "10 найкращих"
  53612, "&Відображати"
  53613, "&Підпис"
  53614, "значень"
;--- ShapeForm resources -----------------------------------------------------
  53620, "Фігура"
  53621, "Тип фігури"
;--- InsertFieldsForm resources ----------------------------------------------
  53630, "Вставка полів БД"
  53631, "&Бази даних"
  53632, "Розташування"
  53633, "По &горизонталі"
  53634, "По &вертикалі"
  53635, "Включаючи &заголовки"
  53636, "Включаючи бен&ди"
;--- BarCodeForm resources ---------------------------------------------------
  53650, "Редактор штрихкоду"
  53651, "&Код"
  53652, "&Тип штрихкоду"
  53653, "Опції"
  53654, "Контрольна &сума"
  53655, "&Підпис"
  53656, "Вставити поле БД"
  53657, "Вставити змінну"
  53658, "Орієнтація"
;--- RoundRectForm resources -------------------------------------------------
  53670,  "Прямокутник з тінню"
  53671,  "Зразок:"
  53672,  "Змінна..."
  53673,  "Поле БД..."
  53674,  "Градієнт"
  53675,  "Розмір тіні"
  53676,  "Колір"
  53677,  "Закруглення"
  53678,  "Обрамувати"
  53679,  "Кінцевий колір"
  53680,  "Початковий колір"
  53681,  "Стиль"
  53682,  "Вертикальний,Горизонтальний,Еліпс,Прямокутний,Гориз._центр,Верт._центр"
  53683,  "Клацніть тут для вибору кольору"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Вилучити сторінку?"
  SConfirm, "Підтвердження"
  SDefaultPrinter,  "Принтер за умовчанням"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small,  8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 мм"
  SPaper9, "A4 210 x 297 мм"
  SPaper10, "A4 small sheet,  210 x 297 мм"
  SPaper11, "A5 148 x 210 мм"
  SPaper12, "B4 250 x 354 мм"
  SPaper13, "B5 182 x 257 мм"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet,  215 x 275 мм"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope,  4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope,  4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope,  4 3/4 x 11"""
  SPaper23, "#14 Envelope,  5 x 11 1/2"""
  SPaper24, "C Sheet,  17 x 22"""
  SPaper25, "D Sheet,  22 x 34"""
  SPaper26, "E Sheet,  34 x 44"""
  SPaper27, "DL Envelope,  110 x 220 мм"
  SPaper28, "C5 Envelope,  162 x 229 мм"
  SPaper29, "C3 Envelope,   324 x 458 мм"
  SPaper30, "C4 Envelope,   229 x 324 мм"
  SPaper31, "C6 Envelope,   114 x 162 мм"
  SPaper32, "C65 Envelope,  114 x 229 мм"
  SPaper33, "B4 Envelope,   250 x 353 мм"
  SPaper34, "B5 Envelope,   176 x 250 мм"
  SPaper35, "B6 Envelope,   176 x 125 мм"
  SPaper36,  "Italy Envelope,  110 x 230 мм"
  SPaper37,  "Monarch Envelope,  3 7/8 x 7 1/2"""
  SPaper38,  "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39,  "US Std Fanfold,  14 7/8 x 11"""
  SPaper40,  "German Std Fanfold,  8 1/2 x 12"""
  SPaper41,  "German Legal Fanfold,  8 1/2 x 13"""
  SPaper42,  "B4 (ISO) 250 x 353 мм"
  SPaper43,  "Japanese Postcard 100 x 148 мм"
  SPaper44,  "9 x 11"""
  SPaper45,  "10 x 11"""
  SPaper46,  "15 x 11"""
  SPaper47,  "Envelope Invite 220 x 220 мм"
  SPaper50,  "Letter Extra 9/275 x 12"""
  SPaper51,  "Legal Extra 9/275 x 15"""
  SPaper52,  "Tabloid Extra 11.69 x 18"""
  SPaper53,  "A4 Extra 9.27 x 12.69"""
  SPaper54,  "Letter Transverse 8/275 x 11"""
  SPaper55,  "A4 Transverse 210 x 297 мм"
  SPaper56,  "Letter Extra Transverse 9/275 x 12"""
  SPaper57,  "SuperASuperAA4 227 x 356 мм"
  SPaper58,  "SuperBSuperBA3 305 x 487 мм"
  SPaper59,  "Letter Plus 8.5 x 12.69"""
  SPaper60,  "A4 Plus 210 x 330 мм"
  SPaper61,  "A5 Transverse 148 x 210 мм"
  SPaper62,  "B5 (JIS) Transverse 182 x 257 мм"
  SPaper63,  "A3 Extra 322 x 445 мм"
  SPaper64,  "A5 Extra 174 x 235 мм"
  SPaper65,  "B5 (ISO) Extra 201 x 276 мм"
  SPaper66,  "A2 420 x 594 мм"
  SPaper67,  "A3 Transverse 297 x 420 мм"
  SPaper68,  "A3 Extra Transverse 322 x 445 мм"
  SPaper256,  "Інший"
  SSpecVal,  "Інші змінні"
  SVar1,  "Сторінка"
  SVar2,  "Вираз"
  SVar3,  "Дата"
  SVar4,  "Час"
  SVar5,  "Line#"
  SVar6,  "Line through#"
  SVar7,  "Column#"
  SVar8,  "Current line#"
  SVar9,  "Всього сторінок"
  SStretched,  "Розтягуваний"
  SVarFormat,  "Формат змінної..."
  SWordWrap,  "Перенесення слів"
  SWordBreak,  "Перенос по складах"
  SFormNewPage,  "Формувати нову сторінку"
  SPrintIfSubsetEmpty,  "Друкувати, якщо Detail пустий"
  SBreaked,  "Розривається"
  SPictureCenter,  "Центрувати"
  SKeepAspectRatio,  "Зберігати пропорції"
  SFormFile,  "Форма FastReport"
  STemplFile,  "Шаблон FastReport"
  SPictFile,  "Графічні файли"
  SBMPFile,  "Малюнок ВМР"
  SAllFiles,  "Всі файли"
  SInsOLEObject,  "Вставити OLE об'єкт"
  SInsRichObject,  "Вставити RichText об'єкт"
  SInsRich2Object,  "Вставити RX RichText об'єкт"
  SInsCheckBox,  "Вставити CheckBox об'єкт"
  SInsChart,  "Вставити діаграму"
  SInsShape,  "Вставити фігуру"
  SInsBarcode,  "Вставити штрихкод"
  SInsRoundRect,  "Вставити прямокутник з тінню"
  SSubReportOnPage,  "SubReport на сторінці"
  SPicture,"[Малюнок]"
  STransparent,  "Прозорий"
  SOther,  "Іншої..."
  SOnFirstPage,  "На першій сторінці"
  SOnLastPage,  "На останній сторінці"
  SRepeatHeader,  "Виводити на всіх сторінках"
  SDesignReport,  "Дизайнер"
  SInsertFields,  "Вставка полів БД в звіт"
  SSaveChanges,  "Зберегти зміни"
  STo, "в"
  SShape1,  "Прямокутник"
  SShape2,  "Закруглений прямокутник"
  SShape3,  "Еліпс"
  SShape4,  "Трикутник"
  SPixels,  "Пікселі"
  SMM,  "Міліметри"
  SInches,  "Дюйми"
  SVirtualDataset,  "Віртуальний"
  SAutoSize,  "Авторозмір"
  SFRVariables,  "Змінні FR"
}