#include "..\sstrings.pas"
LANGUAGE LANG_ENGLISH,0
STRINGTABLE
{
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Cancel"
  s_MsgDlgHelp, "&Help"

  s_RestoreStr, "Restore"
  s_MoveStr, "Move"
  s_SizeStr, "Size"
  s_MinimizeStr, "Minimize"
  s_MaximizeStr, "Maximize"
  s_CloseStr, "Close"

  s_FileOpen, "File open"

  s_AvailSkins, "Available skins"
  s_InternalSkin, "(internal)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"

  // Color dialog
  s_ColorDlgAdd, "Add to custom colors set"
  s_ColorDlgDefine, "Define colors"
  s_ColorDlgMainPal, "Main palette :"
  s_ColorDlgAddPal, "Additional colors :"
  s_ColorDlgTitle, "Color"
  s_ColorDlgRed, "Red :"
  s_ColorDlgGreen, "Green :"
  s_ColorDlgBlue, "Blue :"
  s_ColorDlgDecimal, "Decimal - "
  s_ColorDlgHex, "Hex - "  
  
  // Frame adapter
  s_FrameAdapterError1, "TsFrameAdapter adapter must be placed on the handled frame";

  // Hint designer
  s_HintDsgnTitle, "Hint Designer Form"
  s_HintDsgnPreserved, "Preserved settings :"
  s_HintDsgnStyle, "Style :"
  s_HintDsgnBevelWidth, "Bevel width"
  s_Blur, "Blur"
  s_HintDsgnArrowLength, "Arrow length"
  s_HintDsgnHorizMargin, "Horiz. margin"
  s_HintDsgnVertMargin, "Vert. margin"
  s_HintDsgnRadius, "Corners radius"
  s_HintDsgnMaxWidth, "Max width"
  s_HintDsgnPauseHide, "Pause hide (ms)"
  s_Percent, "Percent"
  s_HintDsgnOffset, "Offset"
  s_HintDsgnTransparency, "Transparency"
  s_HintDsgnNoPicture, "No picture available"
  s_Font, "Font"
  s_Texture, "Texture"
  s_HintDsgnLoad, "Load from file"
  s_HintDsgnSave, "Save to file as..."
  s_HintDsgnColor, "Color"
  s_HintDsgnBorderTop, "Top border"
  s_HintDsgnBorderBottom, "Bottom border"
  s_Shadow, "Shadow"
  s_Background, "Background"
  s_Gradient, "Gradient"
  s_PreviewHint, "Preview of the future hint window"

  // File dialogs
  s_SelectDir, "Select directory"
  s_Create, "Create"


}
