#include "..\sstrings.pas"
LANGUAGE 16,SUBLANG_NEUTRAL
STRINGTABLE
{
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Annulla"
  s_MsgDlgHelp, "&Aiuto"

  s_RestoreStr, "Ripristina"
  s_MoveStr, "Sposta"
  s_SizeStr, "Dimensione"
  s_MinimizeStr, "Minimizza"
  s_MaximizeStr, "Massimizza"
  s_CloseStr, "Chiudi"

  s_FileOpen, "Apri archivo"

  s_AvailSkins, "Skin disponibili"
  s_InternalSkin, "(interno)"

  s_ErrorSettingCount, "Errore settaggio %s.Count"
  s_ListBoxMustBeVirtual, "Lo stile del Listbox (%s) deve essere virtuale per poter assegnare il contatore"

  // Color dialog
  s_ColorDlgAdd, "Aggiungi ai colori personalizzati"
  s_ColorDlgDefine, "Definisci i colori"
  s_ColorDlgMainPal, "Tavolozza principale:"
  s_ColorDlgAddPal, "Colori personali:"
  s_ColorDlgTitle, "Selezione colore"
  s_ColorDlgRed, "Rosso :"
  s_ColorDlgGreen, "Verde :"
  s_ColorDlgBlue, "Blu :"
  s_ColorDlgDecimal, "Decimale - "
  s_ColorDlgHex, "Esadecimale - "  
  
  // Frame adapter
  s_FrameAdapterError1, "L'adattatore TsFrameAdapter deve essere inserito nel Frame gestito";

  // Hint designer
  s_HintDsgnTitle, "Forma del Disegnatore dei Suggerimenti"
  s_HintDsgnPreserved, "Settaggi conservati :"
  s_HintDsgnStyle, "Stile :"
  s_HintDsgnBevelWidth, "Larghezza del Bevel"
  s_Blur, "Sfuocatura"
  s_HintDsgnArrowLength, "Lungh. freccia"
  s_HintDsgnHorizMargin, "Marg. orizz."
  s_HintDsgnVertMargin, "Marg. vert."
  s_HintDsgnRadius, "Raggio Angolo"
  s_HintDsgnMaxWidth, "Mass. largh."
  s_HintDsgnPauseHide, "Pausa nasc. (ms)"
  s_Percent, "Perc."
  s_HintDsgnOffset, "Offset"
  s_HintDsgnTransparency, "Transparenza(%)"
  s_HintDsgnNoPicture, "Nessuna immagine disponibile"
  s_Font, "Font"
  s_Texture, "Trama"
  s_HintDsgnLoad, "Carica da file"
  s_HintDsgnSave, "Salva con nome..."
  s_HintDsgnColor, "Colore"
  s_HintDsgnBorderTop, "Bordo superiore"
  s_HintDsgnBorderBottom, "Bordo inferiore"
  s_Shadow, "Ombreggiatura"
  s_Background, "Sottofondo"
  s_Gradient, "Contrasto"
  s_PreviewHint, "Anteprima della finestra di suggerimento"

  // File dialogs
  s_SelectDir, "Select directory"
  s_Create, "Create"

}
