#include "..\sstrings.pas"
LANGUAGE LANG_ENGLISH,0
STRINGTABLE
{
  s_MsgDlgWarning, "警告"
  s_MsgDlgError, "错误"
  s_MsgDlgInformation, "提示"
  s_MsgDlgConfirm, "确认"
  s_MsgDlgYes, "是(&Y)"
  s_MsgDlgNo, "否(&N)"
  s_MsgDlgOK, "确定"
  s_MsgDlgCancel, "取消"
  s_MsgDlgHelp, "帮助(&H)"
  s_MsgDlgHelpNone, "无相关帮助"
  s_MsgDlgHelpHelp, "帮助"
  s_MsgDlgAbort, "中止(&A)"
  s_MsgDlgRetry, "重试(&R)"
  s_MsgDlgIgnore, "忽略(&I)"
  s_MsgDlgAll, "所有(&A)"
  s_MsgDlgNoToAll, "全部否定(&o)"
  s_MsgDlgYesToAll, "全部同意(&A)"

  s_RestoreStr, "恢复"
  s_MoveStr, "移动"
  s_SizeStr, "大小"
  s_MinimizeStr, "最小化"
  s_MaximizeStr, "最大化"
  s_CloseStr, "关闭"

  s_HintClose, "关闭"
  s_HintMaximize, "最大化"
  s_HintMinimize, "最小化"
  s_HintRestore, "恢复"
  s_HintHelp, "帮助"

  s_FileOpen, "打开文件"

  s_Calculator, "计算器"
  s_GradBuilder, "渐变生成器(&G)..."
  s_HotGradBuilder, "渐变生成器(&H)..."
  s_Panels, "面板(&P)..."

  s_AvailSkins, "皮肤"
  s_InternalSkin, "(内建皮肤)"

  s_ErrorSettingCount, "错误设置 %s.Count"
  s_ListBoxMustBeVirtual, "列表(%s)的风格必须为虚拟才可以设置Count"

  // Color dialog
  s_ColorDlgAdd, "增加到定制颜色集"
  s_ColorDlgDefine, "定义颜色"
  s_ColorDlgMainPal, "主调色板:"
  s_ColorDlgAddPal, "其它颜色:"
  s_ColorDlgTitle, "颜色"
  s_ColorDlgRed, "红 :"
  s_ColorDlgGreen, "绿 :"
  s_ColorDlgBlue, "蓝 :"
  s_ColorDlgDecimal, "十进制 - "
  s_ColorDlgHex, "十六进制 - "  
  
  // Frame adapter
  s_FrameAdapterError1, "TsFrameAdapter 适配器必须放置在目标框架(frame)中";

  // Hint designer
  s_HintDsgnTitle, "提示设计表"
  s_HintDsgnPreserved, "保留设置 :"
  s_HintDsgnStyle, "风格 :"
  s_HintDsgnBevelWidth, "斜边宽度"
  s_Blur, "模糊"
  s_HintDsgnArrowLength, "箭头长度"
  s_HintDsgnHorizMargin, "水平边缘空白"
  s_HintDsgnVertMargin, "垂直边缘空白"
  s_HintDsgnRadius, "对角半径"
  s_HintDsgnMaxWidth, "最大宽度"
  s_HintDsgnPauseHide, "暂停隐藏(ms)"
  s_Percent, "百分比"
  s_HintDsgnOffset, "位移"
  s_HintDsgnTransparency, "透明度"
  s_HintDsgnNoPicture, "没有可用图片"
  s_Font, "字体"
  s_Texture, "纹理"
  s_HintDsgnLoad, "加载文件"
  s_HintDsgnSave, "保存文件为..."
  s_HintDsgnColor, "颜色"
  s_HintDsgnBorderTop, "顶边"
  s_HintDsgnBorderBottom, "底边"
  s_Shadow, "阴影"
  s_Background, "背景"
  s_Gradient, "渐变"
  s_PreviewHint, "提示窗预览"

  // File dialogs
  s_Folder, "文件夹"
  s_FileName, "文件名"
  s_FileType, "文件类型"
  s_ReadOnly, "只读"
  s_ViewStyleList, "列表"
  s_ViewStyleReport, "详细信息"
  s_ViewStyleIcons, "缩略图"
  s_ViewStyleSmallIcons, "小图标"
  s_OpenFile, "打开"
  s_SaveFile, "保存"
  s_BtnOpen, "打开"
  s_BtnSave, "保存"
  s_SelectDir, "选择目录"
  s_Create, "新建"


}
