#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  53050, "Object inspector"
;--- EditorForm resources ----------------------------------------------------
  53060, "Editor di testo"
  53061, "&Memo"
  53062, "&Script"
  53063, "&Carattere grande"
  53064, "&A capo automatico"
  53065, "S&cript"
  53066, "&Variabile"
  53067, "Campo &DB"
  53068, "&Formato"
;--- FRDesignerForm resources ------------------------------------------------
  53080, "Designer"
  53081, "Rettangolo"
  53082, "Standard"
  53083, "Testo"
  53084, "Oggetti"
  53085, "Allineamento"
  53086, "Strumenti"
  53087, "Nuovo report"
  53088, "Apri report"
  53089, "Salva report"
  53090, "Anteprima report"
  53091, "Taglia"
  53092, "Copia"
  53093, "Incolla"
  53094, "Annulla azione"
  53095, "Ripeti azione"
  53096, "Porta in primo piano"
  53097, "Porta in secondo piano"
  53098, "Seleziona tutto"
  53099, "Aggiungi pagina"
  53100, "Elimina pagina"
  53101, "Opzioni pagina"
  53102, "Mostra griglia"
  53103, "Allinea alla griglia"
  53104, "Ridimensiona alla griglia"
  53105, "Chiudi"
  53106, "Chiudi designer"
  53107, "Allinea a sinistra"
  53108, "Allinea a destra"
  53109, "Centra"
  53110, "Testo normale / 90 gradi"
  53111, "Centra verticalmente"
  53112, "Allinea in alto"
  53113, "Allinea in basso"
  53114, "Giustifica"
  53115, "Grassetto"
  53116, "Corsivo"
  53117, "Sottolineato"
  53118, "Colore carattere"
  53119, "Attributi evidenziazione"
  53120, "Dimensione carattere"
  53121, "Nome carattere"
  53122, "Bordo superiore"
  53123, "Bordo sinistro"
  53124, "Bordo inferiore"
  53125, "Bordo destro"
  53126, "Bordo completo"
  53127, "Nessun bordo"
  53128, "Colore sfondo"
  53129, "Colore bordo"
  53130, "Spessore bordo"
  53131, "Spessore bordo"
  53132, "Seleziona oggetto"
  53133, "Inserisci oggetto testo"
  53134, "Inserisci banda"
  53135, "Inserisci immagine"
  53136, "Inserisci sub-report"
  53137, "Disegna linee"
  53138, "Allinea i lati sinistri"
  53139, "Allinea i centri orizzontalmente"
  53140, "Centra orizzontalmente nella finestra"
  53141, "Spazia uniformemente in orizzontale"
  53142, "Allinea i lati destri"
  53143, "Allinea i lati superiori"
  53144, "Allinea i centri verticalmente"
  53145, "Centra verticalmente nella finestra"
  53146, "Spazia uniformemente in verticale"
  53147, "Allinea i lati inferiori"
  53148, "&Taglia"
  53149, "&Copia"
  53150, "&Incolla"
  53151, "&Elimina"
  53152, "Seleziona t&utto"
  53153, "&Modifica..."
  53154, "&File"
  53155, "&Nuovo..."
  53156, "&Apri..."
  53157, "&Salva"
  53158, "&Elenco variabili..."
  53159, "Opzioni &report..."
  53160, "Opzioni &pagina..."
  53161, "A&nteprima"
  53162, "&Esci"
  53163, "&Modifica"
  53164, "&Annulla azione"
  53165, "&Ripeti azione"
  53166, "&Taglia"
  53167, "&Copia"
  53168, "&Incolla"
  53169, "&Elimina"
  53170, "Seleziona t&utto"
  53171, "&Modifica..."
  53172, "Aggiungi &pagina"
  53173, "E&limina pagina"
  53174, "Porta in prim&o piano"
  53175, "Porta in seco&ndo piano"
  53176, "&Strumenti"
  53177, "&Barre degli strumenti"
  53178, "&Strumenti"
  53179, "&Opzioni..."
  53180, "&Bordo"
  53181, "&Standard"
  53182, "&Testo"
  53183, "&Oggetti"
  53184, "Object &Inspector"
  53185, "&Allineamento"
  53186, "&Strumenti"
  53187, "&Informazioni su..."
  53188, "Salva &come..."
  53189, "&Guida"
  53190, "&Strumento &guida"
  53191, "Stile linea"
;--- DesOptionsForm resources ------------------------------------------------
  53280, "Opzioni"
  53281, "Designer"
  53282, "Griglia"
  53283, "Movimento oggetto"
  53284, "Unità di misura report"
  53285, "Dimensione griglia"
  53286, "Mostra &griglia"
  53287, "&Allinea alla griglia"
  53288, "Bottoni a &colori"
  53289, "&4 pixels"
  53290, "&8 pixels"
  53291, "&18 pixels (5mm)"
  53292, "&Contorno"
  53293, "Co&ntenuto"
  53294, "&Pixels"
  53295, "&MM"
  53296, "P&ollici"
  53297, "Altro"
  53298, "Modifica &dopo inserimento"
  53299, "Mostra i &titoli banda"
;--- TemplForm resources -----------------------------------------------------
  53310, "Nuovo report"
  53311, "Descrizione"
;--- TemplNewForm resources --------------------------------------------------
  53320, "Nuovo modello report"
  53321, "&Commento"
  53322, "Icona"
  53323, "&File..."
;--- EvForm resources --------------------------------------------------------
  53340, "Editor delle variabili"
  53341, "&Variabile"
  53342, "Va&lore"
  53343, "&Espressione"
  53344, "Copia variabili"
  53345, "Incolla variabili"
  53346, "Va&riabili..."
;--- VaredForm resources -----------------------------------------------------
  53360, "Elenco variabili"
  53361, "&Categorie e variabili"
;--- DocOptForm resources ----------------------------------------------------
  53370, "Opzioni report"
  53371, "Stampante"
  53372, "&Seleziona su caricamento report"
  53373, "Altro"
  53374, "&Report a doppio passaggio"
;--- PgoptForm resources -----------------------------------------------------
  53390, "Opzioni pagina"
  53391, "Carta"
  53392, "Orientamento"
  53393, "&Verticale"
  53394, "&Orizzontale"
  53395, "Dimensione"
  53396, "&Larghezza mm"
  53397, "&Altezza mm"
  53398, "Margini"
  53399, "Margini pagina"
  53400, "&Sinistra mm"
  53401, "&Superiore mm"
  53402, "&Destra mm"
  53403, "&Inferiore mm"
  53404, "&Non usare"
  53405, "Opzioni"
  53406, "Opzioni"
  53407, "&Stampa nella pagina precedente"
  53408, "Colonne"
  53409, "&Numero"
  53410, "&Spazio tra colonne, mm"
;--- FmtForm resources -------------------------------------------------------
  53420, "Formato variabile"
  53421, "Formato"
  53422, "&Cifre decimali"
  53423, "&Separatore decimale"
  53424, "&Formato"
;--- VarForm resources -------------------------------------------------------
  53440, "Variabili"
  53441, "&Categoria:"
;--- FieldsForm resources ----------------------------------------------------
  53450, "Inserisci campo DB"
  53451, "&DB disponibili"
;--- GEditorForm resources ---------------------------------------------------
  53460, "Immagine"
  53461, "&Deforma"
  53462, "&Carica..."
  53463, "&Pulisci"
  53464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  53480, "Origine dati della banda"
  53481, "&Origine dati"
  53482, "&Numero record"
;--- VBandEditorForm resources ------------------------------------------------
  53485, "Origini dati della banda"
  53486, "Bande"
  53487, "Origine dati"
  53488, "&Conteggio record"
;--- GroupEditorForm resources -----------------------------------------------
  53490, "Grupo"
  53491, "&Condizione"
  53492, "Inserisci campo DB"
;--- BandTypesForm resources -------------------------------------------------
  53510, "Inserisci nuova banda"
  53511, "Tipo banda"
;--- HilightForm resources ---------------------------------------------------
  53520, "Attributi evidenziazione"
  53521, "&Condizione"
  53522, "Carattere"
  53523, "C&olore..."
  53524, "&Grassetto"
  53525, "&Corsivo"
  53526, "&Sottolineato"
  53527, "Sfondo"
  53528, "Co&lore..."
  53529, "&Trasparente"
  53530, "&Altro"
;--- AboutForm resources -----------------------------------------------------
  53540, "Informazioni su FastReport"
;--- OleForm resources -------------------------------------------------------
  53550, "Oggetto OLE"
  53551, "&Inserisci..."
  53552, "&Modifica..."
  53553, "&Chiudi"
;--- RichForm resources ------------------------------------------------------
  53560, "Rich Edit"
  53561, "Apri..."
  53562, "Salva..."
  53563, "Annulla azione"
  53564, "Grassetto"
  53565, "Corsivo"
  53566, "Allinea a sinistra"
  53567, "Centra"
  53568, "Allinea a destra"
  53569, "Sottolineato"
  53570, "Elenco puntato"
  53571, "Carattere"
  53572, "Annulla"
  53573, "Salva ed esci"
  53574, "Var"
  53575, "Inserisci variabile"
  53576, "Carattere"
  53577, "Dimensione carattere"
;--- ChartForm resources -----------------------------------------------------
  53590, "Oggetto Chart"
  53591, "Tipo"
  53592, "Data"
  53593, "Tipo"
  53594, "Nome oggetto"
  53595, "Opzioni"
  53596, "&3D"
  53597, "&Singolo"
  53598, "Mostra &legenda"
  53599, "Mostra &assi"
  53600, "Mostra &indicatori"
  53601, "Multi-colo&re"
  53602, "Per &legenda"
  53603, "Per &valori"
  53604, "Indicatori"
  53605, "Stile"
  53606, "Valore"
  53607, "Percentuale"
  53608, "Etichetta"
  53609, "Etichetta e percentuale"
  53610, "Etichetta e valore"
  53611, "Gruppo Top 10"
  53612, "&Mostra i"
  53613, "&Etichetta"
  53614, "valori Top"
;--- ShapeForm resources -----------------------------------------------------
  53620, "Poligono"
  53621, "Tipo poligono"
;--- InsertFieldsForm resources ----------------------------------------------
  53630, "Inserisci campi"
  53631, "&Datasets disponibili"
  53632, "Posizione"
  53633, "&Orizzontale"
  53634, "&Verticale"
  53635, "&Includi intestazioni"
  53636, "Includi &bande"
;--- BarCodeForm resources ---------------------------------------------------
  53650, "Editor del codice a barre"
  53651, "&Codice"
  53652, "&Tipo di codice a barre"
  53653, "Opzioni"
  53654, "Check&sum"
  53655, "&Leggibile direttamente"
  53656, "Inserisci campo DB"
  53657, "Inserisci variabile"
  53658, "Rotazione"
;--- RoundRectForm resources -------------------------------------------------
  53670, "Property editor"
  53671, "Sample :"
  53672, "Variables ..."
  53673, "Data .."
  53674, "Gradian"
  53675, "Shadow width"
  53676, "Color"
  53677, "Curve"
  53678, "Framed zone"
  53679, "End Color"
  53680, "Begin color"
  53681, "Style"
  53682, "Vertical,Horizontal,Elliptic,Rectangle,Horiz._Center,Vert._Center"
  53683, "Click here to define the shadow color or gradian colors"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Elimino questa pagina?"
  SConfirm, "Conferma"
  SDefaultPrinter, "Stampante predefinita"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Personalizzata"
  SSpecVal, "Altro"
  SVar1, "Page#"
  SVar2, "Expression"
  SVar3, "Date"
  SVar4, "Time"
  SVar5, "Line#"
  SVar6, "Line through#"
  SVar7, "Column#"
  SVar8, "Current line#"
  SVar9, "TotalPages"
  SStretched, "Estensione automatica"
  SVarFormat, "Formato..."
  SWordWrap, "A capo automatico"
  SWordBreak, ""
  SFormNewPage, "Inizia su nuova pagina"
  SPrintIfSubsetEmpty, "Stampa anche se il dettaglio è vuoto"
  SBreaked, "Interrompibile"
  SPictureCenter, "Centra immagine"
  SKeepAspectRatio, "Mantieni proporzioni"
  SFormFile, "File FastReport"
  STemplFile, "Modello FastReport"
  SPictFile, "File immagine"
  SBMPFile, "File bitmap"
  SAllFiles, "Tutti i files"
  SInsOLEObject, "Inserisci oggetto OLE"
  SInsRichObject, "Inserisci oggetto RichText"
  SInsRich2Object, "Inserisci oggetto RX RichText"
  SInsCheckBox, "Inserisci oggetto CheckBox"
  SInsChart, "Inserisci oggetto Chart"
  SInsShape, "Inserisci oggetto poligono"
  SInsBarcode, "Insersci oggetto codice a barre"
  SInsRoundRect, "Insert an RoundRect with shadow area"
  SSubReportOnPage, "Sub-report su pagina"
  SPicture, "[Immagine]"
  STransparent, "Trasparente"
  SOther, "Altro..."
  SOnFirstPage, "Sulla prima pagina"
  SOnLastPage, "Sull'ultima pagina"
  SRepeatHeader, "Mostra su tutte le pagine"
  SDesignReport, "Modifica report"
  SInsertFields, "Inserisci campi DB"
  SSaveChanges, "Salva modifiche"
  STo, "a"
  SShape1, "Rettangolo"
  SShape2, "Rettangolo arrotondato"
  SShape3, "Ellisse"
  SShape4, "Triangolo"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Pollici"
  SVirtualDataset, "Dataset virtuale"
  SAutoSize, "Auto-dimensionamento"
  SFRVariables, "Variabili FR"
}
