body {
  overflow: auto;  
  border: none;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 13px;
  text-align:center;
  color:#000;
}
#header {
  font-size:15px;
  font-weight:bold;
  margin-bottom:24px;
}
#footer {
  font-size:11px;
  margin-top:16px;
}
#content td {  
  text-align:center;
  vertical-align:top;    
}

div.chart {
  width: 320px;
  height: 270px;
  border:1px solid black;
  margin:16px;
}
.legend table,
.legend > div {
  height: 82px !important;
  opacity: 1 !important;
  left: 170px;
  top: 10px;
  width: 116px !important;
}
.legend table {
  border: 1px solid #555;
  padding: 5px;
}
