#include "..\sstrings.pas"
LANGUAGE LANG_GERMAN,11
STRINGTABLE
{
  s_MsgDlgWarning, "Warnung"
  s_MsgDlgError, "Fehler"
  s_MsgDlgInformation, "Information"
  s_MsgDlgConfirm, "Antwort"
  s_MsgDlgYes, "&Ja"
  s_MsgDlgNo, "&Nein"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Schließen"
  s_MsgDlgHelp, "&Hilfe"
  s_MsgDlgHelpNone, "Keine Hilfe vorhanden"
  s_MsgDlgHelpHelp, "Hilfe"
  s_MsgDlgAbort, "&Abbrechen"
  s_MsgDlgRetry, "&Wiederholen"
  s_MsgDlgIgnore, "&Ignorieren"
  s_MsgDlgAll, "&Alle"
  s_MsgDlgNoToAll, "N&ein für Alle"
  s_MsgDlgYesToAll, "Ja für &Alle"

  s_RestoreStr, "&Wiederherstellen"
  s_MoveStr, "&Verschieben"
  s_SizeStr, "&Größe ändern"
  s_MinimizeStr, "Mi&nimieren"
  s_MaximizeStr, "Ma&ximimieren"
  s_CloseStr, "&Schließen"

  s_HintClose, "Schließen"
  s_HintMaximize, "Maximimieren"
  s_HintMinimize, "Minimieren"
  s_HintRestore, "Zurücksetzen"
  s_HintHelp, "Hilfe"

  s_FileOpen, "Datei Öffnen"

  s_Calculator, "Rechner"
  s_GradBuilder, "&Farbverlauf Erstellen..."
  s_HotGradBuilder, "&Wichtigen Farbverlauf Erstellen..."
  s_Panels, "&Panels..."

  s_AvailSkins, "Vorhandene Oberfläche"
  s_InternalSkin, "(Intern)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"

  // Color dialog
  s_ColorDlgAdd, "Farben hin&zufügen"
  s_ColorDlgDefine, "Farben &definieren >>"
  s_ColorDlgMainPal, "Grundfarben:"
  s_ColorDlgAddPal, "Benutzerdefinierte Farben:"
  s_ColorDlgTitle, "Farbe"
  s_ColorDlgRed, "&Rot:"
  s_ColorDlgGreen, "Grü&n:"
  s_ColorDlgBlue, "B&lau:"
  s_ColorDlgDecimal, "Decimal - "
  s_ColorDlgHex, "Hex - "  
  
  // Frame adapter
  s_FrameAdapterError1, "TsFrameAdapter Adapter muß auf dem Ersteller Frame gesetzt werden";

  // Hint designer
  s_HintDsgnTitle, "Hinweis Designer Form"
  s_HintDsgnPreserved, "Original Einstellungen:"
  s_HintDsgnStyle, "Stiel:"
  s_HintDsgnBevelWidth, "Fasen breite"
  s_Blur, "Unschärfe"
  s_HintDsgnArrowLength, "Pfeil Länge"
  s_HintDsgnHorizMargin, "Horiz. Abstand"
  s_HintDsgnVertMargin, "Vert. Abstand"
  s_HintDsgnRadius, "Ecken Radius"
  s_HintDsgnMaxWidth, "Maximale Breite"
  s_HintDsgnPauseHide, "Pause hide (ms)"
  s_Percent, "Prozent"
  s_HintDsgnOffset, "Offset"
  s_HintDsgnTransparency, "Transparent(%)"
  s_HintDsgnNoPicture, "Kein Bild vorhanden"
  s_Font, "Schrift"
  s_Texture, "Text"
  s_HintDsgnLoad, "Aus Datei laden"
  s_HintDsgnSave, "In Datei speichern als..."
  s_HintDsgnColor, "Farbe"
  s_HintDsgnBorderTop, "Obere Grenze"
  s_HintDsgnBorderBottom, "Untere Grenze"
  s_Shadow, "Schatten"
  s_Background, "Hintergrund"
  s_Gradient, "Farbverlauf"
  s_PreviewHint, "Preview of the future hint window"

  // File dialogs
  s_Folder, "Ordner"
  s_FileName, "Datei Name"
  s_FileType, "Datei Typ"
  s_ReadOnly, "Nur Lesen"
  s_ViewStyleList, "Liste"
  s_ViewStyleReport, "Report"
  s_ViewStyleIcons, "Icons"
  s_ViewStyleSmallIcons, "Kleines Icon"
  s_OpenFile, "Öffnen"
  s_SaveFile, "Speichern"
  s_BtnOpen, "Öffnen"
  s_BtnSave, "Speichern"
  s_SelectDir, "Verzeichnis Auswählen"
  s_Create, "Erstellen"

}