#include "ZRConst.pas"

STRINGTABLE

{
  szrParentReport        , "Компонент класса %s может принадлежать только отчету или его панелям"
  szrParentBand          , "Компонент класса %s может принадлежать только панелям отчета"
  szrCircularMaster      , "Циклические ссылки недопустимы"
  szrNoChildBand         , "Панель вида %s не может содержать дочерние панели"
  szrNoControllerBand    , "Панель вида %s не может содержать подконтроллер"
  szrNoStretch           , "Панель вида %s не может авторасширяться"
  szrBandDelete          , "Панель %s содержит метки.\nУдалить ?"

  szrPrinterNotReady     , "Не готов начать новый документ"
  szrPrinterNotFinished  , "Формирование отчета прервано"
  szrPrinterPageIndex    , "Выход за границы страницы, лист %d/%d, строка %d"
  szrPrinterNotBusy      , "Новый документ не начат"
  szrIllegalPageRange   , "Недопустимый диапазон страниц для вывода: %d..%d"
  szrInvalidFileName    , "Недопустимое имя файла: %s"

  szrCompleted          , "завершено"
  szrProcessing         , "Обрабатываю.."
  szrPrinting           , "Печатаю.."

  szrOf                 , "из"
  szrFirstPageHint      , "Первая страница"
  szrPrevPageHint       , "Предыдущая страница"
  szrNextPageHint       , "Следующая страница"
  szrLastPageHint       , "Последняя страница"
  szrSaveReportHint     , "Сохранить отчет - Ctrl+S"
  szrLoadReportHint     , "Загрузить отчет"
  szrPrintReportHint    , "Печатать отчет - Ctrl+P"
  szrPrintReport        , "Печать"
  szrGotoPageNo         , "Перейти к странице"
  szrPageNoHint         , "К странице по номеру"
  szrSearchReport       , "Поиск"
  szrSearchHint         , "Поиск строки - F7,\nпродолжение поиска - Shift+F7"

  szrPrinterSetup       , "Параметры печати"
  szrFileFilter         , "Текстовые файлы (*.txt)|*.txt|Все файлы (*.*)|*.*"
  szrEscapeModelCustom  , "<пользовательская>"
  szrEscapeModelNone    , "<нет>"

  szrConvertToOEM        , "ДОС кодировка"
  szrIgnoreFontStyles    , "Игнорировать стили шрифтов"
  szrEscapeModel         , "ESC-последовательность"
  szrPrintDialogCaption  , "Настройка параметров печати"

  szrOK    , "OK"
  szrCancel, "Отмена"
  szrExit  , "В&ыход"

  szrTime        , "hh:mm:ss"
  szrDate        , "dd/mm/yyyy"
  szrDateTime    , "dd/mm/yyyy hh:mm:ss"
  szrPageNumber  , "Стр."
  szrReportTitle , "Заголовок"
  szrRecordNumber, "# п/п"
  szrRecordCount , "Кол."

  szrExpressionError     , "Ошибка в выражении '%s'"
  szrExpressionParse     , "Выражение '%s' еще не разабрано"
  szrInvalidNumeric      , "Недопустимое число в выражении '%s'"
  szrInvalidDate         , "Недопустимая дата в выражении '%s'"
  szrInvalidString       , "Недопустимая строка в выражении '%s'"
  szrMissingBracket      , "Не хватает закрывающей '%s' в выражении '%s'"
  szrIllegalBracket      , "Недопустимое использование '%s' в выражении '%s'" 
  szrUnknownEntry        , "Неизвестная функция или переменная '%s'"
  szrIllegalUnary        , "Недопустимое применение унарного оператора '%s' в выражении '%s'"

  szrBooleanFalse        , "Ложь"
  szrBooleanTrue         , "Истина"
  szrIllegalLogics       , "Операнды логических операций должны быть логического типа"
  szrIllegalBitwise      , "Операнды битовых операций должны быть целого типа"
  szrIllegalDate         , "Недопустимая операция над датами"
  szrIllegalArguments    , "Неверное количество или тип аргументов для '%s'"
  szrCalculationError    , "Ошибка при вычислении выражения '%s':\n%s"

  szrCircularVariable    , "Недопустимый циклический вызов переменной '%s'"
  szrControllerLibrary   , "Переменные контроллера '%s'"

  szrDesignNone                 , "<нет>"
  szrDesignClose                , "Закр&ыть"
  szrDesignTSBands              , "Панели и группы"
  szrDesignTSVars               , "Переменные"
  szrDesignGBBands              , "Панели"
  szrDesignGBGroups             , "Группы"
  szrDesignTVBands              , "|Панели отчета"
  szrDesignLBGroups             , "|Группы текущего уровня отчета"
  szrDesignACBandsNew           , "Контроллер"
  szrDesignACBandsRename        , "Переименовать"
  szrDesignACBandsDelete        , "Удалить"
  szrDesignACGroupsNew          , "Новая"
  szrDesignACGroupsDelete       , "Удалить"
  szrDesignSureBandDelete       , "Вы уверены, что хотите удалить панель %s?"
  szrDesignSureGroupDelete      , "Вы уверены, что хотите удалить группу %s?"
  
  szrDesignGBData               , "Контроллеры отчета"
  szrDesignGRControllers        , "|Список управляющих панелей"
  szrDesignCellController       , "Контроллер"
  szrDesignCellDataSet          , "Данные"
  szrDesignLADataFields         , "Поля"
  szrDesignLBDataFields         , "|Список доступных полей"

  szrDesignGBVariables          , "Переменные контроллера"
  szrDesignLAVariableFields     , "Поля"
  szrDesignLBVariableFields     , "|Список переменных - полей источников данных"
  szrDesignLAVariableExpressions, "Выражения"
  szrDesignLBVariableExpressions, "|Список вычисляемых переменных"
  szrDesignLAVariableTotals     , "Аггрегаты"
  szrDesignLBVariableTotals     , "|Список переменных - аггрегатов"

  szrDesignACVariablesField     , "Поле"
  szrDesignACVariablesExpression, "Выражение"
  szrDesignACVariablesTotal     , "Аггрегат"
  szrDesignACVariablesDelete    , "Удалить"

  szrSearchDlgCaption           , "Поиск"
  szrSearchDlgInvitation        , "&Что искать"
  szrSearchDlgIgnoreCase        , "С учетом &регистра"
  szrSearchDlgFromCurrent       , "С &текущей позиции"
  szrSearchDlgStartSearch       , "&Искать"
  szrSearchDlgContinueSearch    , "&Продолжить"
  szrSearchNotFound             , "Строка '%s' не найдена"
}

