// Fichier Ressource RC pour Res_HiA
EXTNAVCANCELL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVCANCELL.bmp"
EXTNAVCANCELT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVCANCELT.bmp"
EXTNAVDELETEL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVDELETEL.bmp"
EXTNAVDELETET BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVDELETET.bmp"
EXTNAVEDITL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVEDITL.bmp"
EXTNAVEDITT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVEDITT.bmp"
EXTNAVFIRSTL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVFIRSTL.bmp"
EXTNAVFIRSTT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVFIRSTT.bmp"
EXTNAVGOTOBOOKMARKL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVGOTOBOOKMARKL.bmp"
EXTNAVGOTOBOOKMARKT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVGOTOBOOKMARKT.bmp"
EXTNAVINSERTL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVINSERTL.bmp"
EXTNAVINSERTT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVINSERTT.bmp"
EXTNAVLASTL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVLASTL.bmp"
EXTNAVLASTT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVLASTT.bmp"
EXTNAVMOVENEXTL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVMOVENEXTL.bmp"
EXTNAVMOVENEXTT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVMOVENEXTT.bmp"
EXTNAVMOVEPREVIOUSL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVMOVEPREVIOUSL.bmp"
EXTNAVMOVEPREVIOUST BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVMOVEPREVIOUST.bmp"
EXTNAVNEXTL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVNEXTL.bmp"
EXTNAVNEXTT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVNEXTT.bmp"
EXTNAVPREVIOUSL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVPREVIOUSL.bmp"
EXTNAVPREVIOUST BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVPREVIOUST.bmp"
EXTNAVREFRESHL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVREFRESHL.bmp"
EXTNAVREFRESHT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVREFRESHT.bmp"
EXTNAVSEARCHL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVSEARCHL.bmp"
EXTNAVSEARCHT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVSEARCHT.bmp"
EXTNAVSETBOOKMARKL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVSETBOOKMARKL.bmp"
EXTNAVSETBOOKMARKT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVSETBOOKMARKT.bmp"
EXTNAVPOSTL BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVPOSTL.bmp"
EXTNAVPOSTT BITMAP "D:\Matthieu\Programmation\Delphi\composants\Matthieu\ressources\Navigateur\EXTNAVPOSTT.bmp"
