#include "..\sstrings.pas"
LANGUAGE LANG_SLOVAK,6
STRINGTABLE
{
  s_MsgDlgWarning, "Upozornenie"
  s_MsgDlgError, "Chyba"
  s_MsgDlgInformation, "Inform·cia"
  s_MsgDlgConfirm, "Potvr iù"
  s_MsgDlgYes, "& no"
  s_MsgDlgNo, "&Nie"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Zruöiù"
  s_MsgDlgHelp, "&Pomoc"
  s_MsgDlgHelpNone, "Pomoc nen·jdena"
  s_MsgDlgHelpHelp, "Pomoc"
  s_MsgDlgAbort, "&Zruöiù"
  s_MsgDlgRetry, "&Opakovaù"
  s_MsgDlgIgnore, "&Ignorovaù"
  s_MsgDlgAll, "&Vöetky"
  s_MsgDlgNoToAll, "&Nie pre vöetky"
  s_MsgDlgYesToAll, "°Ano pre vöetky"

  s_RestoreStr, "Obnoviù"
  s_MoveStr, "Pohyb"
  s_SizeStr, "Ve kosù"
  s_MinimizeStr, "Minimalizovaù"
  s_MaximizeStr, "Maximalizovaù"
  s_CloseStr, "Zavrieù"

  s_HintClose, "Zavrieù"
  s_HintMaximize, "Maximalozovaù"
  s_HintMinimize, "Minimalizovaù"
  s_HintRestore, "Obnoviù"
  s_HintHelp, "Pomoc"

  s_FileOpen, "Otvoriù s∑bor"

  s_Calculator, "Kalculator"
  s_GradBuilder, "&Gradient builder..."
  s_HotGradBuilder, "&Hot gradient builder..."
  s_Panels, "&Panely..."

  s_AvailSkins, "Dostupn  sk ny"
  s_InternalSkin, "(vn∑tornò)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"
}