#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  53000, "Text suchen"
  53001, "Zu &suchender Text"
  53002, "Optionen"
  53003, "Groﬂ-/&Kleinschreibung"
  53004, "Ursprung"
  53005, "&1te Seite"
  53006, "&Aktuelle Seite"
;--- PreviewForm resources ---------------------------------------------------
  53020, "&Seitenbreite"
  53021, "&ganze Seite"
  53022, "&2 Seiten"
  53023, "schlieﬂe Vorschau"
  53024, "Grˆﬂe"
  53025, "÷ffne Report"
  53026, "Speicher report"
  53027, "Drucke report"
  53028, "suche Text"
  53029, "Bearbeite Seite"
  53030, "Seite hinzu"
  53031, "Seite lˆschen"
  53032, "zeige Hilfe"
;--- PrintForm resources ---------------------------------------------------
  53040, "Drucken"
  53041, "Drucker"
  53042, "Eigenschaften"
  53043, "&Kopien:"
  53044, "Seitenbereich"
  53045, "&Alles"
  53046, "aktuelle &Seite"
  53047, "&Nummern:"
  53048, "Geben Sie Seitennummern getrennt durch Komma ein. Zum Beispiel, 1,3,5-12"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Abbruch"
  SYes, "Ja"
  SNo, "Nein"
  SPg, "Seite"
  SNotAssigned, "[keiner]"
  SBand1, "Report Titel"
  SBand2, "Report Zusammenfassung"
  SBand3, "Seitenkopf"
  SBand4, "Seitenfuﬂ"
  SBand5, "Hauptkopf"
  SBand6, "Hauptdaten"
  SBand7, "Hauptfuﬂ"
  SBand8, "Detailkopf"
  SBand9, "Detaildaten"
  SBand10, "Detailfuﬂ"
  SBand11, "Unterdetail Kopf"
  SBand12, "UnterdetaÌl Daten"
  SBand13, "UnterdetaÌl Fuﬂ"
  SBand14, "‹berlagerung"
  SBand15, "Spaltenkopf"
  SBand16, "Spaltenfuﬂ"
  SBand17, "Gruppenkopf"
  SBand18, "Gruppenfuﬂ"
  SBand19, "Kreuzkopg"
  SBand20, "Kreuzdaten"
  SBand21, "Kreuzfuﬂ"
  SBand22, "keins"
  SCateg1, "Text"
  SCateg2, "Zahlen"
  SCateg3, "Datum"
  SCateg4, "Zeit"
  SCateg5, "Wahrheitswert"
  SFormat11, "[keiner]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "angepaﬂt"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 Nov 1998"
  SFormat34, "15 November 1998"
  SFormat35, "angepaﬂt"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "angepaﬂt"
  SFormat51, "0;1"
  SFormat52, "Nein;Ja"
  SFormat53, "_;x"
  SFormat54, "Falsch;Wahr"
  SFormat55, "angepaﬂt"
  SDateFormat1, "dd.mm.yy"
  SDateFormat2, "dd.mm.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "von"
  SErrorOccured, "Fehler beim Berechnen"
  SDoc, "Report:"
  SBand, "Bereich:"
  SReportPreparing, "Bereite Report"
  SFirstPass, "Erster Durchlauf:"
  SPagePreparing, "Bearbeite Seite:"
  SError, "Fehler"
  SPreview, "Vorschau"
  SPagePrinting, "Drucke Seite:"
  SUntitled, "Unbenannt"
  SPrinterError, "Der gew‰hlte Drucker ist ung¸ltig"
  SRepFile, "Reportdatei"
  STextFile, "ASCII Textdatei"
  SRTFFile, "RTF Textdatei"
  SCSVFile, "CSV Datei"
  SHTMFile, "HTML Datei"
  SFilter, "Filter Eigenschaften"
  SFilterParam, "Durchschnittliche Zeichensatzhˆhe:"
  SFont, "Zeichensatz..."
  SCharset, "0"
  SBarcodeError, "Fehler im Barcode"
  SFRFError, "Unsupported FRF format"
}
