BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
TR {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
A {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
INPUT {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma,Times,Arial,Sans
}
INPUT.votcol {
	BACKGROUND-COLOR: #b6bdb3
}
TEXTAREA {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma,Times,Arial,Sans; BACKGROUND-COLOR: #ffffff
}
H1 {
	MARGIN-TOP: 12px; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: -20px; COLOR: #50010a; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H2 {
	MARGIN-TOP: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: -20px; COLOR: #600010; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
B {
	COLOR: #333333
}
P {
	TEXT-INDENT: 0px; TEXT-ALIGN: justify; Zmargin-bottom: -10px
}
A {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.hm {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.hm:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.btm {
	COLOR: #ffffff
}
.lm {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.lmi {
	PADDING-LEFT: 24px; COLOR: #000000; TEXT-ALIGN: left
}
.hlmi {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; COLOR: #000000; TEXT-ALIGN: left
}
.rwh {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.rwt {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.mh {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
.mhf {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; LEFT: -1px; COLOR: #ffffff; POSITION: relative; TOP: -1px
}
.mhf2 {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #000000; POSITION: absolute
}
.mhfb {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; LEFT: -1px; COLOR: #ffffff; FONT-FAMILY: Tahoma,Times,Arial,Sans; POSITION: relative; TOP: -1px
}
.mhfb2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma,Times,Arial,Sans; POSITION: absolute
}
A.lmil {
	TEXT-DECORATION: none
}
A.lmil:hover {
	TEXT-DECORATION: underline
}
A.lmilk {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.bl {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
.sp {
	LEFT: 0px; POSITION: relative; TOP: 0px
}
#g1 {
	VISIBILITY: hidden; POSITION: absolute
}
#g2 {
	VISIBILITY: hidden; POSITION: absolute
}
#g3 {
	VISIBILITY: hidden; POSITION: absolute
}
#g4 {
	VISIBILITY: hidden; POSITION: absolute
}
.fullprice {
	TEXT-DECORATION: line-through
}
.btn {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: 700; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 11px; BACKGROUND: #4881a5; BORDER-BOTTOM-WIDTH: 1px; CURSOR: hand; COLOR: white; FONT-FAMILY: Tahoma; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 1px
}
