#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  56000, "Report datasets"
  56001, "&Properties..."
  56002, "New &table..."
  56003, "New &query..."
  56004, "&Remove"
  56005, "&Close"
  56006, "New &database..."
;--- TablePropForm resources -------------------------------------------------
  56020, "General"
  56021, "&Name"
  56022, "&Fields"
  56023, "&Fields editor..."
  56024, "Other"
  56025, "&Index"
  56026, "Filter &expression"
  56027, "&Master"
  56028, "Ma&ster fileds"
;--- FieldsEditorForm resources ----------------------------------------------
  56040, "&Add fields..."
  56041, "Add &lookup..."
  56042, "&Select all"
  56043, "&Delete"
  56044, "&Exit"
;--- FieldsListForm resources ------------------------------------------------
  56060, "Available fields"
;--- LookupFieldForm resources -----------------------------------------------
  56070, "New lookup field"
  56071, "Field"
  56072, "&Name"
  56073, "&Type"
  56074, "&Size"
  56075, "Lookup definition"
  56076, "&Key field"
  56077, "&Dataset"
  56078, "&Lookup key"
  56079, "&Result field"
;--- QueryPropForm resources -------------------------------------------------
  56090, "Query properties"
  56091, "Other"
  56092, "&Master dataset"
  56093, "General"
  56094, "&Name"
  56095, "&Alias or path"
  56096, "&SQL"
  56097, "&Fields editor..."
  56098, "&Params editor..."
  56099, "&Load SQL from file"
  56100, "Sa&ve SQL to file"
;--- ParamsForm resources ----------------------------------------------------
  56110, "Parameters"
  56111, "&Data type"
  56112, "&Name"
  56113, "&Value:"
  56114, "&Ask for value before printing"
  56115, "Assign value from &master dataset"
  56116, "Va&riable:"
;--- FieldsLinkForm resources ------------------------------------------------
  56130, "&Detail fields"
  56131, "&Master fields"
  56132, "&Joined fields"
  56133, "&Add"
  56134, "&Clear"
;--- ParamsDialogForm resources ----------------------------------------------
  56150, "Parameters"
  56151, "4 points"
  56152, "8 points"
  56153, "Grid align"
  56154, "Close"
;--- PropForm resources ------------------------------------------------------
  56170, "Properties"
  56171, "&Text"
  56172, "&Font..."
  56173, "Lookup"
  56174, "&Dataset"
  56175, "&Key field"
  56176, "&List field"
  56177, "Kind"
  56178, "&Edit"
  56179, "&Combo"
  56180, "Look&up"
  56181, "Combo"
  56182, "&Autosize"
;--- DBPropForm resources ----------------------------------------------------
  56200, "Database properties"
  56201, "General"
  56202, "Parameters"
  56203, "&Name"
  56204, "&Connection string"  ; for ADO
  56205, "&File name"          ; for IBX
  56206, "&Alias name"         ; for BDE
  56207, "&Driver name"
  56208, "&Login prompt"
;--- SelectTblForm resources -------------------------------------------------
  56220, "Select table"
  56221, "Select from database"
  56222, "Select from file"
  56223, "&Database"
  56224, "&Table"
  56225, "&Browse..."        
;--- Strings resources -------------------------------------------------------
  SFields, "fields"
  SPath, "Path"
  SRemoveDS, "Delete this component?"
  STables, "Tables"
  SFieldType1, "StringField"
  SFieldType2, "SmallintField"
  SFieldType3, "IntegerField"
  SFieldType4, "WordField"
  SFieldType5, "BooleanField"
  SFieldType6, "FloatField"
  SFieldType7, "CurrencyField"
  SFieldType8, "DateField"
  SFieldType9, "TimeField"
  SFieldType10, "BlobField"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Data manager"
  SParams, "parameters"
  SQueryError, "Invalid SQL statement or parameters"
  STableProps, "Table properties"
  SParamDialog, "Parameters dialog"
  SInvalidParamValue, "Invalid parameter value"
  SDatabase, "Databases"
  SFieldSizeError, "Invalid field size"
}
