#include "ZRConst.pas"

STRINGTABLE

{
  szrParentReport        , "Um componente da classe %s somente pode pertencer ao relatório ou à bandas do relatório"
  szrParentBand          , "Um componente da classe %s somente pode pertencer à bandas do relatório"
  szrCircularMaster      , "Link circular não permitodo"
  szrNoChildBand         , "Bandas do tipo %s não podem ter filhos"
  szrNoControllerBand    , "Bandas do tipo %s não podem ter subcontroladores"
  szrNoStretch           , "A banda %s não pode expandir ou encolher"
  szrBandDelete          , "A banda %s contem labels .\nApagar ?"

  szrPrinterNotReady     , "Não estou pronto para começar um novo documento"
  szrPrinterNotFinished  , "Geração do relatório cancelada"
  szrPrinterPageIndex    , "Fora dos limites da página, página %d/%d, linha %d"
  szrPrinterNotBusy      , "Novo documento não iniciado"
  szrIllegalPageRange   , "Faixa de páginas inválida: %d..%d"
  szrInvalidFileName    , "Nome de arquivo inválido: %s"

  szrCompleted          , "Termidado"
  szrProcessing         , "Processando..."
  szrPrinting           , "Imprimindo..."

  szrOf                 , "de"
  szrFirstPageHint      , "Primeira Página"
  szrPrevPageHint       , "Página Anterior"
  szrNextPageHint       , "Próxima Página"
  szrLastPageHint       , "Última Página"
  szrSaveReportHint     , "Salva o relatório - Ctrl+S"
  szrLoadReportHint     , "Carrega o relatório"
  szrPrintReportHint    , "Imprime o relatório - Ctrl+P"
  szrPrintReport        , "Imprime"
  szrGotoPageNo         , "Vai para a página"
  szrPageNoHint         , "Vai para a página nº"
  szrSearchReport       , "Busca"
  szrSearchHint         , "Busca - F7,\nContinua - Shift+F7"

  szrPrinterSetup       , "Configuração da Impressora"
  szrFileFilter         , "Arquivo texto (*.txt)|*.txt|Todos (*.*)|*.*"
  szrEscapeModelCustom  , "<customizado>"
  szrEscapeModelNone    , "<nenhum>"
  szrConvertToOEM        , "Converte para OEM"
  szrIgnoreFontStyles    , "Ignora o estilo das fontes"
  szrEscapeModel         , "ESC-sequência"
  szrPrintDialogCaption  , "Config. Impressora"

  szrOK    , "OK"
  szrCancel, "Cancela"
  szrExit  , "&Sai"

  szrTime        , "hh:mm:ss"
  szrDate        , "dd/mm/yyyy"
  szrDateTime    , "dd/mm/yyyy hh:mm:ss"
  szrPageNumber  , "Nº"
  szrReportTitle , "Título"
  szrRecordNumber, "# ï/ï"
  szrRecordCount , "Nº Reg"

  szrExpressionError     , "Erro na expressão '%s'"
  szrExpressionParse     , "Expressão '%s' ainda não avalidada"
  szrInvalidNumeric      , "Número inválido na expressão '%s'"
  szrInvalidDate         , "Data inválida na expressão '%s'"
  szrInvalidString       , "String inválida na expressão '%s'"
  szrMissingBracket      , "Fechando '%s' está faltando na expressão '%s'"
  szrIllegalBracket      , "Uso Inválido de '%s' na expressão '%s'" 
  szrUnknownEntry        , "Funcão ou variável desconhecidos na expressão '%s'"
  szrIllegalUnary        , "Unidade inválida '%s' na expressão '%s'"

  szrBooleanFalse        , "Falso"
  szrBooleanTrue         , "Verdadeiro"
  szrIllegalLogics       , "Operações lógicas devem ter operadores boleanos"
  szrIllegalBitwise      , "Operações com bits devem ter operadores inteiros"
  szrIllegalDate         , "Operação com datas inválida"
  szrIllegalArguments    , "Número incorredo de argumentos para '%s'"
  szrCalculationError    , "Erro - avaliando '%s':\n%s"

  szrCircularVariable    , "Referência circular ilegal para '%s'"
  szrControllerLibrary   , "Variável controladora '%s'"

  szrDesignNone                 , "<nenhum>"
  szrDesignClose                , "&Fecha"
  szrDesignTSBands              , "Bandas e Grupos"
  szrDesignTSVars               , "Variáveis"
  szrDesignGBBands              , "Bandas"
  szrDesignGBGroups             , "Grupos"
  szrDesignTVBands              , "|Bandas do relatório"
  szrDesignLBGroups             , "|Grupos do nível corrente do relatório"
  szrDesignACBandsNew           , "Controlador"
  szrDesignACBandsRename        , "Renomear"
  szrDesignACBandsDelete        , "Apagar"
  szrDesignACGroupsNew          , "Novo"
  szrDesignACGroupsDelete       , "Apagar"
  szrDesignSureBandDelete       , "Apagar o painel %s. Tem certeza?"
  szrDesignSureGroupDelete      , "Apagar o grupo %s. Tem certeza?"
  
  szrDesignGBData               , "Controladores"
  szrDesignGRControllers        , "|Lista de controladores do relatório"
  szrDesignCellController       , "Controlador"
  szrDesignCellDataSet          , "Dados"
  szrDesignLADataFields         , "Campos"
  szrDesignLBDataFields         , "|Lista de campos disponíveis"

  szrDesignGBVariables          , "Variaveis"
  szrDesignLAVariableFields     , "Campos"
  szrDesignLBVariableFields     , "|Lista de variáveis de campos de dados"
  szrDesignLAVariableExpressions, "Exzpressões"
  szrDesignLBVariableExpressions, "|Lista de variáveis de expressões"
  szrDesignLAVariableTotals     , "Agregações"
  szrDesignLBVariableTotals     , "|Lista de variáveis de agregação"

  szrDesignACVariablesField     , "Campo"
  szrDesignACVariablesExpression, "Expressão"
  szrDesignACVariablesTotal     , "Agregação"
  szrDesignACVariablesDelete    , "Apagar"

  szrSearchDlgCaption           , "Busca de texto"
  szrSearchDlgInvitation        , "&Texto a buscar"
  szrSearchDlgIgnoreCase        , "Sensívem a MAIUSC/minusc"
  szrSearchDlgFromCurrent       , "&A partir da posição atual"
  szrSearchDlgStartSearch       , "&Localizar"
  szrSearchDlgContinueSearch    , "&Continuar"
  szrSearchNotFound             , "String '%s' não encontrada"
}
