TZREPORT                BITMAP  MOVEABLE PURE DISCARDABLE   "REPORT.BMP"

TZRSUBDETAIL            BITMAP  MOVEABLE PURE DISCARDABLE   "SUBDETAL.BMP"
                                             
TZRBAND                 BITMAP  MOVEABLE PURE DISCARDABLE   "BAND.BMP"

TZRCHILDBAND            BITMAP  MOVEABLE PURE DISCARDABLE   "CHILD.BMP"

TZRGROUP                BITMAP  MOVEABLE PURE DISCARDABLE   "GROUP.BMP"

TZRLABEL                BITMAP  MOVEABLE PURE DISCARDABLE   "LABEL.BMP"

TZRDBTEXT               BITMAP  MOVEABLE PURE DISCARDABLE   "DBTEXT.BMP"

TZREXPRESSION           BITMAP  MOVEABLE PURE DISCARDABLE   "EXPRESS.BMP"

TZRSYSDATA              BITMAP  MOVEABLE PURE DISCARDABLE   "SYSDATA.BMP"

TZRSYSTEMLABEL          BITMAP  MOVEABLE PURE DISCARDABLE   "SYSLABEL.BMP"

TZRTOTALLABEL           BITMAP  MOVEABLE PURE DISCARDABLE   "TOTAL.BMP"

TZRFRAMELINE            BITMAP  MOVEABLE PURE DISCARDABLE   "FRAME.BMP"

TZRPREVIEW              BITMAP  MOVEABLE PURE DISCARDABLE   "PREVIEW.BMP"

TZRCOMPOSITE            BITMAP  MOVEABLE PURE DISCARDABLE   "COMPOSIT.BMP"


