AB_MOVE   BITMAP ATBinHex_Scroll.bmp

AB_MOVE   CURSOR ATBinHex_Scroll.cur
AB_MOVE_U CURSOR ATBinHex_Scroll_up.cur
AB_MOVE_D CURSOR ATBinHex_Scroll_down.cur
AB_MOVE_L CURSOR ATBinHex_Scroll_left.cur
AB_MOVE_R CURSOR ATBinHex_Scroll_right.cur
