P4_BUTTON_ADD BITMAP "Btn_Add.bmp"
P4_BUTTON_SUBMIT BITMAP "Btn_Submit.bmp"
P4_BUTTON_EDIT BITMAP "Btn_Edit.bmp"
P4_BUTTON_REVERT BITMAP "Btn_Revert.bmp"
P4_BUTTON_LOCK BITMAP "Btn_Lock.bmp"
P4_BUTTON_UNLOCK BITMAP "Btn_Unlock.bmp"
P4_BUTTON_SYNC BITMAP "Btn_Sync.bmp"
P4_BUTTON_DIFF BITMAP "Btn_Diff.bmp"
P4_BUTTON_REVISION_HISTORY BITMAP "Btn_RevisionHistory.bmp"
P4_BUTTON_VISUAL_CLIENT BITMAP "Btn_P4.bmp"

