/****************************************************************************

vgVCLRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgVCLRes.pas"

STRINGTABLE
{
  SRegSystem           , "VG System"
  SRegTools            , "VG Tools"
  SRegControls         , "VG Controls"
  SRegExplorer         , "VG Explorer"
  SRegReports          , "VG Reports"
  SRegDataAccess       , "VG Data Access"
  SRegDataControls     , "VG Data Controls"
  SRegMultiTier        , "VG Multi-tier"
  SRegMisc             , "VG Misc"
  SRegVGServer         , "VG Server"

  SRegIniFile          , "VGLib"
  SRegIniSection       , "Defaults"

  SCannotDeleteFile    , "No se puede borrar'%s'";
  SCannotRenameFile    , "No se puede renombrar '%s' to '%s'";
  STlsCannotAlloc      , "No se puede crear TLS";
  SUknownCompressorSign, "Firma del compresor desconocida: %s";
  SBadVariantType      , "Tipo variant incorrecto: %s";
  SNA                  , "Operaciãn no aplicable";
  SNIA                 , "No hay informaciãn disponible";
  SNotSupported        , "Capacidad no soportada";
  SNIY                 , "No implementado aên";

  SParameterNotFound   , "Parameter %s no encontrado";
  SParamTooBig         , "Parameter %s es mayor de %d bytes";
  SFieldUndefinedType  , "Parameter %s es de tipo indefinido";
  SFieldUnsupportedType, "Parameter %s es de un tipo no soportado";
  STextTrue            , "0=0";
  STextFalse           , "0=1";
  SCircularLink        , "No se permiten referencias circulares";
  SItemNotFound        , "Item %s no encontrado"; 
  SDuplicateItem       , "El item %s est¡ duplicado";

  SsrCurrency          , "Euro\nEuros\nEuros\n"
  SsrCurrencySub       , "cent\ncents\ncents\n"
  SsrMaleOne           , "uno\ndos\ntres\ncuatro\ncinco\nseis\nsiete\nocho\nnueve\n"
  SsrFemaleOne         , "una\ndos\ntres\ncuatro\ncinco\nseis\nsiete\nocho\nnueve\n"
  SsrTen               , "diez\nveinte\ntreinta\ncuarenta\ncincuenta\nsesenta\nsetenta\nochenta\nnoventa\n"
  SsrFirstTen          , "once\ndoce\ntrece\ncatorce\nquince\ndieciséis\ndiecisiete\ndieciocho\ndiecinueve\n"
  SsrHundred           , "cien\ndos cientos\ntres cientos\ncuatro cientos\nquinientos\nseiscientos\nsetecientos\nochocientos\nnovecientos\n"
  SsrThousand          , "\nmil\nmil\n"
  SsrMillion           , "millón\nmillón\nmillón\n"
  SsrBillion           , "billãn\nbillãn\nbillãn\n"
  SsrZero              , "cero"

  SLoginDialogCaption,   "Introduzca nombre de usuario y clave"
  SLoginCaption,         "&Usuario:"
  SLoginPassword         "&Clave:"

}

