/****************************************************************************

vgWPRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgWPRes.pas"

STRINGTABLE 
{
 SBookmarkNotFound, "Marca '%s' no enctrada"
 SConnectError, "No se pudo ejecutar MS-Word"
 SNotConnected, "Microsoft Word no está cargado"
 SInvalidChar, "Carácter especial inválido"
 SPrinting, "Mientras se imprime no se puede ejecutar esta operación"
 SFileNotFound, "Archivo '%s' no encontrado"
 SInvalidFileName, "Nombre de archivo incorrecto: '%s'"
 SNewDocError, "Microsoft Word no pudo crear un documento nuevo\n%s"
 SOpenDocError, "Microsoft Word no pudo abrir el documento\n%s"
 SBookmarksNotFound, "No hay marcas definidas en el documento"
 SGroupsNotFound, "No hay grupos definidos en el documento"
 SBookmarkSQLNotFound, "Marca SQL en el grupo '%s' no encontrada"
 SInvalidBookmark, "Nombre de marca inválido '%s'"
 SInvalidBookmarkText, "Texto de la marca inválido '%s'"
 SInvalidNesting, "Anidamiento de marcas inváldo '%s' y '%s'"
 SDuplicateSQL, "Se encontraron dos o más marcas SQL en el grupo %s"
 SFieldNotFound, "Campo '%s' para la marca '%s' no encontrado"
 SDataSetClassEmpty, "DataSetClass no definido"
}



