/****************************************************************************

vgWPRes.res

  Vladimir Gaitanoff Delphi VCL Library
  Copyright (c) 1997, 1998

*****************************************************************************/

#include "vgWPRes.pas"

STRINGTABLE
{
  SBookmarkNotFound     , "Bladwijzer '%s' niet gevonden"
  SConnectError         , "Kan Microsoft Word niet starten"
  SNotConnected         , "Microsoft Word is niet gestart"
  SInvalidChar          , "Ongeldig speciaal character"
  SPrinting             , "Kan de bewerking niet tijdens het printen uitvoeren"
  SFileNotFound         , "Bestand '%s' niet gevonden"
  SInvalidFileName      , "Ongeldige bestandsnaam: '%s'"
  SNewDocError          , "Microsoft Word kan geen nieuw document\n%s aanmaken"
  SOpenDocError         , "Microsoft Word kan het document\n%s niet openen"
  SBookmarksNotFound    , "In het document zijn geen bladwijzers gedefinieerd"
  SGroupsNotFound       , "In het document zijn geen groepen gedefinieerd"
  SBookmarkSQLNotFound  , "SQL bladwijzer in groep '%s' is niet gevonden"
  SInvalidBookmark      , "Ongeldige bladwijzer naam '%s'"
  SInvalidBookmarkText  , "Ongeldige bladwijzer inhoud'%s'"
  SInvalidNesting       , "Ongeldige bladwijzer inkapseling '%s' and '%s'"
  SDuplicateSQL         , "Er zijn twee of meer SQL bladwijzers gevonden in groep %s"
  SFieldNotFound        , "Veld '%s' behorend bij bladwijzer '%s' niet gevonden"
  SDataSetClassEmpty    , "DataSetClass niet gedefinieerd"
}

